@model MowerHelper.Models.BLL.Practice.PracticeblHome
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
         <title>Mower Helper-Find an Mower Helper</title>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../../favicon.ico" />
      @Scripts.Render("~/ThScripts/ElectricianHelpscripts")
     @Styles.Render("~/Content/themes/base/TherpistStyles")
    @Scripts.Render("~/ThScripts/ThAjaxscripts")
    <link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" type="text/css" />
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgKM4MCuYrILJ8CFPR-a5xXelNuobdK50" async defer></script>
     <style type="text/css">
             .dvLoading .ui-dialog-titlebar{display:none;}  
           tr.gridRow td:nth-child(1) {text-align:left; }
          tr.gridAltRow td:nth-child(1) {text-align:left; }
                    tr.gridRow td:nth-child(7) {text-align:right; }
          tr.gridAltRow td:nth-child(7) {text-align:right; }
          tr.gridRow td:nth-child(8) {text-align:left; }
          tr.gridAltRow td:nth-child(8) {text-align:left; }
          .ui-datepicker-trigger{ margin-left: 5px; vertical-align: middle; }
          tr.gridHead th:nth-child(2) { width: 125px; }
          .gridTable
        {
            width: 100%;
        }
                     .item
        {
            position: relative !important;
            display: -moz-inline-stack;
            display: inline-block;
            zoom: 1;
            *display: inline;
            overflow: hidden;
            white-space: nowrap;
        }

        .header
        {
            margin-left: 2px;
        }

        .c1
        {
            width: 160px;
        }

        .c2
        {
            margin-left: 10px;
            width: 90px;
        }
          .multcolumn .ob_iCboICBC li
        {
            float: left;
            width: 60px;       
        }        
            
        /* For IE6 */
        * HTML .multcolumn .ob_iCboICBC li
        {
           -width: 55px;
        }        
        * HTML  .multcolumn .ob_iCboICBC li b
        {
            width: 55px;
            overflow: hidden;
        }   
           .multcolumn2 .ob_iCboICBC li
        {
            float: left;
            width: 165px;       
        }        
            
        /* For IE6 */
        * HTML .multcolumn2 .ob_iCboICBC li
        {
           -width: 164px;
        }        
        * HTML  .multcolumn2 .ob_iCboICBC li b
        {
            width: 164px;
            overflow: hidden;
        } 
    </style>
     
    <script type="text/javascript">
        $(function () {
            JqAutocomplete('@Url.Action("GetClientfullname", "Clients")', "txtpatients",'', 'hdnproviderid');  
      @*      $('#txtpatients').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetClientfullname", "Clients")',
                        data: { term: request.term, PracticeID: document.getElementById("hdnproviderid").value },
                        dataType: 'json',
                        type: 'GET',
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.Name,
                                    value: item.value
                                }

                            }));
                        }
                    })
                },
                focus: function (event, ui) {
                    $('#txtpatients').val(ui.item.label);
                    return false;
                },
                select: function (event, ui) {
                   
                    $('#txtpatients').val(ui.item.label);
                    return false;
                },

                minLength: 1
            });*@
            JqAutocomplete('@Url.Action("GetProviderNames", "Clients")', 'txtprovider','hdnproviderid');
   
        });
    </script>
   <script type="text/javascript">
       function printcustmlistexel(){
           var lastnm=document.getElementById('hdnlname').value;
           var fullnm=document.getElementById('hdbfunm').value;
           var norec=document.getElementById('hdnnorec').value;
           var pgno=document.getElementById('hdnpgno').value;
           var orderby=document.getElementById('hdnordby').value;
           var orderbyitem=document.getElementById('hdnorbyitem').value;
           var status=document.getElementById('hdnstatus1').value;
           var proid=document.getElementById('hdnproid').value;
           window.location.href='CustomerList/?lsatnm=' +lastnm + '&fullnm=' + fullnm + '&norec=' + norec + '&pgno=' + pgno + '&orderby=' + orderby + '&orderbyitem=' + orderbyitem + '&status=' + status + '&proid=' + proid;
       }
   </script>
           <script type="text/javascript">
               //  $(function () {
               function fnlanglat(address) {
                   $.getJSON("Getaddress", { address: address },
                 function (data) {
                    
                     var geocoder = new google.maps.Geocoder();
                     var address = data.l_GoogleMapPath;
                     // var add=address.replace('-',',').trim();
                    // alert(address);
                     geocoder.geocode({ 'address': address }, function (results, status) {
                         if (status == google.maps.GeocoderStatus.OK) {
                             var latitude = results[0].geometry.location.lat();
                             var longitude = results[0].geometry.location.lng();
                             var latlng = new google.maps.LatLng(latitude, longitude);
                             var myOptions = {
                                 zoom: 15,
                                 center: latlng,
                                 mapTypeId: google.maps.MapTypeId.ROADMAP
                             };
                             map = new google.maps.Map(document.getElementById("custmermap"), myOptions);
                             var marker = new google.maps.Marker
                             (
                                 {
                                     position: new google.maps.LatLng(latitude, longitude),
                                     map: map
                                 }
                             );
                             var infowindow = new google.maps.InfoWindow({ content: "<div style='padding-bottom: 9pt; width:275px;'><b>" + address + "</b></div>" });
                             infowindow.open(map, marker);
                             google.maps.event.addListener(marker, 'click', function () {
                                 infowindow.open(map, marker);
                             });

                         }
                         else if (data.ErrorMessage == 'false') {
                             alert('Session is expired. You will be redirected to session expired page');
                             window.location = '@Url.Action("SessionExpire", "Home")';
        }
                         else {
                             alert("Request failed.")
                         }
                     });

                     $("#custmermap").dialog({
                         width: 1000, height: 600, modal: true
                     });
                           
   
                 });
                   return false;
               }
                   
               // });
            </script>
           @* <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>*@
  
     <script type="text/javascript">
         $.ajaxSetup({ cache: false });
         function Submitclick(e) {
             e.preventDefault();
             var Roleid = '@Session["RoleID"]';
             //   alert(Roleid);
             var txtpatients = trim(document.getElementById('txtpatients').value);
             var GlbSearch_PatientType = trim(document.getElementById('GlbSearch_PatientType').value);
             var ddlrecords = trim(document.getElementById('ddlrecords').value);
             $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
             if (Roleid == 1) {

                 var txtprovider = trim(document.getElementById('txtprovider').value);
                 // var PracticeID = document.getElementById('hdnpracticeid').value;
                 var ProviderID="";
                
                 if(txtprovider!='')
                 {
                     ProviderID = document.getElementById('hdnproviderid').value;
                 }
                 
                 //location.href = '@Url.Action("ClientsHome", "Clients")?txtpatients=' + txtpatients + '&GlbSearch_PatientType=' + GlbSearch_PatientType + '&ddlrecords=' + ddlrecords + '&txtprovider=' + txtprovider + '&ProviderID=' + ProviderID;
                 $('#gridcontent1').load('@Url.Action("ClientsHomePartial", "Clients")?txtpatients=' + escape(txtpatients) + '&GlbSearch_PatientType=' + GlbSearch_PatientType + '&ddlrecords=' + ddlrecords + '&txtprovider=' + txtprovider + '&Provider_ID=' + ProviderID, function (data) { $('#dvLoading').dialog('close'); });
                }
                else {
                    //  onchange = "this.form.submit();"
                 //window.location= '@Url.Action("ClientsHome", "Clients")?txtpatients=' + txtpatients + '&GlbSearch_PatientType=' + GlbSearch_PatientType + '&ddlrecords=' + ddlrecords;
                 $('#gridcontent1').load('@Url.Action("ClientsHomePartial", "Clients")?txtpatients=' + escape(txtpatients) + '&GlbSearch_PatientType=' + GlbSearch_PatientType + '&ddlrecords=' + ddlrecords, function (data) { $('#dvLoading').dialog('close'); });
                    // this.form.submit();
                }
            }
            function Insclick(instext) {
                if (instext == "NA") {
                    return false;
                }

            }
        </script>
</head>
<body>
  @*@using (Html.BeginForm("ClientsHome", "Clients", FormMethod.Get, null))
  {*@
       @* @Html.Hidden("hdnpracticeid");*@
        @* <input type="hidden" id="hdnpracticeid" name="hdnpracticeid" value="@ViewBag.PracticeID"  />*@
       @*<input type="hidden" id="hdnproviderid" name="hdnproviderid" value="@ViewBag.ProviderID" />*@@*
        <input type="hidden" id="" name="" />*@
          <input type="hidden" id="hdnlname" name="hdnlname" value="@Model.LastName" />
          @*<input type="hidden" id="hdbfunm" name="hdbfunm" value="@Model.fullname" />
          <input type="hidden" id="hdnnorec" name="hdnnorec" value="@Model.NoofRecords" />
          <input type="hidden" id="hdnpgno" name="hdnpgno" value="@Model.PageNo" />
          <input type="hidden" id="hdnordby" name="hdnordby" value="@Model.OrderBy" />
        <input type="hidden" id="hdnorbyitem" name="hdnorbyitem" value="@Model.Orderbyitem" />
        <input type="hidden" id="hdnstatus1" name="hdnstatus1" value="@Model.Patient_Status_ID" />
        <input type="hidden" id="hdnproid" name="hdnproid" value="@Model.Provider_ID" />*@
      <input type="hidden" id="hdnpatid" name="hdnpatid" />
        <div>
            @{Html.RenderAction("Topsection", "Tools");}
        </div>
                <div id="main-content">
                    @if (Session["RoleID"].ToString() == "1")
                    {
        @Html.Partial("_NavigationTool")
                    }
                     <table width="100%" cellpadding="0" cellspacing="0">
          @*  @if (Session["roleid"].ToString() == "1")
            {
                            <tr id="trtabs" runat="server">
                                <td width="100%" class="navigation">
                                    <div class="admin-tab">
                                        <a class="admin-link" id="admincust" href="ClientsHome" ><span>Customers</span>
                                        </a>
                                    </div>
                                    <div class="admin-tab">
                                        <a class="inadmin-link" id="admintask"  href="../Task/TaskList"><span>Tasks </span>
                                        </a>
                                    </div>
                                
                                    <div class="admin-tab">
                                        <a class="inadmin-link" id="adminnote" href="../Notes/ProfileNotes"><span>Notes</span>
                                        </a>
                                    </div>
                                                                  
                                </td>
                            </tr>
            }*@
                            <tr class="background_color">
                                <td id="tdtabs"  width="100%">
            <div class="content-box">
                <div class="content-box-header" id="Table7" runat="server" style="height: 25px">
                    <table width="100%" cellpadding="0" cellspacing="0" style="float: left;">
                        <tr>
                            <td width="10%" align="left">
                                <h3>
                                    Clients List</h3>
                             
                            </td>
                            @if (HttpContext.Current.Session["Roleid"].ToString() == "1")
                            {
                                
                            @* <td width="20%" align="left">
                                <ul style="list-style: none!important; padding-right: 5px; padding-top: 5px;" class="content-box-tabs">
                                    <li><strong>Practice name : </strong>&nbsp;
                                        <input type="text" name="txtpractice" id="txtpractice" class="textfield" style="width: 155px;" onkeypress="return fnsetfocus(event,'ibtnSearch1')" />
                                    </li>
                                </ul>
                            </td>*@
                            <td width="20%" align="left">
                                <ul style="list-style: none!important; padding-right: 5px; padding-top: 5px;" class="content-box-tabs">
                                    <li><strong>Mower helper : </strong>&nbsp;
                                    @*<input id="hdnProvidername" name="hdnProvidername" type="hidden" value="@Model.ProviderName"/>*@
                                   @* <input type="text" name="txtproviderhdn" id="txtproviderhdn" style="display:none;" />*@
                                        <input type="text" name="txtprovider" id="txtprovider" class="textfield" style="width: 155px;" onkeypress="return fnsetfocus(event,'ibtnSearch1')" />
                                    </li>
                                </ul>
                            </td>
                            }
                            <td width="20%" align="left">
                                <ul style="list-style: none!important; padding-right: 5px; padding-top: 5px;" class="content-box-tabs">
                                    <li><strong>Client : </strong>&nbsp;
                                        <input type="text" name="txtpatients" id="txtpatients" class="textfield" style="width: 155px;" onkeypress="return fnsetfocus(event,'ibtnSearch1')" />
                                    </li>
                                </ul>
                            </td>
                            <td width="10%" align="right">
                                <ul style="list-style: none!important; padding-right: 0px; padding-top: 5px;" class="content-box-tabs">
                                    <li>
                                        @Html.DropDownList("GlbSearch_PatientType", new List<SelectListItem>

                                                              {
                                                               //new SelectListItem{ Text="New", Value = "2" },
                                                               new SelectListItem{ Text="Active", Value = "1" },
                                                               new SelectListItem{ Text="Archived", Value = "4" },
                                                              // new SelectListItem{ Text="Rejected", Value = "3" }, 
                                                              // new SelectListItem{ Text="Suspend", Value = "5" }, 
                                                               new SelectListItem{ Text="All", Value = "0" }, 
                                                               //new SelectListItem{ Text="New/Active", Value = "6" }
                                                              },
                                                            new { style = "font-family:arial;font-size:13px;height:25px;width:100px;" })
                                    </li>
                                </ul>
                            </td>
                            <td width="4%" align="right">
                                <ul style="list-style: none!important; padding-right: 0px; padding-top: 5px;" class="content-box-tabs">
                                    <li>
                                        @*<input type="submit" name="btnSearch1" value="Search" id="ibtnSearch1" class="button" />*@
                <a id="lnkSearch" href="#" onclick="return Submitclick(event);" title="Search"><img alt="" id="" src="~/Images/search_button_green.png" style="width:30px;border-width:0px;" /></a>
                                             @* <input value="Search" type="button" name="btnSearch1" class="button" style="width: 60px;" id="btnSearch1" onclick="return Submitclick();"/>*@
                                    </li>
                                </ul>
                            </td>
                            <td width="10%" align="center">
                                @if (ViewBag.totrec != null)
                                {
                                
                                 <ul class="content-box-tabs" id="ulallexel" style="list-style: none!important; padding-right: 5px; ">
      <li> 
         <a id="lnkprint" href="#" onclick="return printcustmlistexel();" style="color: #0066CC;font-weight:bold;font-size:14px;">
         <img alt="" id="" src="~/Images/ExportExcel.png" style="width:40px;border-width:0px;" />
           </a>
            </li>
   </ul>
                                }
                                <ul style="list-style: none!important; padding-right: 5px; padding-top: 5px;" class="content-box-tabs">
                                    <li><strong>Rows per page :&nbsp;</strong>
                                       @*  @{Html.RenderAction("Rowsperpage", "Profiles", new { @id = "1" });}*@
                                         @Html.DropDownList("ddlrecords", new List<SelectListItem>
                                                           {
                                                                new SelectListItem{ Text="5", Value = "5" },
                                                               new SelectListItem{ Text="10", Value = "10" },
                                                               new SelectListItem{ Text="15", Value = "15" },
                                                               new SelectListItem{ Text="20", Value = "20" }, 
                                                               new SelectListItem{ Text="25", Value = "25" }, 
                                                               new SelectListItem{ Text="30", Value = "30" }, 
                                                               new SelectListItem{ Text="35", Value = "35" },
                                                               new SelectListItem{ Text="40", Value = "40" },
                                                               new SelectListItem{ Text="45", Value = "45" },
                                                               new SelectListItem{ Text="50", Value = "50" }, 
                                                              },
                                                             new { style = "font-family:arial;font-size:13px;height:20px;width:48px;" })
                                                                           <script>$("#ddlrecords").change(function () {
    
    $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
  
   if ($("#txtpatients").val() != "") {
       //window.location.href = "../Clients/ClientsHome?ddlrecords=" + $("#ddlrecords").val() + "&GlbSearch_PatientType=" + $("#GlbSearch_PatientType").val() +"&txtpatients=" + $("#txtpatients").val()+ '&ProviderID=' +document.getElementById('hdnproviderid').value;
       $('#gridcontent1').load("../Clients/ClientsHomePartial?ddlrecords=" + $("#ddlrecords").val() + "&GlbSearch_PatientType=" + $("#GlbSearch_PatientType").val() + "&txtpatients=" + escape($("#txtpatients").val()) + '&ProviderID=' + document.getElementById('hdnproviderid').value, function (data) { $('#dvLoading').dialog('close'); });
    }
    else {
                                                            
       //window.location.href = "../Clients/ClientsHome?GlbSearch_PatientType=" + $("#GlbSearch_PatientType").val() + "&ddlrecords=" + $("#ddlrecords").val() +"&txtpatients=" + $("#txtpatients").val()+ '&ProviderID=' +document.getElementById('hdnproviderid').value;
       $('#gridcontent1').load("../Clients/ClientsHomePartial?GlbSearch_PatientType=" + $("#GlbSearch_PatientType").val() + "&ddlrecords=" + $("#ddlrecords").val() + "&txtpatients=" + escape($("#txtpatients").val()) + '&ProviderID=' + document.getElementById('hdnproviderid').value, function (data) { $('#dvLoading').dialog('close'); });
    }
});</script>
                                    @* @{Html.RenderAction("Rowsperpage", "Practice", new { @id = "1" });}*@
                                      @*  @Html.DropDownList("ddlrecords", new List<SelectListItem>

                                                              {
                                                               new SelectListItem{ Text="5", Value = "5" },
                                                               new SelectListItem{ Text="10", Value = "10" },
                                                               new SelectListItem{ Text="15", Value = "15" },
                                                               new SelectListItem{ Text="20", Value = "20" }, 
                                                               new SelectListItem{ Text="25", Value = "25" }, 
                                                               new SelectListItem{ Text="30", Value = "30" }, 
                                                               new SelectListItem{ Text="35", Value = "35" },
                                                               new SelectListItem{ Text="40", Value = "40" },
                                                               new SelectListItem{ Text="45", Value = "45" },
                                                               new SelectListItem{ Text="50", Value = "50" }, 
                                                              },
                                  new { onchange = "return Submitclick();", style = "font-family:arial;font-size:13px;height:20px;width:48px;" })*@
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="dvLoading" style="display:none; text-align:center; vertical-align:middle">
     <img src="../Images/ajax-loader2.gif" alt="Processing"  />
    </div> 
               <div id="gridcontent1">
                   <img src="../Images/ajax-loader2.gif" alt="Processing" style="margin-left:45%;" />
               </div>
            </div>

            @*<input id="hdnpat" type="hidden" value="@Model.fullname"/>
            <input id="hdnpagesize" type="hidden" value="@Model.NoofRecords"/>
            <input id="hdnstatus" type="hidden" value="@Model.Patient_Status_ID"/>*@

                                    </td></tr></table>
        </div>
    <div>
        @{Html.RenderAction("Bottomsections", "Tools");}
    </div>
        <div id="divTransaction" title="Add transaction">
        </div>
      <div id="divDefaultcourt" title="Default Court Selection">
        </div>
                <div id="divInvoice" title="Send Invoice">
        </div>
        <div id="divquickview" title="Quick view"></div>
        <div id="TotalvisitsDialog" title="Appointments history"></div>
           <div id="dialog-confirm" title="Mower Helper" style="display: none;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Do you want to Archive this client?
            </p>
        </div>
         <div id="dialog-confirm1" title="Mower Helper" style="display: none;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Do you want to Active this client?
            </p>
        </div>
        <div id="custmermap" title="Client address"></div>  
      <div id="AddApptlDialog" title="Add Appointment">
            </div>@*
  }*@
    <script type="text/javascript">
        // alert(navigator.userAgent);
        var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        if(isMobile==true)
        {
            $('#tblcustomers td:nth-child(3),#tblcustomers th:nth-child( 3)').hide();
             
        }
        //  alert(isMobile);
    </script>
    
     <script type="text/javascript">
         $.ajaxSetup({ cache: false });
         var linkObj;
         $(function () {
             //$('#TotalvisitsDialog').dialog({
             //    autoOpen: false,
             //    width: 900,
             //    resizable: false,
             //    modal: true
             //});
             //$(".Totalvisitslink").click(function () {
             //    //change the title of the dialog
             //    linkObj = $(this);
             //    var dialogDiv = $('#TotalvisitsDialog');
             //    $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
             //    var viewUrl = linkObj.attr('href');
             //    //  alert(viewUrl);
             //    $.get(viewUrl, function (data) {
             //        dialogDiv.html(data);
             //        $('#dvLoading').dialog('close');
             //        dialogDiv.dialog('open');
             //    });
             //    return false;
             //});
             //$(".Quickviewlink").click(function () {
             //    //change the title of the dialog
             //    linkObj = $(this);
             //    var dialogDiv = $('#divquickview');
             //    $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
             //    var viewUrl = linkObj.attr('href');
             //    $.get(viewUrl, function (data) {
             //        dialogDiv.html(data);
             //        $('#dvLoading').dialog('close');
             //        dialogDiv.dialog('open');
             //    });
             //    return false;
             //});

         });
    </script>
   
       
    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
        function ddlchange(dId, patientid, patientlogin_id, status, PracticeID, ProviderID, ProviderLoginID, email, StrPatientName, Transactionexist, phone, courtId, patientList) {
            $('#hdnpatid').val(patientid);
            StrPatientName=StrPatientName.replace(/&#39;/g, "'");            
            if (status != "Active" & dId != "12") {
                 //               alert("1");
                //var dialogDiv = $('#divquickview');
                //$('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                var RoleID = '@Session["RoleID"]';
                if (RoleID != null) {
                    if (RoleID == 1) {
                        var viewUrl = "../Clients/quickview?PId=" + patientid + '&status=' + status + '&PracticeID=' + PracticeID + '&ProviderID=' + ProviderID + '&ProviderLoginID=' + ProviderLoginID;
                    }
                    else {
                        var viewUrl = "../Clients/quickview?PId=" + patientid + '&status=' + status;
                    }
                }
                Displaydialog('divquickview', viewUrl, 'auto', 950,'dvLoading',null,null);
                //$.get(viewUrl, function (data) {
                //    dialogDiv.html(data);
                //    $('#dvLoading').dialog('close');
                //    dialogDiv.dialog('open');
                //});
                //return false;
            }

            if(dId == "2"){
                //var dialogDiv = $('#divDefaultcourt');
                //$('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                var viewUrl = "../Clients/DefaultCourt?PatientId=" + patientid + "&courtId=" + courtId + "&ProviderID=" +ProviderID;
                Displaydialog('divDefaultcourt', viewUrl, 'auto', 900,'dvLoading',null,null);
                //$.get(viewUrl, function (data) {
                //    dialogDiv.html(data);
                //    $('#dvLoading').dialog('close');
                //    dialogDiv.dialog('open');
                //});
                //return false;
            }
            if (dId == "3") {
                if (patientid != '') {
                    var RoleID = '@Session["RoleID"]';
                    if (RoleID != null & Transactionexist=='Y') {
                        if (RoleID == 1) {
                            document.location = 'PrintSendBillNew?patientid=' + patientid + '&PracticeID=' + PracticeID + '&ProviderID=' + ProviderID + '&ProviderLoginID=' + ProviderLoginID;
                        }
                        else {
                            //document.location = 'PrintSendBillNew?patientid=' + patientid;
                            document.location = 'PrintReceipt?patientid=' + patientid + '&patientlogin_id=' + patientlogin_id ;
                            $('.ddlactionclass').val("0");
                            
                        }
                    }
                    else
                    {
                        var str='There are no transactions for client '+StrPatientName +'.';
                        alert(str);
                    }
                    $('.ddlactionclass').val("0");
                }
            }
            if (dId == "8") {
                //                alert("1");
                //$('#divTransaction').dialog({
                //    width: 900,
                //    open: function (event, ui) { $("#txtPayAmount").focus();}
                //});
                //var dialogDiv = $('#divTransaction');
                //$('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                        var viewUrl = "../Clients/CustomerTransactions?PId=" + patientid + '&frm=' + 'Home';
                        Displaydialog('divTransaction', viewUrl, 'auto', 900,'dvLoading',null,null);
                //$.get(viewUrl, function (data) {
                //    dialogDiv.html(data);
                //    $('#dvLoading').dialog('close');
                //    dialogDiv.dialog('open');
                //});
                //return false;
            }
            if (dId == "13") {
                if(email==null || email=="")
                {
                    //$('#divInvoice').dialog({
                    //    width: 700,
                    //    open: function (event, ui) { $("#txtPayAmount").focus();}
                    //});
                    //var dialogDiv = $('#divInvoice');
                    //$('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                    var viewUrl = "../Clients/CustInvoice?patientid=" + patientid + '&ProviderID=' + ProviderID + '&ProviderLoginID=' + ProviderLoginID; //+ '&PatientList=' + patientList;
                    Displaydialog('divInvoice', viewUrl, 'auto', 700,'dvLoading',null,null);
                    //$.get(viewUrl, function (data) {
                    //    dialogDiv.html(data);
                    //    $('#dvLoading').dialog('close');
                    //    dialogDiv.dialog('open');
                    //});
                    //return false;
                    //alert("Please provide your customer eamil id");
                }
                else
                {
                    
                    var msg="An invoice in the form of PDF file is sent to " + email +  " address."
                    alert(msg);
                    //document.location = 'CustomerInvoice?patientid=' + patientid + '&ProviderID=' + ProviderID + '&ProviderLoginID=' + ProviderLoginID;
                    $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                    $('#gridcontent1').load('CustomerInvoice?patientid=' + patientid + '&Provider_id=' + ProviderID + '&ProviderLoginID=' + ProviderLoginID, function (data) { $('#dvLoading').dialog('close'); }) //+ '&PatientList=' + patientList;
                }
                
            }

            if (dId == "14") {              
                //var dialogDiv = $('#AddApptlDialog');
                //$('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                var viewUrl = '../Clients/AddNewAppointment?customerid='+ patientid+'&customerLid='+patientlogin_id+'&customername='+StrPatientName+'&clientphone='+phone+'&providerid='+ProviderID+ "&courtId=" + courtId;
                Displaydialog('AddApptlDialog', viewUrl, 'auto', 900,'dvLoading',null,null);
                //$.get(viewUrl, function (data) {
                //    dialogDiv.html(data);
                //    $('#dvLoading').dialog('close');
                //    dialogDiv.dialog('open');
                //});
                //return false;                
            }
            if (dId == "11") {
                $("#dialog-confirm").dialog({
                    autoOpen: false,
                    height: 170,
                    width: 350,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    close: function () { $('.ddlactionclass').val("0"); },
                    buttons: {
                        "Yes": function () {
                            $(this).dialog("close");
                            var StatusID = "4";
                            var RoleID = '@Session["RoleID"]';
                            if (RoleID != null) {
                                $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                               if (RoleID == 1) {
                                   $('#gridcontent1').load('../Clients/ClientstatusChange?PId=' + patientid + '&StatusID=' + StatusID + '&Email=' + email + '&PracticeID=' + PracticeID + '&ProviderID=' + ProviderID + '&ProviderLoginID=' + ProviderLoginID, function (data) { $('#dvLoading').dialog('close'); });
                               }
                               else {
                                   //window.location = '../Clients/ClientstatusChange?PId=' + patientid + '&StatusID=' + StatusID + '&Email=' + email;
                                   $('#gridcontent1').load('../Clients/ClientstatusChange?PId=' + patientid + '&StatusID=' + StatusID + '&Email=' + email, function (data) { $('#dvLoading').dialog('close'); });
                               }
                           }

                        },
                        "No": function () {
                            $(this).dialog("close");
                            $('.ddlactionclass').val("0");
                        }
                    }
                });
                $("#dialog-confirm").dialog('open');
                return false;
               @* if (confirm("Do you want to archive this Customer ?")) {
                    var StatusID = "4";
                    var RoleID = '@Session["RoleID"]';
                    if (RoleID != null) {
                        if (RoleID == 1) {
                            window.location = '../Clients/ClientstatusChange?PId=' + patientid + '&StatusID=' + StatusID + '&PracticeID=' + PracticeID + '&ProviderID=' + ProviderID + '&ProviderLoginID=' + ProviderLoginID;
                        }
                        else {
                            window.location = '../Clients/ClientstatusChange?PId=' + patientid + '&StatusID=' + StatusID;
                        }
                    }
                    // window.location = '../Patients/PatientStatusChange?PId=' + patientid + '&StatusID=' + StatusID;

                    return false;
                }

                else {
                    $('.ddlactionclass').val("0");
                }*@
            }


            if (dId == "12") {

                $("#dialog-confirm1").dialog({
                    autoOpen: false,
                    height: 170,
                    width: 350,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    close: function () { $('.ddlactionclass').val("0"); },
                    buttons: {
                        "Yes": function () {
                            $(this).dialog("close");
                            var StatusID = "1";
                            var RoleID = '@Session["RoleID"]';
                            if (RoleID != null) {
                                $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                                  if (RoleID == 1) {
                                      $('#gridcontent1').load('../Clients/ClientstatusChange?PId=' + patientid + '&StatusID=' + StatusID + '&PracticeID=' + PracticeID + '&ProviderID=' + ProviderID + '&ProviderLoginID=' + ProviderLoginID + '&status=' + status, function (data) { $('#dvLoading').dialog('close'); });
                                  }
                                  else {
                                      //window.location = '../Clients/ClientstatusChange?PId=' + patientid + '&StatusID=' + StatusID + '&status=' + status;
                                      $('#gridcontent1').load('../Clients/ClientstatusChange?PId=' + patientid + '&StatusID=' + StatusID + '&status=' + status, function (data) { $('#dvLoading').dialog('close'); });
                                  }
                              }

                        },
                        "No": function () {
                            $(this).dialog("close");
                            $('.ddlactionclass').val("0");
                        }
                    }
                });
                $("#dialog-confirm1").dialog('open');
               return false;

@*                if (confirm("Do you want to active this Customer ?")) {
                    var StatusID = "1";
                    var RoleID = '@Session["RoleID"]';
                    if (RoleID != null) {
                        if (RoleID == 1) {
                            window.location = '../Clients/ClientstatusChange?PId=' + patientid + '&StatusID=' + StatusID + '&PracticeID=' + PracticeID + '&ProviderID=' + ProviderID + '&ProviderLoginID=' + ProviderLoginID + '&status=' + status;
                        }
                        else {
                            window.location = '../Clients/ClientstatusChange?PId=' + patientid + '&StatusID=' + StatusID + '&status=' + status;
                        }
                    }
                    // window.location = '../Patients/PatientStatusChange?PId=' + patientid + '&StatusID=' + StatusID;

                    return false;
                }

                else {
                    $('.ddlactionclass').val("0");
                }*@
            }
        }
        $(document).ready(function () {
            //$('#divDefaultcourt').dialog('close');
            //$('#divDefaultcourt').dialog({
            //    autoOpen: false,
            //    width: 900,
            //    resizable: false,               
            //    modal: true,
            //    close: function () {
            //        $('.ddlactionclass').val("0");
            //    }
            //});
            //$('#AddApptlDialog').dialog('close');
            //$('#AddApptlDialog').dialog({
            //    autoOpen: false,
            //    width: 900,
            //    resizable: false,               
            //    modal: true,
            //    close: function () {
            //        $('.ddlactionclass').val("0");
            //    }
            //});
            //$('#divTransaction').dialog('close');
            //$('#divTransaction').dialog({
            //    autoOpen: false,
            //    width: 900,
            //    resizable: false,
            //    modal: true,
            //    close: function () {
            //        $('.ddlactionclass').val("0");
            //    }

            //});
            //$('#divquickview').dialog({
            //    autoOpen: false,
            //    width: 950,
            //    resizable: false,
            //    modal: true,
            //    close: function () { $('.ddlactionclass').val("0"); }
            //});
            //$('#divInvoice').dialog('close');
            //$('#divInvoice').dialog({
            //    autoOpen: false,
            //    width: 700,
            //    resizable: false,
            //    modal: true,
            //    close: function () {
            //        $('.ddlactionclass').val("0");
            //    }

            //});

            $(".chgclose").live("click", function (e) {
                e.preventDefault();
                $('#divTransaction').dialog('close');
                $('.ddlactionclass').val("0");
            });
            $(".invclose").live("click", function (e) {
                e.preventDefault();
                $('#divInvoice').dialog('close');
                $('.ddlactionclass').val("0");
            });
            $(".quickcanbtn").live("click", function (e) {
                e.preventDefault();
                $('#divquickview').dialog('close');
            });
            $(".AddApptclose").live("click", function (e) {
                e.preventDefault();
                $('#AddApptlDialog').dialog('close');
                $('.ddlactionclass').val("0");
            });
            $(".defaultcancel").live("click", function (e) {
                e.preventDefault();
                $('#divDefaultcourt').dialog('close');
                $('.ddlactionclass').val("0");
            });           
        });
    </script>
     <script type="text/javascript">
         $(document).ready(function () {
             var TopIndex = '@Session["TopIndex"]';
             var roleid = '@Session["roleid"]';
             if (roleid == "1") {
                 $("#Menu0").removeClass();
                 $("#Menu1").removeClass();
                 $("#Menu2").removeClass();
                 $("#Menu3").addClass("active");
             }
         });
    </script>
   @* Add transction*@
    <script type="text/javascript">
        function ValidatecustomertransactionInfo() {
            ClearInlineAlert('lblErrPamount', 'tdEPamount', '#FFFFFF');
            ClearInlineAlert('lblAddErrEmail', 'tdAddTEmail', '#FFFFFF')
            ClearInlineAlert('lblErrMode', 'tdEpMode', '#FFFFFF');
            ClearInlineAlert('lblEpNotes', 'TdEPnotes', '#FFFFFF');
            ClearInlineAlert('lblErrPdate', 'tdEPdate', '#FFFFFF');
            var stremail = trim($('.AddTCustEmail').val());
            $('.AddTCustEmail').val(stremail);


            if ($('.AddTCustEmail').val() != '') {
                if (ValidateEmail($('.AddTCustEmail').val()) == 0) {
                    InlineAlert('lblAddErrEmail', 'tdAddTEmail', 'Please enter valid email.')
                    $('.AddTCustEmail').focus();
                    return false;
                }
                else {
                    ClearInlineAlert('lblAddErrEmail', 'tdAddTEmail', '#FFFFFF')
                }
            }

            //if (document.getElementById('ddlPayment').value != 1) {
            //    if (document.getElementById('ddlPaymentMode').value == '') {
            //        InlineAlert('lblErrMode', 'tdEpMode', 'Please select payment mode.'); document.getElementById('ddlPaymentMode').focus(); return false;
            //    }
            //    else { ClearInlineAlert('lblErrMode', 'tdEpMode', '#FFFFFF'); }

            //}
            if (document.getElementById('txtPayApptDate').value == '' || document.getElementById('txtPayApptDate').value == 'mm/dd/yyyy') { InlineAlert('lblErrPdate', 'tdEPdate', 'Please enter date'); document.getElementById('txtPayApptDate').focus(); return false; }
            else {
                ClearInlineAlert('lblErrPdate', 'tdEPdate', '#FFFFFF'); var strRetAlert = isValidDate(document.getElementById('txtPayApptDate').value);
                if (strRetAlert != "") { InlineAlert('lblErrPdate', 'tdEPdate', strRetAlert); document.getElementById('txtPayApptDate').focus(); return false; }
                else { ClearInlineAlert('lblErrPdate', 'tdEPdate', '#FFFFFF'); }
            }
            if (document.getElementById('txtPayApptDate').value.length > 0) {
                var date = document.getElementById('txtPayApptDate').value; var len = document.getElementById('txtPayApptDate').value.length;
                for (var i = 0; i < len; i++) {
                    var k = date.charAt(i); var digits = "0123456789/";
                    if ((digits.indexOf(k, 0)) == -1) { InlineAlert('lblErrPdate', 'tdEPdate', 'Please enter valid date'); document.getElementById('txtPayApptDate').value = ''; document.getElementById('txtPayApptDate').focus(); return false; }
                    else { ClearInlineAlert('lblErrPdate', 'tdEPdate', '#FFFFFF'); }
                }
            }
            var dtCur = new Date(); var dtGiven = new Date(document.getElementById('txtPayApptDate').value);
            if (dtCur < dtGiven) { InlineAlert('lblErrPdate', 'tdEPdate', 'Invalid payment info!!! charge date exceeding the current date.'); document.getElementById('txtPayApptDate').focus(); return false; }
            else { ClearInlineAlert('lblErrPdate', 'tdEPdate', '#FFFFFF'); }
            if (($('.AddTransAmt').val() == '') || (parseFloat($('.AddTransAmt').val()) <= 0) || $('.AddTransAmt').val() == "$0.00" || $('.AddTransAmt').val() == '.') {
                InlineAlert('lblErrPamount', 'tdEPamount', 'Please enter valid amount'); $('.AddTransAmt').focus(); return false;
            }
            else { ClearInlineAlert('lblErrPamount', 'tdEPamount', '#FFFFFF'); }
            if ($('.AddTransAmt').val().length > 0) {
                var amount = $('.AddTransAmt').val(); var len = $('.AddTransAmt').val().length;
                for (var i = 0; i < len; i++) {
                    var k = amount.charAt(i); var digits = "0123456789.";
                    if ((digits.indexOf(k, 0)) == -1) { InlineAlert('lblErrPamount', 'tdEPamount', 'Please enter valid amount'); $('.AddTransAmt').val() = ''; $('.AddTransAmt').focus(); return false; }
                }
            }

            var strNotes = $('.AddTNotes').val();
            if (strNotes.length > 1000) { InlineAlert('lblEpNotes', 'TdEPnotes', 'Notes can be up to 1000 characters'); $('.AddTNotes').focus(); return false; }
            else { ClearInlineAlert('lblEpNotes', 'TdEPnotes', '#FFFFFF'); }

            var objradNotAgree = document.getElementById('chkemail');
            if (objradNotAgree.checked == true) {
                if ($('.AddTCustEmail').val() == "") {
                    InlineAlert('lblAddErrEmail', 'tdAddTEmail', 'Please enter email.')
                    return false;
                }
                else {
                    ClearInlineAlert('lblAddErrEmail', 'tdAddTEmail', '#FFFFFF')
                }
            }
        }
        function isValidDate(strDate) {
            var dateStr = strDate; var datePat = /^(\d{1,2})(\/|-)(\d{1,2})\2(\d{4})$/; var month, day, year; var monthArray = new Array(); var matchArray = dateStr.match(datePat); var intShowI; var args; var strError = ""; monthArray[0] = "January"; monthArray[1] = "February"; monthArray[2] = "March"; monthArray[3] = "April"; monthArray[4] = "May"; monthArray[5] = "June"; monthArray[6] = "July"; monthArray[7] = "August"; monthArray[8] = "September"; monthArray[9] = "October"; monthArray[10] = "November"; monthArray[11] = "December"; args = IsValidDate.arguments
            if (dateStr != "") {
                if (matchArray == null)
                { strError = "Please enter date in mm/dd/yyyy format."; return strError; }
                month = matchArray[1]; day = matchArray[3]; year = matchArray[4]; if (year <= 1753)
                { strError = "Please enter a year greater than 1753."; return strError; }
                if (month < 1 || month > 12)
                { strError = "Month must be between 1 and 12."; return strError; }
                if (day < 1 || day > 31)
                { strError = "Day must be between 1 and 31."; return strError; }
                if ((month == 4 || month == 6 || month == 9 || month == 11) && day == 31) {
                    strError = monthArray[month - 1] + " doesn't have 31 days!"
                    return strError;
                }
                if (month == 2) {
                    var isleap = (year % 4 == 0 && (year % 100 != 0 || year % 400 == 0)); if (day > 29 || (day == 29 && !isleap))
                    { strError = "February " + year + " doesn't have " + day + " days!"; return strError; }
                }
            }
            return strError;
        }
        //function Clearcheckno() {
        //    if (document.getElementById('txtCheckNo').value == 'Check number') {
        //        document.getElementById('txtCheckNo').value = '';
        //    }

        //}
        //function Ccno() {
        //    if (document.getElementById('txtAuthNum').value == 'Last 4 digits of credit card') {
        //        document.getElementById('txtAuthNum').value = '';
        //    }

        //}
    </script>
    @*End Transaction*@
    @*INvoice*@
    <script type="text/javascript">
        function updateSuccess(data) {
            if (data.Success == true) {
                var apptdates = data.Object.StartDate;
                var redirectind = "1";                
                //window.location.href = '../Clients/ClientsHome';
                $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                $('#gridcontent1').load('../Clients/ClientsHomePartial', function (data) { $('#dvLoading').dialog('close'); });
                $('#AddApptlDialog').dialog('close');               
            }
            else {
                if (data.ErrorMessage == "1") {                
                    alert('Appointment already exists for the given time to the client');
                    $('#AddApptlDialog').dialog('open');
                }
                else if (data.ErrorMessage == "2") {                
                    alert('Appointment already exists for the given time.');
                    $('#AddApptlDialog').dialog('open');
                }
                else if (data.ErrorMessage == "Please select valid cpt code") {                 
                    alert('Please select valid cpt code.');
                    $('#AddApptlDialog').dialog('open');
                    document.getElementById('txtcptcode').focus();
                }
                @*else if (data.ErrorMessage == 'false') {
                    alert('Session is expired. You will be redirected to session expired page');
                    window.location = '@Url.Action("SessionExpire", "Home")';
                }*@
                else if (data.ErrorMessage == 'Client has already appointment for the same time') {
                    alert(data.ErrorMessage);
                }
                else {
                    if (data != "_Logon_") {
                        var obj = confirm(data.ErrorMessage);
                        if (obj == true) {
                            document.getElementById("hdnValidInd").value = "Y";
                            $("#updateCarForm").submit();
                            $('#AddApptlDialog').dialog('close');
                        }
                        else {
                            $('#AddApptlDialog').dialog('open');
                        }
                    }
                }
}
        }
        function UpdateCourtID(data)
        {
            if(data.Success == true)
            {
                alert("Default Court Location is saved successfully");
                //window.location.href = "../Clients/ClientsHome";
                $('#divDefaultcourt').dialog('close');
                $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                $('#gridcontent1').load("../Clients/ClientsHomePartial", function (data) { $('#dvLoading').dialog('close'); });
                
            }
        }
        function fnValidateData() {
            if ($('.CustInvoiceEmail').val() == '') {
                InlineAlert('lblErremail', 'tdemailmain', 'Please enter email');
                $('.CustInvoiceEmail').focus();
                return false;
            }
            if ($('.CustInvoiceEmail').val() != '') {
                var stremail = trim($('.CustInvoiceEmail').val());
                $('.CustInvoiceEmail').val(stremail);
                if (ValidateEmail($('.CustInvoiceEmail').val()) == 0) {
                    //Glb_ShowAlert("Please enter valid email");
                    InlineAlert('lblErremail', 'tdemailmain', 'Please enter valid email');
                    $('.CustInvoiceEmail').focus();
                    return false;
                }
                else {
                    ClearInlineAlert('lblErremail', 'tdemailmain', '#FFFFFF');
                }
            }
            @* var http = new XMLHttpRequest();
            http.open("POST", "../Clients/CustInvoice", true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var params = "Customer_Email=" + $('.CustInvoiceEmail').val() + "&Provider_id=" + '@Session["Prov_ID"]' + "&patientid=" + $('#hdnpatid').val() + "&ProviderLoginID=" + '@Session["UserID"]' + "&Ind=P";
            http.send(params);
            http.onload = function (data) {
                $('#divInvoice').dialog('close');
                $('.ddlactionclass').val("0");
                $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                $('#gridcontent1').load("../Clients/ClientsHomePartial", function (data) { $('#dvLoading').dialog('close'); });
                //$('#dvLoading').hide(10);
            }
            return false;*@

            $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
            $.ajax({                
                url: "@Url.Action("CustInvoice", "Clients")?Customer_Email=" + $('.CustInvoiceEmail').val() + "&Provider_id=" + '@Session["Prov_ID"]' + "&patientid=" + $('#hdnpatid').val() + "&ProviderLoginID=" + '@Session["UserID"]' + "&Ind=P",
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {
                $('.ddlactionclass').val("0");
                $('#gridcontent1').load("../Clients/ClientsHomePartial", function (data) { $('#dvLoading').dialog('close'); });
                $('#dvLoading').dialog('close');
                $('#divInvoice').dialog('close');
             }
        });

        }
    </script>
   @* End Invoice*@
    <script type="text/javascript">
        $(document).ready(function () {
            //$(window).on('hashchange', function (e) {
            //    history.replaceState("", document.title, "../Clients/ClientsHome");
            //});
            var value = document.getElementById('hdnlname').value;
            if (value != '') {
                $("#gridcontent1").load("../Clients/ClientsHomePartial?LastName="+value, function (data) { $('#dvLoading').dialog('close'); });
            }
            else {
                $("#gridcontent1").load("@Url.Action("ClientsHomePartial", "Clients")");
            }
        });
    </script>
</body>
</html>
