@using Obout.Mvc;
@using Obout.Mvc.ComboBox;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
    <script src="~/Scripts/Expire.js" type="text/javascript"></script>
       <title>Mower Helper-Find an Mower Helper</title>

   <script language="javascript" type="text/javascript">
       $(document).ready(function () {
           $('#dd_Group').change(function () {
               if (document.getElementById('dd_Group').value == '4') {
                   document.getElementById('tr_electrician').style.display = '';
               }
               else {
                   document.getElementById('tr_electrician').style.display = 'none';
               }
           });
           //document.getElementById('rd_Status_0').checked = true;
           //document.getElementById('rd_Status_3').checked = true;
           var ddgroup = '@ViewBag.Role_ID';
           $('#dd_Group').val(ddgroup);
           if (ddgroup == "4") {
               document.getElementById('tr_electrician').style.display = '';
           }
           else {
               document.getElementById('tr_electrician').style.display = 'none';
           }

           var ProvID = $('#hdnProvID').val();
           if (ProvID != '') {
              // $('#combobox2').val($('#hdnProvID').val());
               $("#combobox2").val("@ViewBag.ProvID");
           }
           var IsModerator = "@ViewBag.IsModerator";
           if (IsModerator=="1")
           {
               document.getElementById('tr_group').style.display = 'none';
               document.getElementById('tr_electrician').style.display = 'none';
           }
       });

       function rbtncheck() {

           document.getElementById('rd_Status_0').checked = true;
           document.getElementById('rd_Status_1').checked = false;
           document.getElementById('tr_group').style.display = '';
           //document.getElementById('tr_electrician').style.display = '';
           document.getElementById('dd_Group').value = '0';


       }
       function rbtncheck1() {
           document.getElementById('rd_Status_1').checked = true;
           document.getElementById('rd_Status_0').checked = false;
           document.getElementById('tr_group').style.display = 'none';
           document.getElementById('tr_electrician').style.display = 'none';
       }
       function rbtncheck2() {
           document.getElementById('rd_Status_2').checked = true;
           document.getElementById('rd_Status_3').checked = false;
       }
       function rbtncheck3() {
           document.getElementById('rd_Status_3').checked = true;
           document.getElementById('rd_Status_2').checked = false;
       }

        </script>
   <script type="text/javascript">

       function clear_alerts() {
           ClearInlineAlert('lbl_formname', 'td_form', 'white')
           ClearInlineAlert('lbl_moderator', 'td_moderator', 'white')
           ClearInlineAlert('lbl_electrician', 'td_electrician', 'white')
           ClearInlineAlert('lbl_desc', 'td_desc', 'white')
       }
       function validateforum() {
           if (trim(document.getElementById('txt_formname').value) == '') {
               clear_alerts()
               var strcptcode = document.getElementById('txt_formname').value;
               strcptcode = strcptcode.replace(/^\s+/, '');
               document.getElementById('txt_formname').value = strcptcode;
               InlineAlert('lbl_formname', 'td_form', 'Please enter fourm name!');
               document.getElementById('txt_formname').focus();
               return false;
           }
           else {
               ClearInlineAlert('lbl_formname', 'td_form', 'white')
           }

           if (document.getElementById('txt_formname').value.length > 100) {
               clear_alerts()
               InlineAlert('lbl_formname', 'td_form', 'Please enter at most 100 characters in the forum name field');
               document.getElementById('txt_formname').focus();
               return false;
           }
           else {
               ClearInlineAlert('lbl_formname', 'td_form', 'white')
           }
           if (document.getElementById('tr_group').style.display == '') {
               if (document.getElementById('dd_Group').value == '0') {
                   clear_alerts()
                   InlineAlert('lbl_moderator', 'td_moderator', 'Please select forum moderator');
                   document.getElementById('dd_Group').focus();
                   return false;
               }
           }
           if (document.getElementById('tr_electrician').style.display == '') {
               if (combobox2.selectedIndex() == -1) {
                   clear_alerts()
                   InlineAlert('lbl_electrician', 'td_electrician', 'Please select mower helper');
                   return false;

               }
           }
           if (document.getElementById('txt_desc').value == '') {
               clear_alerts()
               InlineAlert('lbl_desc', 'td_desc', 'Please enter description.');
               document.getElementById('txt_desc').focus();
               return false;
           }
           if (document.getElementById('txt_desc').value.length > 1000) {
               clear_alerts()
               InlineAlert('lbl_desc', 'td_desc', 'Description can be up to 1000 characters.');
               document.getElementById('txt_desc').focus();
               return false;
           }
           else {
               ClearInlineAlert('lbl_desc', 'td_desc', 'white')
           }
       }
</script>

</head>
<body>
     @using (Ajax.BeginForm("EditForum", "Forums", new AjaxOptions
     {
         InsertionMode = InsertionMode.Replace,
         HttpMethod = "POST",
         OnSuccess = "EditforumSuccess",
         OnComplete = "SessionExpireFail"

     }, new { @id = "updateCarForm" }))
     {
         <input id="hdnProvID" name="hdnProvID" type="hidden" value="@ViewBag.ProvID"/>
           <input id="hdnForum_ID" name="hdnForum_ID" type="hidden" value="@ViewBag.Forum_ID"/>
     <div class="content-box" >
    <div class="content-box-content">
         <table align="center" border="0" class="border_style" cellpadding="7" cellspacing="1" id="tblErrPwd"
                                        width="100%">

                          

                                        <tr class="white_color">
                                            <td align="right" style="width:30%;">
                                                <font color="Red"><b>&nbsp;*</b></font><strong>Forum Name&nbsp;:&nbsp;</strong>
                                                 
                                            </td>
                                             <td align="left" id= "td_form" style="width:70%;">
                                                         @Html.TextBox("txt_formname", (string)ViewBag.txt_formname, new { @class = "textfield", MaxLength = "150", style = "width:200px", autocomplete = "off" })
                                                           
                                                           &nbsp;&nbsp;<span id="lbl_formname" style="font-weight: bold; color: Black;"></span>
                                                         </td>
                                            </tr>
                                                     <tr class="white_color">
                                                        <td align="right" style="width:30%;">
                                                            <font color="Red"><b>&nbsp;*</b></font><strong>Moderated Forum&nbsp;:&nbsp;</strong>
                                                        </td>
                                                        <td align="left" style="width:70%;">

                                                                                                                                     @{
                                                                             bool str0 = false;
                                                                             bool str1 = false;
                                                                             }
                                                                           @if (ViewBag.IsModerator != null)
                                                                           {
                                                                               if (ViewBag.IsModerator.ToString() == "0")
                                                                               {
                                                                                   str0 = true;
                                                                                   str1 = false;
                                                                               }
                                                                               else if (ViewBag.IsModerator.ToString() == "1")
                                                                               {
                                                                                   str0 = false;
                                                                                   str1 = true;
                                                                               }
                                                                           }
                                                         @Html.RadioButton("rd_Status_0", "Yes",str0, new { @GroupName = "grpoffice", onclick = "return rbtncheck();" })&nbsp;Yes&nbsp;
                                                         @Html.RadioButton("rd_Status_1", "No",str1, new { @GroupName = "grpoffice", onclick = "return rbtncheck1();" })&nbsp;No &nbsp;
                                                       
                                                        </td>
                                                       
                                                        </tr>

              <tr class="white_color" id="tr_group">
                                            <td align="right" style="width:30%;">
                                                <font color="Red"><b>&nbsp;*</b></font><strong>Forum Moderator&nbsp;:&nbsp;</strong>
                                                 
                                            </td>
                                             <td align="left" id= "td_moderator" style="width:70%;">
                                                              @Html.DropDownList("dd_Group", new List<SelectListItem>

                                                              {
                                                               new SelectListItem{ Text="--Select Moderator Group--", Value = "0" },
                                                               new SelectListItem{ Text="Administrator", Value = "1" },
                                                               new SelectListItem{ Text="Practice Admin", Value = "4" }
                                                              },
                                                               new { style = "font-family:arial;font-size:13px;height:20px;width:200px;" })
                                                           
                                                          &nbsp;&nbsp;<span id="lbl_moderator" style="font-weight: bold; color: Black;"></span>
                                                         </td>
                                            </tr>
             <tr class="white_color" id="tr_electrician" style="display:none;">
                                            <td align="right" style="width:30%;">
                                                <font color="Red"><b>&nbsp;*</b></font><strong>Mower Helper&nbsp;:&nbsp;</strong>
                                                 
                                            </td>
                                             <td align="left" id= "td_electrician" style="width:70%;">
                                                                                                                            @Html.Obout(new ComboBox("combobox2")
                                                                                                                       {
                                                                                                                           Width = 400,
                                                                                                                           MenuWidth = 400,
                                                                                                                           Height = 200,
                                                                                                                           EnableLoadOnDemand = true,
                                                                                                                           OnLoadingItems = "Forums/LoadingItems",
                                                                                                                           EmptyText = "-- Select Mower Helper --",
                                                                                                                           HeaderTemplate = new Obout.Mvc.OboutMvcTemplate<ComboBoxHeaderTemplateContainerInfo>(
                                                                                                                               @:<div class="header c1" >Mower Helper name</div>
),

                                                                                                                           ItemTemplate = new Obout.Mvc.OboutMvcTemplate<ComboBoxItem>(

                                                                                                        @:<div class="item c1" >@(((MowerHelper.Models.BLL.Patients.PatientRegistration)item.DataItem).ProviderName)</div>
)
                                                                                                                       })
                                                           
                                                           <br /><span id="lbl_electrician" style="font-weight: bold; color: Black;"></span>
                                                         </td>
                                            </tr>


                                                          <tr id="Tr5" class="white_color">
                                                        <td align="right" style="width:30%;">
                                                            <font color="Red"><b>&nbsp;*</b></font><strong>Description&nbsp;:&nbsp;</strong>
                                                        </td>
                                                        <td align="left" id="td_desc" style="width:70%;">
                                                        @Html.TextArea("txt_desc", (string)ViewBag.txt_desc, 3, 3, new { @class = "textfield", @style = "width:350px;height:110px;" })&nbsp;&nbsp
                                                       &nbsp;&nbsp; <span id="lbl_desc" style="font-weight: bold; color: Black;"></span><br />
                                                            (Maximum length 1000 characters)
                                                        </td>
                                                    </tr>
             <tr class="white_color">
                                                        <td align="right" style="width:30%;">
                                                            <strong>Providers only Forum&nbsp;:&nbsp;</strong>
                                                        </td>
                                                        <td align="left" style="width:70%;">
                                                              @{
                                                                             bool str2 = false;
                                                                             bool str3 = false;
                                                                             }
                                                                           @if (ViewBag.IsPublic_Ind != null)
                                                                           {
                                                                               if (ViewBag.IsPublic_Ind.ToString() == "0")
                                                                               {
                                                                                   str2 = true;
                                                                                   str3 = false;
                                                                               }
                                                                               else if (ViewBag.IsPublic_Ind.ToString() == "1")
                                                                               {
                                                                                   str2 = false;
                                                                                   str3 = true;
                                                                               }
                                                                           }

                                                         @Html.RadioButton("rd_Status_2", "Yes",str2, new { @GroupName = "grppro", onclick = "return rbtncheck2();" })&nbsp;Yes&nbsp;
                                                         @Html.RadioButton("rd_Status_3", "No",str3, new { @GroupName = "grppro", onclick = "return rbtncheck3();" })&nbsp;No &nbsp;
                                                       
                                                        </td>
                                                       
                                                        </tr>
                                                    </table>
                                                    <table border="0" cellpadding="5" cellspacing="0" width="100%">
                    <tr class="background_color">
                        <td width="66%">
                        </td>
                        <td align="right" width="64%">
                        <input type="submit" title="Save" value="Save"  onclick="return validateforum();" class="button" />
                            &nbsp;
                           <input type="button" class="btnTask button" name="Cancel" value="Cancel" />
                        </td>
                    </tr>
                </table>
                                                 
    </div>
    </div>
     }






     
</body>
    <script type="text/javascript">

        function EditforumSuccess(data) {
            if (data.Success == true) {
                window.location.href = '@Url.Action("ForumsList", "Forums")';
            }
            //else if (data.ErrorMessage == 'expire') {
            //    window.location.href = '../Home/SessionExpire';
            //}
            else {

                if (data != '_Logon_') {
                    alert(data.ErrorMessage);
                }
            }
        }
        </script>
</html>
