@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
    <script src="~/Scripts/Expire.js" type="text/javascript"></script>
       <title>Mower Helper-Find an Mower Helper</title>

   <script language="javascript" type="text/javascript">
       $(document).ready(function () {
           document.getElementById('rd_Status_0').checked = true;
       });

       function rbtn_check() {

           document.getElementById('rd_Status_0').checked = true;
           document.getElementById('rd_Status_1').checked = false;
           document.getElementById('rd_Status_2').checked = false;


       }
       function rbtn_check1() {
           document.getElementById('rd_Status_0').checked = false;
           document.getElementById('rd_Status_1').checked = true;
           document.getElementById('rd_Status_2').checked = false;
       }
       function rbtn_check2() {
           document.getElementById('rd_Status_0').checked = false;
           document.getElementById('rd_Status_1').checked = false;
           document.getElementById('rd_Status_2').checked = true;
       }

        </script>
   <script type="text/javascript">

       function clearalerts() {
           ClearInlineAlert('lbl_topic', 'td_topic', 'white')
           ClearInlineAlert('lbl_desc', 'td_desc', 'white')
       }
       function validate_task() {
           if (trim(document.getElementById('txt_Subject').value) == '') {
               clearalerts()
               var strcptcode = document.getElementById('txt_Subject').value;
               strcptcode = strcptcode.replace(/^\s+/, '');
               document.getElementById('txt_Subject').value = strcptcode;
               InlineAlert('lbl_topic', 'td_topic', 'Please enter fourm topic');
               document.getElementById('txt_Subject').focus();
               return false;
           }
           else {
               ClearInlineAlert('lbl_topic', 'td_topic', 'white')
           }

           if (document.getElementById('txt_Subject').value.length > 100) {
               clearalerts()
               InlineAlert('lbl_topic', 'td_topic', 'Please enter at most 100 characters in the topic');
               document.getElementById('txt_Subject').focus();
               return false;
           }
           else {
               ClearInlineAlert('lbl_topic', 'td_topic', 'white')
           }
           if (document.getElementById('txt_desc').value == '') {
               clearalerts()
               InlineAlert('lbl_desc', 'td_desc', 'Please enter description.');
               document.getElementById('txt_desc').focus();
               return false;
           }
           if (document.getElementById('txt_desc').value.length > 5000) {
               clearalerts()
               InlineAlert('lbl_desc', 'td_desc', 'Description can be up to 1000 characters.');
               document.getElementById('txt_desc').focus();
               return false;
           }
           else {
               ClearInlineAlert('lbl_desc', 'td_desc', 'white')
           }
       }
</script>

</head>
<body>




@using (Html.BeginForm("MessageReply", "Forums", FormMethod.Post, null))
{
    <input type="hidden" id="Msg_id" name="Msg_id" value="@ViewBag.Msg_id" />
    <input type="hidden" id="hdn_Forum_ID" name="hdn_Forum_ID" value="@ViewBag.Forum_ID" />
    <input type="hidden" id="hdn_TOPIC_ID" name="hdn_TOPIC_ID" value="@ViewBag.TOPIC_ID" />
    <input type="hidden" id="hdnind" name="hdnind" value="@ViewBag.ind" />
     <div class="content-box" >
    <div class="content-box-content">
         <table align="center" border="0" class="border_style" cellpadding="7" cellspacing="1" id="tblErrPwd"
                                        width="100%">
             <tr class="white_color">
                                            <td align="right" style="width:30%;">
                                                <strong>Forum Name&nbsp;:&nbsp;</strong>
                                                 
                                            </td>
                                             <td align="left" style="width:70%;">
                                                <span> @ViewBag.ForumName</span>
                                                         </td>
                                            </tr>
             <tr class="white_color">
                                            <td align="right" style="width:30%;">
                                                <strong>Topic Name&nbsp;:&nbsp;</strong>
                                                 
                                            </td>
                                             <td align="left" style="width:70%;">
                                                <span> @ViewBag.TopicName</span>
                                                         </td>
                                            </tr>
                          

                                        <tr class="white_color">
                                            <td align="right" style="width:30%;">
                                                <font color="Red"><b>&nbsp;*</b></font><strong>Message&nbsp;:&nbsp;</strong>
                                                 
                                            </td>
                                             <td align="left" id= "td_topic" style="width:70%;">
                                                         @Html.TextBox("txt_Subject", (string)ViewBag.MessageName, new { @class = "textfield", MaxLength = "150", style = "width:200px", autocomplete = "off" })
                                                           
                                                           &nbsp;&nbsp;<span id="lbl_topic" style="font-weight: bold; color: Black;"></span>
                                                         </td>
                                            </tr>
                                                     <tr class="white_color">
                                                        <td align="right" style="width:30%;">
                                                            <font color="Red"><b>&nbsp;*</b></font><strong>Message icon&nbsp;:&nbsp;</strong>
                                                        </td>
                                                        <td align="left" style="width:70%;">


                                                         @Html.RadioButton("rd_Status_0", "0", new { @IconMessage = "grpoffice", onclick = "return rbtn_check();" })&nbsp;nothing&nbsp;
                                                         @Html.RadioButton("rd_Status_1", "1", new { @IconMessage = "grpoffice", onclick = "return rbtn_check1();" })&nbsp;
                                                                                                                        
                                       <img src="../Images/exclamation.gif" alt="" style="no-repeat;height: 20px;width:20px;padding-left:0px;padding-bottom:0px;" />
                                                            &nbsp;
                                                             @Html.RadioButton("rd_Status_2", "2", new { @IconMessage = "grpoffice", onclick = "return rbtn_check2();" })&nbsp;
                                                             <img src="../Images/question.gif" alt="" style="no-repeat;height: 20px;width:20px;padding-left:0px;padding-bottom:0px;" /> &nbsp;
                                                       
                                                        </td>
                                                       
                                                        </tr>


                                                          <tr id="Tr5" class="white_color">
                                                        <td align="right" style="width:30%;">
                                                            <font color="Red"><b>&nbsp;*</b></font><strong>Message description&nbsp;:&nbsp;</strong>
                                                        </td>
                                                        <td align="left" id="td_desc" style="width:70%;">
                                                        @Html.TextArea("txt_desc", null, 3, 3, new { @class = "textfield", @style = "width:350px;height:110px;" })&nbsp;&nbsp
                                                       <br /> <span id="lbl_desc" style="font-weight: bold; color: Black;"></span><br />
                                                            (Maximum length 5000 characters)
                                                        </td>
                                                    </tr>
                                                    </table>
                                                    <table border="0" cellpadding="5" cellspacing="0" width="100%">
                    <tr class="background_color">
                        <td width="66%">
                        </td>
                        <td align="right" width="64%">
                        <input type="submit" title="Save" value="Save"  onclick="return validate_task();" class="button" />
                            &nbsp;
                           <input type="button" class="btnTask button" name="Cancel" value="Cancel" />
                        </td>
                    </tr>
                </table>
                                                 
    </div>
    </div>
}






     
</body>
</html>
