@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  @*  <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".close").live("click", function (e) {
                var dialogDiv = $('#TopicDialog');
                dialogDiv.dialog('close');
                window.location.href = '@Url.Action("Fromveriuserandsup","Messages")';
            });
        });

    </script>
    <style type="text/css">
        .divLoading1 .ui-dialog-titlebar{display:none;}             
                  tr.gridHead th:nth-child(1) { width: 15%; }
          tr.gridHead th:nth-child(2) { width: 10%; }
          tr.gridHead th:nth-child(3) { width: 55%; }
          tr.gridHead th:nth-child(4) { width: 10%; }
          tr.gridHead th:nth-child(5) { width: 10%; }
          tr.gridRow td:nth-child(3) { width: 55%;text-align:left; }
          tr.gridAltRow td:nth-child(3) { width: 55%;text-align:left; }
    </style>
    
</head>
<body>
    @using (Html.BeginForm("Fromveriuser", "Messages", FormMethod.Get, null))
    {
    <div id="main-content">
                                <div class="content-box">
                                    <div class="content-box-header">
                                        <table id="Table1" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                                            <tr>
                                                <td width="20%">
                                                    <h3>
                                                        From Verification users</h3>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="clear">
                                        </div>
                                    </div>
                                    <div class="content-box-content">
                                        @{string heading1;
                                          if (Request["sort"] == "Sender" && Request["sortdir"] == "ASC")
                                          {
                                              heading1 = "Sender ▲";
                                          }
                                          else if (Request["sort"] == "Sender" && Request["sortdir"] == "DESC")
                                          {
                                              heading1 = "Sender ▼";
                                          }
                                          else
                                          {
                                              heading1 = "Sender .";
                                          }
                                        }
                                        @{
                                            WebGrid Usergrid = new WebGrid(rowsPerPage: Convert.ToInt32(ViewBag.Thpagesize),pageFieldName:"p1");}
                                        @{WebGrid grid = Usergrid.Bind(rowCount: Convert.ToInt32(ViewBag.totrec), source: Model, autoSortAndPage: false);
                                          if (grid.TotalRowCount != 0)
                                          {

                                              string pager = grid.Pager().ToString();
                                              string pageno = (Request["p1"] == null ? "1" : Request["p1"]);
                                              string newpager = System.Text.RegularExpressions.Regex.Replace(pager, "(\\d+) ", "<span class='selected'>" + pageno + "</span>");
                                              if (ViewBag.Type != "Archived")
                                              {
                                                  string gridhtml = grid.GetHtml(tableStyle: "gridTable", headerStyle: "gridHead", rowStyle: "gridRow", alternatingRowStyle: "gridAltRow",
                                                  columns: grid.Columns(grid.Column("Sender", "Sender",canSort:false), grid.Column("SendingDate", "Requested date",canSort:false),
                                                  grid.Column("", "Topic", canSort: false,
                                  format:@<text>@Html.ActionLink((string)item.Subject, "MessageDetails", new { Msg_id = (int)item.Message_ID }, new { @class = "TopicLink", @style = ((string)(item.Read_IndWrite) == "N" ? "font-weight:bold;color:#0066CC;cursor:pointer;" : "font-weight:;color:#0066CC;cursor:pointer;") })</text>),
                                                                                                             grid.Column(header: "Archive", format: (item) =>
                                                                                                             {
                                                                                                                 var str = item.ArchiveInd;
                                                                                                                 if (str == "N")
                                                                                                                     return @Html.ActionLink("Archive", "MessageArchive", new { Msg_id = (int)item.Message_ID, tab_id = "2" },
                                      new { @style = ((string)(item.Read_IndWrite) == "N" ? "font-weight:bold;color:#0066CC;cursor:pointer;" : "font-weight:;color:#0066CC;cursor:pointer;"), @class = "confirmDialog", @title = "Click here to archive message" });


                                                                                                                 else
                                                                                                                     return Html.Label("-");

                                                                                                             })

                                                     )).ToString();
                                                  gridhtml = System.Text.RegularExpressions.Regex.Replace(gridhtml, "<tfoot>([^<]*|<[^/]*|</[^t]*)*</tfoot>", "");
                                            @(new HtmlString(gridhtml))
                                              }


                                              else
                                              {

                                                  string gridhtml = grid.GetHtml(tableStyle: "gridTable", headerStyle: "gridHead", rowStyle: "gridRow", alternatingRowStyle: "gridAltRow",
                                                  columns: grid.Columns(grid.Column("Sender", "Sender",canSort:false), grid.Column("SendingDate", "Requested date",canSort:false),
                                                 grid.Column("", "Topic", canSort: false,
                                 format:@<text>@Html.ActionLink((string)item.Subject, "MessageDetails", new { Msg_id = (int)item.Message_ID }, new { @class = "TopicLink", @style = ((string)(item.Read_IndWrite) == "N" ? "font-weight:bold;color:#0066CC;cursor:pointer;" : "font-weight:;color:#0066CC;cursor:pointer;") })</text>)

                                                    )).ToString();
                                                  gridhtml = System.Text.RegularExpressions.Regex.Replace(gridhtml, "<tfoot>([^<]*|<[^/]*|</[^t]*)*</tfoot>", "");
                                            @(new HtmlString(gridhtml))
                                            
                                            
                                            
                                              }
                                            <br />
                                            <div class="gridFooter" style="padding-left: 500px;">@(new HtmlString(newpager))</div>  
                                            <br />



                                          }
                                          else
                                          {
                                            <table id="tblMsg" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                                                <tr id="trdsmerror" class="white_color">
                                                    <td align="center" height="25px" valign="middle" colspan="2">
                                                        <span id="lbl_NoRecordMsg" class="errormsg" style="font-size: 13px; font-weight: bold;">
                                                            No verificationuser messages found</span>
                                                    </td>
                                                </tr>
                                            </table>
                                          }
                                        }
                                    </div>
                                </div>
    </div>
    <div id="dialog-confirm" title="Mower Helper" style="display: none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            Do you want to archive the message?
        </p>
    </div>
    <div id="TopicDialog" title="Message details">
    </div>
        <div id="divLoading1" style="display:none; text-align:center; vertical-align:middle">
     <img src="../Images/ajax-loader2.gif" alt="Processing"  />
    </div>
                <input id="hdntype" type="hidden" value="@ViewBag.Type"/>
            <input id="hdnpagesize" type="hidden" value="@ViewBag.Thpagesize"/>
  
    <script type="text/javascript">
        $(".confirmDialog").live("click", function (e) {

            var url = $(this).attr('href');
            $("#dialog-confirm").dialog({
                autoOpen: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                buttons: {
                    "Yes": function () {
                        $(this).dialog("close");
                        window.location = url;

                    },
                    "No": function () {
                        $(this).dialog("close");

                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });
        var linkObj;
        $(function () {
            $('#TopicDialog').dialog({
                autoOpen: false,
                width: 1200,
                resizable: false,
                modal: true,
                close: function () {
                    window.location.href = '@Url.Action("Fromveriuserandsup","Messages")';
                }
            });
            $(".TopicLink").click(function () {
                //change the title of the dialog
                linkObj = $(this);
                var dialogDiv = $('#TopicDialog');
                $('#divLoading1').dialog({ modal: true, dialogClass: 'divLoading1', draggable: false, resizable: false });
                var viewUrl = linkObj.attr('href');
                $.get(viewUrl, function (data) {
                    dialogDiv.html(data);
                    $('#divLoading1').dialog('close');
                    dialogDiv.dialog('open');
                });
                return false;
            });
        });
    </script>

    }
</body>
</html>
