@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
   <title>Mower Helper-Find an Mower Helper</title>
     @*@Scripts.Render("~/ThScripts/ElectricianHelpscripts")
    @Styles.Render("~/Content/themes/base/TherpistStyles")*@
   <script type="text/javascript">
       $(document).ready(function () {
           $('input:radio[name="grpTye"]').change(function () {

               if ($(this).val() == 'User') {
                   document.getElementById("trFile").style.display = "none";
               }
               else if ($(this).val() == 'System') {
                   document.getElementById("trFile").style.display = "";
               }
           });
       });
   </script>
</head>
<body>
    @*<div>
        @{Html.RenderAction("Topsection", "Tools");}
    </div>*@
   @using(Html.BeginForm("Msg_CategoriesAction","Messages",FormMethod.Post,null))
    {
    @*<div id="main-content">
        @Html.Partial("_NavigationTool")
        <div class="content-box" style="width: 778px; margin: 0 auto;">
            <div id="th_HeaderID" class="content-box-header">
                <h3><strong>&nbsp;&nbsp;Add New Category</strong></h3>
            </div>
            <div class="content-box-content">*@
                <!-- Add Design Starts Here -->
                <table class="border_style" border="0" cellpadding="6" cellspacing="1" width="100%">
                    <tbody>
                        <tr id="trmessage" class="white_color" style="display: none;">
                            <td colspan="2" align="center" height="60px" valign="bottom">
                                <span id="lblMessage" class="errormsg" style="font-weight: bold;"></span></td>
                        </tr>
                        <tr class="nav_blue_color" style="height: 20">
                            <td style="height: 16px; width: 30%" align="right">
                                <span id="lblType">&nbsp;
											<font color="red">*</font><strong>Type&nbsp;:&nbsp;</strong>
                                </span></td>
                            <td style="height: 16px; width: 70%">
                                @Html.RadioButton("grpTye", "User", true)&nbsp;User generated
                                @Html.RadioButton("grpTye", "System")&nbsp;System generated
                            </td>
                        </tr>
                        <tr class="white_color" style="height: 20">
                            <td style="height: 16px; width: 30%" align="right">
                                <span id="lblName">&nbsp;
											<font color="red">*</font><strong>Name&nbsp;:&nbsp;</strong>
                                </span></td>
                            <td style="height: 16px; width: 70%">
                                @Html.TextBox("txt_Name",null,new{@class="textfield",@maxLength=50,@style="width:220px"})
                                </td>
                        </tr>
                        <tr id="trFile" class="nav_blue_color" style="height: 20; display: none">
                            <td style="height: 16px; width: 30%" align="right">
                                <span id="lblFileName">&nbsp;
											<font color="red">*</font><strong>File path&nbsp;:&nbsp;</strong>
                                </span></td>
                            <td style="height: 16px; width: 70%">
                                 @Html.TextBox("txt_FilePath",null,new{@class="textfield",@maxLength=100,@title="Enter file path as Messagestation/newvendor.aspx",@style="width:420px"})
                                </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Add Design Ends Here -->

                <table cellpadding="0" cellspacing="0" align="center">
                    <tbody>
                        <tr class="background_color">
                            <td colspan="2" style="padding: 10px 5px 10px 0;" align="right">
                                <input name="btnSave" value="Save"  id="btnSave" title="Click here to save the information" class="button" type="submit" />&nbsp;
                                <input name="imgClear1" value="Clear" id="imgClear1" class="button" type="button" />
                                &nbsp;<input name="btnCancel" value="Cancel" id="btnCancel" title="Click here to cancel the operation and return to main window" class="button" type="button" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            @*</div>
        </div>
    </div>*@
    }
    @*<div style="height: 320px"></div>*@
    @*<div>@{Html.RenderAction("Bottomsections", "Tools");}</div>*@
</body>
</html>
