@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
 @*   <meta name="viewport" content="width=device-width" />*@
    <script src="~/Scripts/Expire.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#etxtmnthamnt").val("@ViewBag.mnthfee");
            $("#etxtyearlyamnt").val("@ViewBag.yearlyfee");
        });
        function eValidateeleservice() {
            ClearInlineAlert('elblservicenm', 'etdservicenm', '#FFFFFF');
            ClearInlineAlert('elblsersesc', 'etdserdesc', '#FFFFFF');
            ClearInlineAlert('elblmnthamnt', 'etdmntamt', '#FFFFFF');
            ClearInlineAlert('elblyearlyamnt', 'etdyearamnt', '#FFFFFF');
            ClearInlineAlert('elblquantity', 'etdquantity', '#FFFFFF');
            //ClearInlineAlert('lblservfee', 'tdservfee', '#FFFFFF')

            if (document.getElementById('etxtservinm').value == "") {
                //            Glb_ShowAlert("Invalid Charge Info!!! Charge date can not be empty."); 
                InlineAlert('elblservicenm', 'etdservicenm', 'Please enter service name.')
                document.getElementById('etxtservinm').focus();
                return false;
            }
            else {
                ClearInlineAlert('elblservicenm', 'etdservicenm', '#FFFFFF')
            }
            if (document.getElementById('etxtquantity').value == "") {
                //            Glb_ShowAlert("Invalid Charge Info!!! Charge date can not be empty."); 
                InlineAlert('elblquantity', 'etdquantity', 'Please enter quantity.')
                document.getElementById('etxtquantity').focus();
                return false;
            }
            else {
                ClearInlineAlert('lblquantity', 'tdquantity', '#FFFFFF')
            }
            if (document.getElementById('etxtNotes').value == "") {
                InlineAlert('elblsersesc', 'etdserdesc', "Please enter description")
                document.getElementById('etxtNotes').focus();
                return false;
            }
            else {
                ClearInlineAlert('elblsersesc', 'etdserdesc', '#FFFFFF')
            }
            if (document.getElementById('etxtmnthamnt').value == "") {
                InlineAlert('elblmnthamnt', 'etdmntamt', "Please enter monthly amount.")
                document.getElementById('etxtmnthamnt').focus();
                return false;
            }
            else {
                ClearInlineAlert('elblmnthamnt', 'etdmntamt', '#FFFFFF')
            }
            if (document.getElementById('etxtyearlyamnt').value == "") {
                InlineAlert('elblyearlyamnt', 'etdyearamnt', "Please enter yearly amount.")
                document.getElementById('etxtyearlyamnt').focus();
                return false;
            }
            else {
                ClearInlineAlert('elblyearlyamnt', 'etdyearamnt', '#FFFFFF')
            }
            return true;
        }

    </script>
</head>
       @using (Html.BeginForm("Editservice", "Services", FormMethod.Post, null))
    {
          
<body>
    <input type="hidden" id="hdnbserid" name="hdnbserid" value="@ViewBag.billserid" />
    <input type="hidden" id="hdnrenw" name="hdnrenw" value="@ViewBag.IsRenewed" />
     <input type="hidden" id="hdnupgrade" name="hdnupgrade" value="@ViewBag.IsUpgradable" />
    <div style="width:100%">
        <table border="0" cellpadding="6" cellspacing="1" class="border_style" width="100%">
             <tr class="white_color" id="etrservicenm">
                <td width="20%" align="right">
                  <font color="red">*</font> <strong>Service name :&nbsp;</strong>
                </td>
                <td align="left" id="etdservicenm">
  @Html.TextBox("etxtservinm", (string)ViewBag.servtitle, new { @class = "textfield", @style = "width:200px"})&nbsp;&nbsp;
    <span id="elblservicenm" style="color: Black; font-weight: bold;"></span>
                </td>
            </tr>
             <tr class="white_color" id="etrquantity">
                <td width="20%" align="right">
                  <font color="red">*</font> <strong>Quantity :&nbsp;</strong>
                </td>
                <td align="left" id="etdquantity">
  @Html.TextBox("etxtquantity", (string)ViewBag.eQuantity, new { @class = "textfield", @style = "width:100px"})&nbsp;&nbsp;
    <span id="elblquantity" style="color: Black; font-weight: bold;"></span>
                </td>
            </tr>
            <tr class="white_color" id="trservice">
                <td width="20%" align="right">
                  <font color="red">*</font> <strong>Service description :&nbsp;</strong>
                </td>
                <td align="left" id="etdserdesc">
  @Html.TextArea("etxtNotes", (string)ViewBag.serdescr, 3, 3, new { @class = "textfield", @style = "width:350px;height:78px;" })&nbsp;&nbsp;(Maximum length 1000 characters)
    &nbsp&nbsp;<span id="elblsersesc" style="color: Black; font-weight: bold;"></span>
                </td>
            </tr>
            <tr class="white_color" id="trservdetails">
            <td width="20%" align="right"><font color="red">*</font>  <strong>Service details :&nbsp;</strong></td>
            <td align="left" id="etdquanty" >
               <table>
                   <tr>
                       <td style="text-align:center;">
                           <span>Duration</span>
                       </td>
                       <td style="text-align:center;"> Price($)</td>
                   </tr>
                    <tr>

                       <td>
                           <table>
                               <tr>
                                   <td style="text-align:right;">
                                       <span>Monthly</span><br />
                                   </td>

                               </tr>
                                <tr>
                                   <td style="text-align:right;">
                                       <br />
                                       <span>Yearly</span>
                                   </td>

                               </tr>
                           </table>

                       </td>
                       <td>
                           <table>
                               <tr>
                                   <td style="text-align:left;" id="etdmntamt">
                                @Html.TextBox("etxtmnthamnt", null, new { @class = "textfield", @style = "width:100px",@onkeypress="return checkValidNumeric(txtmnthamnt,8,2,event)" })
                                       &nbsp; &nbsp;  <span id="elblmnthamnt" style="color: Black; font-weight: bold;"></span>
                                   </td>

                               </tr>
                                <tr>
                                   <td style="text-align:left;" id="etdyearamnt">
                             @Html.TextBox("etxtyearlyamnt", null, new { @class = "textfield", @style = "width:100px",@onkeypress="return checkValidNumeric(txtyearlyamnt,8,2,event)" })
                                         &nbsp; &nbsp;  <span id="elblyearlyamnt" style="color: Black; font-weight: bold;"></span>
                                   </td>
                                    
                               </tr>
                           </table>

                       </td>
                   </tr>
               </table>
            <span id="lblqunty"></span>
            </td>
            </tr>
           @* <tr class="white_color">
                <td width="20%" align="right">
                    <font color="red">*</font><strong>Service fee :&nbsp;</strong>
                </td>
                <td align="left" id="tdservfee">
                    @Html.TextBox("txtfee", null, new { @class = "textfield", @maxLength = 10, @style = "width:100px", @onkeypress = "return checkValidNumeric(txtfee,8,2,event)" })&nbsp;&nbsp;<span id="lblservfee" style="color: Black; font-weight: bold;"></span>
                </td>
            </tr>*@
        </table>
        <table border="0" cellpadding="0" cellspacing="0" width="98%">
            <tr style="height: 50px">
                <td align="right">
                <input type="submit" value="save" class="button" name="btnsave" onclick="return eValidateeleservice();"/>
                    <input type="button" name="btnCancel" class="editservclose button" value="Cancel"  />
                </td>
            </tr>
        </table>
        </div>
   
</body>
       }
</html>
