@model List<MowerHelper.Models.BLL.Billing.CCProcess>
@using MowerHelper.Models.Classes
@{
    Layout = null;
    MowerHelper.Models.BLL.Providers.Reg_ProvidersDetailInfo obj = new MowerHelper.Models.BLL.Providers.Reg_ProvidersDetailInfo();
    if (!string.IsNullOrEmpty(Model[0].Provider_ID))
    {
        obj = MowerHelper.Models.BLL.Providers.Reg_ProvidersDetailInfo.Get_ProviderAddressDetails(Convert.ToInt32(Model[0].Provider_ID));
    }
    else
    {
        obj = MowerHelper.Models.BLL.Providers.Reg_ProvidersDetailInfo.Get_ProviderAddressDetails(Convert.ToInt32(Session["Prov_ID"]));
    }
   
}

<script type="text/javascript">
    $('#txtEZip').keypress(function (e) {
        var code = e.keyCode;
        if (parseInt($('#txtEZip').val().length) > 4) {
            if (code != "8") {

                return false;
            }
        }
    });
    function functionchkaddress() {
         if (document.getElementById('Echkaddress').checked == true) {
             $("#EditAddress1").attr("disabled", "disabled");
             $("#EditAddress2").attr("disabled", "disabled");
             $("#txtEZip").attr("disabled", "disabled");
             $("#EDDState").attr("disabled", "disabled");
             $("#EDDCity").attr("disabled", "disabled");
             var firstname = $("<div/>").html("@Model[0].FirstName").text();
             $('#txtfirstname').val(firstname);
             var Lastname = $("<div/>").html("@Model[0].LastName").text();
             $('#txtlastname').val(Lastname);
             $('#EditAddress1').val("@obj.Address1");
             $('#EditAddress2').val("@obj.Address2");
             $('#txtEZip').val("@obj.Zip");
             var Zip_code = $('#txtEZip').val();
             if (Zip_code != '') {
                 $.getJSON('@Url.Action("GetStateCitiesByZip", "Public")', { zipcode: Zip_code },
               function (data) {
                   if (data.indexOf(",") != -1) {
                       var data1 = data.split(',');
                       $("#EDDState").empty();
                       $('#EDDState').append($('<option > </option>').val(0).html("--Select State--"));
                       $('#EDDState').append($('<option > </option>').val(data1[1]).html(data1[0]));
                       $("select#EDDState").prop('selectedIndex', 1);
                       $("#EDDCity").empty();
                       $('#EDDCity').append($('<option > </option>').val(0).html("--Select City--"));
                       $('#EDDCity').append($('<option > </option>').val(data1[3]).html(data1[2]));
                       $("select#EDDCity").prop('selectedIndex', 1);
                   }
               });
             }
         }
         else {

             if ("@Model[0].strBillAddress1" != "") {
                 $("input").prop('disabled', false);
                 $("#EDDState").prop('disabled', false);
                 $("#EDDCity").prop('disabled', false);
                 $('#txtfirstname').val("@ViewBag.CFirstName");
                 $('#txtlastname').val("@ViewBag.CLastName");
                 $('#EditAddress1').val("@Model[0].strBillAddress1");
                 $('#EditAddress2').val("@Model[0].strBillAddress2");
                 $('#txtEZip').val("@Model[0].strZipCode");
                 //}
                 $("#EDDState").empty();
                 $('#EDDState').append($('<option > </option>').val(0).html("--Select State--"));
                 $('#EDDState').append($('<option > </option>').val('@Model[0].strStateID').html('@Model[0].state'));
                 $("select#EDDState").prop('selectedIndex', 1);
                 $("#EDDCity").empty();
                 $('#EDDCity').append($('<option > </option>').val(0).html("--Select City--"));
                 $('#EDDCity').append($('<option > </option>').val('@Model[0].strCityID').html('@Model[0].city'));
                 $("select#EDDCity").prop('selectedIndex', 1);
             }
             else {
                 $("#EditAddress1").removeAttr("disabled");
                 $("#EditAddress2").removeAttr("disabled");
                 $("#txtEZip").removeAttr("disabled");
                 $("#EDDState").removeAttr("disabled");
                 $("#EDDCity").removeAttr("disabled");
                 //                    $('#txtfirstname').val(null);
                 //                    $('#txtlastname').val(null);
                 $('#EditAddress1').val(null);
                 $('#EditAddress2').val(null);
                 $('#txtEZip').val(null);
                 $('#EDDState').val(0);
                 $('#EDDCity').val(0);
                 $("#EDDState").empty();
                 //$.getJSON("../Public/GetStateByZip",
                 $.getJSON('@Url.Action("GetStateByZip", "Public")',
               function (data) {
                   $("#EDDState").empty();
                   $('#EDDState').append($('<option > </option>').val(0).html("--Select State--"));
                   $.each(data, function (index, value) {
                       $('#EDDState').append($('<option > </option>').val(data[index].StateId).html(data[index].StateFullName));
                   });
               });
                 $("#EDDCity").empty();
                 $('#EDDCity').append($('<option > </option>').val(0).html("--Select City--"));
                 // return false;
             }
            @* }*@
         }
     }
    $(function () {
        $("#txtEZip").keyup(function () {
            if ($(this).val().length == '5') {
                var recordId = $('#txtEZip').val();
                $.getJSON('@Url.Action("GetStateCitiesByZip", "Public")', { zipcode: recordId },
               function (data) {
                   if (data.indexOf(",") != -1) {
                       var data1 = data.split(',');
                       $("#EDDState").empty();
                       $('#EDDState').append($('<option > </option>').val(0).html("--Select State--"));
                       $('#EDDState').append($('<option > </option>').val(data1[1]).html(data1[0]));
                       $("select#EDDState").prop('selectedIndex', 1);
                       $("#EDDCity").empty();
                       $('#EDDCity').append($('<option > </option>').val(0).html("--Select City--"));
                       $('#EDDCity').append($('<option > </option>').val(data1[3]).html(data1[2]));
                       $("select#EDDCity").prop('selectedIndex', 1);
                   }
                   else {
                       $("#EDDState").empty();
                       $('#EDDState').append($('<option > </option>').val(0).html("--Select State--"));
                       $.each(data, function (index, value) {
                           $('#EDDState').append($('<option > </option>').val(data[index].StateId).html(data[index].StateFullName));
                       });
                       $("#EDDCity").empty();
                       $('#EDDCity').append($('<option > </option>').val(0).html("--Select City--"));
                   }
               });
            }
            else {
                if (event.keyCode == '8' || event.keyCode == '88' || event.keyCode == '46') {
                    $.getJSON('@Url.Action("GetStateByZip", "Public")',
                  function (data) {
                      $("#EDDState").empty();
                      $('#EDDState').append($('<option > </option>').val(0).html("--Select State--"));
                      $.each(data, function (index, value) {
                          $('#EDDState').append($('<option > </option>').val(data[index].StateId).html(data[index].StateFullName));
                      });

                  });
                    $("#EDDCity").empty();
                    $('#EDDCity').append($('<option > </option>').val(0).html("--Select City--"));
                    // return false;
                }
            }
         });

     });
     $(document).ready(function () {
         if ($('#txtEZip').val() != '') {

             var recordId = $('#txtEZip').val();
             var stateid = "@Model[0].strStateID";
             var statename = "@Model[0].state";
             var City_ID = "@Model[0].strCityID";
             var Cityname = "@Model[0].city";
             if (recordId != '' && stateid != '' && City_ID != '') {
                 $("#EDDState").empty();
                 $('#EDDState').append($('<option > </option>').val(0).html("--Select State--"));
                 $('#EDDState').append($('<option > </option>').val(stateid).html(statename));
                 $("select#EDDState").prop('selectedIndex', 1);
                 $("#EDDCity").empty();
                 $('#EDDCity').append($('<option > </option>').val(0).html("--Select City--"));
                 $('#EDDCity').append($('<option > </option>').val(City_ID).html(Cityname));
                 $("select#EDDCity").prop('selectedIndex', 1);
             }
         }
         functionchkaddress();
         $('#Echkaddress').change(function () {

             functionchkaddress();

         })
         if ($('#txtEZip').val() != '') {
             var recordId = $('#txtEZip').val();
             var stateid = "@Model[0].strStateID";
             var statename = "@Model[0].state";
             var City_ID = "@Model[0].strCityID";
             var Cityname = "@Model[0].city";
             if (recordId != '' && stateid != '' && City_ID != '') {
                 $("#EDDState").empty();
                 $('#EDDState').append($('<option > </option>').val(0).html("--Select State--"));
                 $('#EDDState').append($('<option > </option>').val(stateid).html(statename));
                 $("select#EDDState").prop('selectedIndex', 1);
                 $("#EDDCity").empty();
                 $('#EDDCity').append($('<option > </option>').val(0).html("--Select City--"));
                 $('#EDDCity').append($('<option > </option>').val(City_ID).html(Cityname));
                 $("select#EDDCity").prop('selectedIndex', 1);
             }
         }

         $('#EDDState').change(function () {
             var recordId = $('#EDDState').val();
             var recordId1 = $("#txtEZip").val();
             if (recordId != '' && recordId1 == '') {
                 $.getJSON('@Url.Action("GetCitiesByStates", "Public")', { id: recordId },
                  function (data) {
                      $("#EDDCity").empty();
                      $('#EDDCity').append($('<option > </option>').val(0).html("--Select City--"));
                      $.each(data, function (index, value) {
                          $('#EDDCity').append($('<option > </option>').val(data[index].CityId).html(data[index].CityName));
                      });
                  });
                    // return false;
                }
                else if (recordId != '' && recordId1 != '') {
                    $.getJSON('@Url.Action("GetCitiesByZip", "Public")', { id: recordId, zipcode: recordId1 },
                  function (data) {
                      $("#EDDCity").empty();
                      $('#EDDCity').append($('<option > </option>').val(0).html("--Select City--"));
                      $.each(data, function (index, value) {
                          $('#EDDCity').append($('<option > </option>').val(data[index].CityId).html(data[index].CityName));
                      });
                  });
                    // return false;
                }
                else {
                    // alert('c');
                    $("#EDDCity").empty();
                    $('#EDDCity').append($('<option > </option>').val(0).html("--Select City--"));
                    // return false;
                }
         });
     });

</script>
<tr class="white_color">
    <td align="right" style="width: 30%">
        <font color="red"><b>*</b></font><strong>Zip :&nbsp;</strong>
    </td>
    <td id="EDtdzip">
        @Html.TextBox("txtEZip", (string)obj.Zip, new { @class = "textfield", autocomplete = "off", style = "width:50px", onkeypress = "return ValidZip(event);", disabled = "disabled" })&nbsp;&nbsp;&nbsp;<span
            id="EDlblzip" style="display: none"></span>
    </td>
</tr>
<tr class="nav_blue_color">
    <td align="right" style="width: 30%">
        <font color="red"><b>*</b></font><strong>State :&nbsp;</strong>
    </td>
    <td id="EDtdstate" runat="server">
        @* @Html.DropDownList("state")*@
        @* @if (clsCommonCClist.GetStates() != null)
        {*@
            @Html.DropDownList("EDDState", new SelectList(clsCommonCClist.GetStates(),"StateId","StateFullName"), "--Select State--", new { @class = "textfield", @style = "width:270px;height:25px;font:13px;", disabled = "disabled" })
         @*}*@
        &nbsp;&nbsp;&nbsp;<span id="EDlblstate" style="display: none"></span>
    </td>
</tr>
<tr class="white_color">
    <td align="right" style="width: 30%">&nbsp;<font color="red"><b>*</b></font><strong>City :&nbsp;</strong>
    </td>
    <td id="EDtdcity" runat="server">
        @* @Html.DropDownList("city")*@
        @Html.DropDownList("EDDCity", new List<SelectListItem>{new SelectListItem{ Text="--Select City-- ", Value = "0" , Selected =true}}, new { @class = "textfield", @style = "width:270px;height:25px;font:13px;", disabled = "disabled" })
        &nbsp;&nbsp;&nbsp;<span id="EDlblcity" style="display: none"></span>
    </td>
</tr>
