@using MowerHelper.Models.Classes
   @*  @{
           MowerHelper.Models.Classes.clsWebConfigsettings clsweb = new MowerHelper.Models.Classes.clsWebConfigsettings();
         
        }*@

<div id="flttop">
                <div id="header01">
                    <div id="headermain02">
                        <div id="logopublic">
                            <a id="logo_find1" runat="server" title="Home" href="@Url.Action("Index", "Home", null)" style="text-decoration:none;" class="bluemenuPublic">Mower Helper</a>
                        </div>
                        <div id="mainnavcon">
                            <div class="mainnav">
                                <ul>
                                    
                                    @if (clsWebConfigsettings.GetConfigSettingsValue("ShowElectricianInPublic").ToUpper() == "YES")
                                    {
                                        <li class="current_page_item">@Html.ActionLink("Mower Helper Directory", "Directory", "Search")</li>
                                    }
                                    <li class="page_item page-item-2">
                                        @Html.RouteLink("Contact Us", "Contact")

                                    </li>
                                    <li class="page_item page-item-3">
                                        @Html.RouteLink("Sign Up", "Register")</li>
                                    <li class="page_item page-item-4">@Html.RouteLink("FAQ", "FAQSHome")</li>
                                    <li class="page_item page-item-5">
                                        @Html.ActionLink("Login", "login", "Home", null, null)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
