@*@model MowerHelper.Models.Classes.StateCity  *@
@{
    Layout = null;
}
@using Obout.Mvc;
@using Obout.Mvc.ComboBox;
<!DOCTYPE html>

<html>
<head>
    @* <meta http-equiv="X-UA-Compatible" content="IE=Edge" />*@
@*    <meta name="viewport" content="width=device-width" />*@
    <title>Mower Helper-Find an Mower Helper</title>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../../favicon.ico" />
   @* <script src="@ViewBag.src" type="text/javascript"></script>*@
    @Styles.Render("~/Content/themes/base/TherpistStyles")
     @Scripts.Render("~/ThScripts/ThAjaxscripts")
    @Scripts.Render("~/ThScripts/ThOtherscripts")
    @* <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js">    </script>
    <script  src="~/Scripts/jquery-ui-1.8.20.js" type="text/javascript"></script>*@
   @* <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>*@
    @*  <script  src="~/Scripts/flytooltip.js" type="text/javascript"></script>*@
    <style type="text/css">
        .ui-datepicker
        {
            background: #AADDFF;
            border: 1px solid #555;
            color: #000000;
        }

        .Highlighted a
        {
            background-color: #6eafbf !important;
            background-image: none !important;
            color: White !important;
            font-weight: bold !important;
            font-size: 10pt;
        }

        .High a
        {
            background-color: Green !important;
            background-image: none !important;
            color: White !important;
            font-weight: bold !important;
            font-size: 10pt;
        }

        .ui-datepicker-multi .ui-datepicker-group
        {
            width: 100%;
        }

        .ui-widget-header
        {
            font-size: 15px;
            height: 30px;
        }

        .ui-datepicker-multi .ui-datepicker-group table
        {
            width: 100%;
        }
    </style>
    <style type="text/css">
        input[type="radio"]
        {
            margin-right: 5px;
        }

        .ui-datepicker-trigger
        {
            margin-left: 5px;
            vertical-align: middle;
        }

        .item
        {
            position: relative !important;
            display: -moz-inline-stack;
            display: inline-block;
            zoom: 1;
            *display: inline;
            overflow: hidden;
            white-space: nowrap;
        }

        .header
        {
            margin-left: 2px;
        }

        .c1
        {
            width: 160px;
        }

        .c2
        {
            margin-left: 10px;
            width: 90px;
        }

        .multcolumn .ob_iCboICBC li
        {
            float: left;
            width: 60px;
        }

        /* For IE6 */
        * HTML .multcolumn .ob_iCboICBC li
        {
            -width: 55px;
        }

            * HTML .multcolumn .ob_iCboICBC li b
            {
                width: 55px;
                overflow: hidden;
            }

        .multcolumn2 .ob_iCboICBC li
        {
            float: left;
            width: 165px;
        }

        /* For IE6 */
        * HTML .multcolumn2 .ob_iCboICBC li
        {
            -width: 164px;
        }

            * HTML .multcolumn2 .ob_iCboICBC li b
            {
                width: 164px;
                overflow: hidden;
            }

        .confirmDialog1
        {
            /*background: url("../images/bg-button-green.gif") repeat-x scroll left top #459300 !important;
            border: 1px solid #459300 !important;*/
            background: repeat-x scroll left top #FF0000 !important;
            border: 1px solid #FF0000 !important;
            border-radius: 4px;
            color: #FFFFFF !important;
            cursor: pointer;
            display: inline-block;
            font-family: Verdana,Arial,sans-serif;
            font-size: 11px !important;
            padding: 4px 7px !important;
        }
    </style>
    <script type="text/javascript">
        function ComboBoxPr_ItemClick(sender, selectedIndex) {
            if (ComboBoxPr.selectedIndex() != -1) {
                var obj = ComboBoxPr.options[selectedIndex].value;
                document.getElementById("hdnPrid").value = obj;
                // alert(document.getElementById("hdnPrid").value);
                document.getElementById("hdnname").value = ComboBoxPr.options[selectedIndex].text;
                document.forms[0].submit();
            }
        }
        $(document).ready(function () {
            var dates = "@ViewBag.weekhigh";
            var dates1 = new Array();
            dates1 = dates.split(",");

            var Aptdates = document.getElementById('highlightdates').value;
            var Aptdates1 = new Array();
            Aptdates1 = Aptdates.split(",");

            $("#datepicker").datepicker({

                dateFormat: 'mm/dd/yy',
                changeMonth: true,
                changeYear: true,
                showWeeks: true,

                numberOfMonths: [3, 1],
                yearRange: "2010:2020",
                onSelect: function () {
                    window.location = 'WeeklyAppts?weekstart=' + $("#datepicker").val();

                },
                beforeShowDay: highlightDays
            });
            $("#datepicker").datepicker("setDate", document.getElementById("hdndate").value);
            function highlightDays(date) {

                for (var i = 0; i < Aptdates1.length; i++) {
                    if (new Date(Aptdates1[i]).toString() == date.toString()) {
                        return [true, 'High', Aptdates[i]];
                    }
                }
                //return [true, ''];

                for (var i = 0; i < dates1.length; i++) {
                    if (new Date(dates1[i]).toString() == date.toString()) {
                        return [true, 'Highlighted'];
                    }
                }
                return [true, ''];
            }


            $(".ui-state-default").on("mouseenter", function () {
                $(this).attr('title', 'View Appointments');
            });
            $('.ui-state-default').mouseover(function () {
                var closest_datepicker = $(this).closest('div.ui-datepicker-group');
                var month = closest_datepicker.find('span.ui-datepicker-month').text();
                var year = closest_datepicker.find('span.ui-datepicker-year').text();
                if (month == "") {
                    var month1 = new Date();
                    var mon = $('.ui-datepicker-month').val();
                    month = parseInt(mon) + 1;
                    year = $('.ui-datepicker-year').val();
                }
                else {
                    month = closest_datepicker.find('span.ui-datepicker-month').text(); // $('.ui-datepicker-month').val();
                    switch (month) {
                        case "January": month = 1;
                            break;
                        case "February": month = 2;
                            break;
                        case "March": month = 3;
                            break;
                        case "April": month = 4;
                            break;
                        case "May": month = 5;
                            break;
                        case "June": month = 6;
                            break;
                        case "July": month = 7;
                            break;
                        case "August": month = 8;
                            break;
                        case "September": month = 9;
                            break;
                        case "October": month = 10;
                            break;
                        case "November": month = 11;
                            break;
                        case "December": month = 12;
                            break;
                        default: break;
                    }
                    year = closest_datepicker.find('span.ui-datepicker-year').text(); // $('.ui-datepicker-year').val();
                }
                var obj1 = month + "/" + $(this).text() + "/" + year;
                //alert(obj1);
                onDateOver(obj1);

            });
            $('.ui-state-default').mouseout(function () {
                var closest_datepicker = $(this).closest('div.ui-datepicker-group');
                var month = closest_datepicker.find('span.ui-datepicker-month').text();
                var year = closest_datepicker.find('span.ui-datepicker-year').text();
                if (month == "") {
                    var month1 = new Date();
                    month = month1.getMonth() + 1;
                    year = month1.getFullYear();
                }
                else {
                    month = closest_datepicker.find('span.ui-datepicker-month').text(); // $('.ui-datepicker-month').val();
                    switch (month) {
                        case "January": month = 1;
                            break;
                        case "February": month = 2;
                            break;
                        case "March": month = 3;
                            break;
                        case "April": month = 4;
                            break;
                        case "May": month = 5;
                            break;
                        case "June": month = 6;
                            break;
                        case "July": month = 7;
                            break;
                        case "August": month = 8;
                            break;
                        case "September": month = 9;
                            break;
                        case "October": month = 10;
                            break;
                        case "November": month = 11;
                            break;
                        case "December": month = 12;
                            break;
                        default: break;

                    }
                    year = closest_datepicker.find('span.ui-datepicker-year').text(); // $('.ui-datepicker-year').val();
                }
                var obj1 = month + "/" + $(this).text() + "/" + year;
                onDateOut(obj1);
            });


        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var scrollind = '@ViewBag.scrolind';
                 var ddlshind = '@ViewBag.ddlschind';
                 //alert(scrollind);
                 //alert(ddlshind);
                 if (scrollind == '1' && ddlshind == 'Y') {
                     window.scrollTo(0, 100);
                 }
                 if (scrollind == '2' && ddlshind == 'Y') {
                     window.scrollTo(0, 1200);
                 }
             });
    </script>
    <script type="text/javascript">
        function onDateOver(selectedDate) {
            var strgroup = document.getElementById("apptdatevalue").value;
            var apptdate = new Date(selectedDate);
            var get_date = apptdate.getDate();
            var get_month = apptdate.getMonth() + 1;
            var get_year = apptdate.getFullYear();
            if (parseInt(get_month) < 10) {
                get_month = '0' + get_month;
            }
            if (parseInt(get_date) < 10) {
                get_date = '0' + get_date;
            }
            var newdate = get_month + '/' + get_date + '/' + get_year
            if (strgroup.indexOf(newdate) == -1) { }

            else {
                document.getElementById("lbltitle").innerHTML = 'Appointments for ' + newdate;
                var myArray1 = new Array();
                myArray1 = strgroup.split("$");
                var i = 0;
                var count = 0;
                for (i = 0; i < myArray1.length; i++) {
                    var myArray2 = myArray1[i].split("~");
                    if (myArray2[1] == newdate) {
                        count = count + 1;
                        addRow('tblflyappt', myArray2[0], myArray2[2], myArray2[3], myArray2[4], myArray2[5], myArray2[6], count);
                    }
                }
                document.getElementById("divappt").style.zIndex = '1005';
                document.getElementById("divappt").style.right = '275px';
                document.getElementById("divappt").style.top = '200px';
                document.getElementById("divappt").style.position = 'absolute';
                document.getElementById("divappt").style.display = '';
            }
            return false;
        }
        function onDateOut(selectedDate) {
            deleteRow('tblflyappt');
            document.getElementById("divappt").style.display = 'none';
            return false;
        }
        function addRow(tableID, patname, time, duration, adress, phone, courtlocname, slno) {
            if (courtlocname == null || courtlocname == '' || courtlocname == ' ')
            {
                courtlocname = '-';
            }
            var tbody = document.getElementById(tableID).getElementsByTagName("tbody")[1];
            var row = document.createElement("tr");
            var data = document.createElement("td");
            data.appendChild(document.createTextNode(slno));
            data.style.textAlign = "center";
            var data1 = document.createElement("td");
            data1.appendChild(document.createTextNode(patname));
            data1.style.textAlign = "center";
            var data2 = document.createElement("td");
            data2.appendChild(document.createTextNode(time));
            data2.style.textAlign = "center";
            var data3 = document.createElement("td");
            data3.appendChild(document.createTextNode(duration + ' Mins'));
            data3.style.textAlign = "center";
            var data4 = document.createElement("td");
            data4.appendChild(document.createTextNode(courtlocname));
            data4.style.textAlign = "center";
            var data5 = document.createElement("td");
            data5.appendChild(document.createTextNode(adress));
            data5.style.textAlign = "center";
            var data6 = document.createElement("td");
            data6.appendChild(document.createTextNode(phone));
            data6.style.textAlign = "center";
            row.appendChild(data);
            row.appendChild(data1);
            row.appendChild(data2);
            row.appendChild(data3);
            row.appendChild(data4);
            row.appendChild(data5);
            row.appendChild(data6);
            tbody.appendChild(row);
        }
        function deleteRow(tableID) {
            var table = document.getElementById(tableID);
            var tbody = document.getElementById(tableID).getElementsByTagName("tbody")[1];
            var rowCount = tbody.rows.length;
            for (var i = 0; i < rowCount; i++) {
                tbody.deleteRow(i); rowCount--; i--;
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgKM4MCuYrILJ8CFPR-a5xXelNuobdK50" async defer></script>
  @*  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>*@
    <script type="text/javascript">
        function fnmaplanglat(aid) {

            $.getJSON("GetMapAddressDetails", { appointid: aid },
              function (data) {

                  var geocoder = new google.maps.Geocoder();
                  var address = data.l_GoogleMapPath;
                  var courtname = data.CourtLocationName;
                  if (courtname != null && courtname != "") {
                      courtname = "(" + courtname + ")";
                  }
                  // var add=address.replace('-',',').trim();
                  //alert(address);
                  geocoder.geocode({ 'address': address }, function (results, status) {
                      if (status == google.maps.GeocoderStatus.OK) {
                          var latitude = results[0].geometry.location.lat();
                          var longitude = results[0].geometry.location.lng();
                          var latlng = new google.maps.LatLng(latitude, longitude);
                          var myOptions = {
                              zoom: 15,
                              center: latlng,
                              mapTypeId: google.maps.MapTypeId.ROADMAP
                          };
                          map = new google.maps.Map(document.getElementById("custmermap"), myOptions);
                          var marker = new google.maps.Marker
                          (
                              {
                                  position: new google.maps.LatLng(latitude, longitude),
                                  map: map
                              }
                          );
                          var infowindow = new google.maps.InfoWindow({ content: "<div style='padding-bottom: 9pt; width:275px;'><b>" + courtname + " " + address + "</b></div>" });
                          infowindow.open(map, marker);
                          google.maps.event.addListener(marker, 'click', function () {
                              infowindow.open(map, marker);
                          });

                      }
                      else if (data.ErrorMessage == 'false') {
                          alert('Session is expired. You will be redirected to session expired page');
                          window.location = '@Url.Action("SessionExpire", "Home")';
                      }
                      else {
                          alert("Request failed.")
                      }
                  });

                  $("#custmermap").dialog({
                      width: 1000, height: 600, modal: true
                  });


              });
            return false;

        }
        function fnlanglat(patientid) {
            $.getJSON("Getaddress", { patid: patientid },
function (data) {

    var geocoder = new google.maps.Geocoder();
    var address = data.l_GoogleMapPath;
    geocoder.geocode({ 'address': address }, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();
            var latlng = new google.maps.LatLng(latitude, longitude);
            var myOptions = {
                zoom: 15,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("custmermap"), myOptions);
            var marker = new google.maps.Marker
            (
                {
                    position: new google.maps.LatLng(latitude, longitude),
                    map: map
                }
            );
            var infowindow = new google.maps.InfoWindow({ content: "<div style='padding-bottom: 9pt; width:275px;'><b>" + address + "</b></div>" });
            infowindow.open(map, marker);
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

        }
        else if (data.ErrorMessage == 'false') {
            alert('Session is expired. You will be redirected to session expired page');
            window.location = '@Url.Action("SessionExpire", "Home")';
        }
        else {
            alert("Request failed.")
        }
    });


    $("#custmermap").dialog({
        width: 900, height: 600, modal: true
    });

});

        }

        $(document).ready(function () {
            var timeinterval = "@ViewBag.timeinterval";
            if (timeinterval != '') {
                $("#lnkInterPlus").val("@ViewBag.timeinterval");
            }


            var weekdates = "@ViewBag.weekhigh";
            var weekdates1 = new Array();
            weekdates1 = weekdates.split(",");
            var weekday = weekdates1[0];

            $("#lnkInterPlus").change(function () {
                var sdate;
                if (document.getElementById("hdndate").value != '') {
                    sdate = document.getElementById("hdndate").value;
                }
                else {
                    sdate = $("#datepicker").val();
                }
                window.location = 'WeeklyAppts?timeinterval=' + $('#lnkInterPlus').val() + '&weekstart=' + weekday;
                //window.location = 'WeeklyAppts?timeinterval=' + $('#lnkInterPlus').val();
            });

            @*var strtechname = "@ViewBag.techid";
            if (strtechname != '') {
                $("#Ddltech").val("@ViewBag.techid");
            }

            var tech_count = '@ViewBag.tech_count';
            if (tech_count > 1) {
                document.getElementById('Ddltech').style.display = '';
                document.getElementById('spanpname').style.display = 'none';
                document.getElementById('spancolan').style.display = '';

            }
            else {
                document.getElementById('Ddltech').style.display = 'none';
                document.getElementById('spanpname').style.display = '';
                document.getElementById('spancolan').style.display = 'none';
            }
            $("#Ddltech").change(function () {
                var sdate;

                var redirectind = 1;
                if (document.getElementById("hdndate").value != '') {
                    sdate = document.getElementById("hdndate").value;
                }
                else {
                    sdate = $("#datepicker").val();
                }
                stechid = document.getElementById("Ddltech").value;
                var techname = $('#Ddltech option:selected').html();
                window.location = 'WeeklyAppts?timeinterval=' + $('#lnkInterPlus').val() + '&weekstart=' + weekday + '&Ddltech=' + stechid + '&techname=' + techname;
                //window.location = 'WeeklyAppts?timeinterval=' + $('#lnkInterPlus').val();
            });*@


            $("#lnltasks").mouseover(function () {
                document.getElementById("lblTasktitle").innerHTML = "@ViewBag.tasktitle";
                document.getElementById("divTask").style.zIndex = '1005';
                document.getElementById("divTask").style.left = '730px';
                document.getElementById("divTask").style.top = '160px';
                document.getElementById("divTask").style.position = 'absolute';
                document.getElementById("divTask").style.display = '';
            });
            $("#lnltasks").mouseout(function () {
                document.getElementById("divTask").style.display = 'none';
            });


            $("#datepicker").on('click', '.ui-datepicker-next', function () {
                var mon = $('.ui-datepicker-month').val();
                month = parseInt(mon) + 1;
                year = $('.ui-datepicker-year').val();
                var obj = month + '/' + '01' + '/' + year;
                window.location = 'WeeklyAppts?timeinterval=' + $('#lnkInterPlus').val() + '&weekstart=' + obj;
            });
            $("#datepicker").on('click', '.ui-datepicker-prev', function () {
                var mon = $('.ui-datepicker-month').val();
                month = parseInt(mon) + 1;
                year = $('.ui-datepicker-year').val();
                var obj = month + '/' + '01' + '/' + year;
                window.location = 'WeeklyAppts?timeinterval=' + $('#lnkInterPlus').val() + '&weekstart=' + obj;
            });
            $("#datepicker").on('change', '.ui-datepicker-month', function () {
                var mon = $('.ui-datepicker-month').val();
                month = parseInt(mon) + 1;
                year = $('.ui-datepicker-year').val();
                var obj = month + '/' + '01' + '/' + year;
                window.location = 'WeeklyAppts?timeinterval=' + $('#lnkInterPlus').val() + '&weekstart=' + obj;
            });
            $("#datepicker").on('change', '.ui-datepicker-year', function () {
                var mon = $('.ui-datepicker-month').val();
                month = parseInt(mon) + 1;
                year = $('.ui-datepicker-year').val();
                var obj = month + '/' + '01' + '/' + year;
                window.location = 'WeeklyAppts?timeinterval=' + $('#lnkInterPlus').val() + '&weekstart=' + obj;
            });


        });
    </script>
    <script type="text/javascript">
        $("#btnClear").live("click", function () {
            $.ajax({
                url: "../Schedule/Schedulespecs",
                data: { hid: '@TempData["hdnPrid"]' },
                success: function (data) {
                    window.location = "../Schedule/Schedulespecs";
                }
            });
        });
    </script>
</head>
<body id="dayappt">
    @using (Html.BeginForm("WeeklyAppts", "Schedule", FormMethod.Get, null))
    {
        <input id="apptdatevalue" type="hidden" name="apptdatevalue" value="@ViewData["highlightapptdate"]" />
        <input id="highlightdates" type="hidden" name="highlightdates" value="@ViewData["highlightdates"]" />
        <input id="hdndate" type="hidden" value="@ViewData["hdndate"]"/>
        <input id="hdnadd" type="hidden" name="hdnadd" value="" />
        @Html.Hidden("hdnPrid")
        @Html.Hidden("hdnname")
        <div>
            @{Html.RenderAction("Topsection", "Tools");}
        </div> 
        <div id="main-content">
             @if (Session["roleid"].ToString() == "1")
            {
                <table border="0" cellpadding="8" cellspacing="1" width="100%" id="tblAdmin" class="border_style">
                    @*<tr class="white_color" id="tblAdminMsg">
                        <td colspan="2">
                            <strong>@ViewBag.prvmsg </strong>
                        </td>
                    </tr>*@
                    <tr>
                        <td width="25%" align="right">
                            <strong>Mower Helper &nbsp;: &nbsp; &nbsp;</strong>
                        </td>
                        <td width="75%" align="left">
                            @Html.Obout(new ComboBox("ComboBoxPr")
                   {
                       Width = 500,
                       MenuWidth = 500,
                       Height = 200,
                       AutoPostBack = true,
                       EnableLoadOnDemand = true,
                       OnLoadingItems = "Schedule/LoadingItems1",
                       EmptyText = "-- Select Mower Helper --",
                       HeaderTemplate = new Obout.Mvc.OboutMvcTemplate<ComboBoxHeaderTemplateContainerInfo>(
                       @:<div class="header c1">Mower Helper name</div>
),

                       ItemTemplate = new Obout.Mvc.OboutMvcTemplate<ComboBoxItem>(

                       @:<div class="item c1">@(((MowerHelper.Models.BLL.Patients.PatientRegistration)item.DataItem).ProviderName)</div>
),
                       ClientSideEvents = new ComboBoxClientSideEvents()
                       {
                           OnItemClick= "ComboBoxPr_ItemClick"
                       }
                   })
                        &nbsp;&nbsp;&nbsp;&nbsp;
                            <a id="btnClear" href="#" @*onclick="return btnclear();"*@ title="Clear"><img alt="" id="" src="~/Images/refreshimages.png" style="width:30px;" /></a>
                        </td>
                    </tr>
                </table>
            }
             @if (Session["roleid"].ToString() != "1" || @ViewBag.Prselect == "Y")
             { 
            <table width="100%" cellpadding="0" cellspacing="0">

                <tr id="trtabsadmin" runat="server">
                    <td width="100%" class="navigation">
                        <div class="admin-tab">
                            <a class="inadmin-link" id="admincust" href="Schedulespecs"><span>Day</span>
                            </a>
                        </div>
                        <div class="admin-tab">
                            <a class="admin-link" id="admintask" href="WeeklyAppts"><span>Week</span>
                            </a>
                        </div>

                        <div class="admin-tab">
                            <a class="inadmin-link" id="adminnote" href="ViewProvMonthlySchedule"><span>Month</span>
                            </a>
                        </div>
                        <div class="admin-tab">
                            <a class="inadmin-link" id="adminContact" href="ViewYearlySchedule"><span>Year</span>
                            </a>
                        </div>
                    </td>
                </tr>

                <tr class="background_color">
                    <td id="tdtabsadmin" class="tab-background" width="100%">
                        <table cellspacing="0" id="tblAppt" runat="server" cellpadding="0" width="100%" border="0">
                            <tr style="background: none">
                                <td valign="top" align="center" width="80%">
                                    <table border="0" cellpadding="8" cellspacing="1" class="border_style" width="100%">
                                        <tr class="white_color">
                                            <td width="12%" style="text-align: center; background-color: #1d70ab;">
                                                <strong>@Html.ActionLink("Previous", "WeeklyAppts", new { @previousClick = ViewData["Previous"], @redirectind = 1 }, new { style = "color:white", @Title = ViewData["Previoustooltip"] })</strong>
                                            </td>
                                            <td style="text-align: center; background-color: #1d70ab;">
                                                <span style="padding-right: 0px;"><strong style="color: white;">Schedule for</strong>  </span>
                                               @* <span id="spancolan"><strong style="color: white;">&nbsp;:&nbsp;</strong></span>
                                                @Html.DropDownList("Ddltech", Model.Techlist, "All", new { @style = "width:200px;height:25px;font:13px;" })*@
                                                <span id="spanpname">&nbsp;<strong style="color: white;">@ViewBag.practicename</strong></span>&nbsp;
                                      <strong style="color: white;">@ViewBag.practicerangedates</strong>
                                            </td>
                                            <td width="12%" style="text-align: center; background-color: #1d70ab;">
                                                <strong>@Html.ActionLink("Next", "WeeklyAppts", new { @Nextclick = ViewData["Next"], redirectind = 1 }, new { style = "color:white", @id = "Next", @class = "Next", @Title = ViewData["Nexttooltip"] })</strong>
                                            </td>
                                        </tr>
                                    </table>
                                    @Html.Raw(ViewBag.daysch)
                                </td>
                                <td width="20%" id="tddate" valign="top" align="right">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr style="background: none;">
                                            <td id="tdItems" runat="server" align="center">
                                                <table width="100%">
                                                    <tr style="background: none;">
                                                        <td style="width: 100%; text-align: center;">
                                                            @if (Session["roleid"].ToString() != "1" && ViewBag.Showtask == "Y")
                                                            {
                                                                <a href="#" id="lnltasks" style="font-weight: bold; font-size: 12px; color: #0066cc; padding-right: 10px;">Today tasks list</a>
                                                            }
                                                            <a onclick="return getprintview();" class="button" style="text-decoration: none;">Printable view</a>
                                                            @*                                @Html.ActionLink("Printable view", "Printableview", new { @apptdate = "null", @beginDate = ViewBag.BeginDate, @endDate = ViewBag.EndDate, @ApptType = "Week" }, new { @class = "button", @style = "text-decoration:none;" })*@

                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <table id="tbldate" runat="server">
                                        <tr style="background: none;">
                                            <td align="center">
                                                <div style="width: 232px;" id="datepicker">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
             }
                 </div>
        <div>
            @{Html.RenderAction("Bottomsections", "Tools");}
        </div>
        <div id="AddApptlDialog" title="Add Appointment"></div>
        <div id="dialog-confirm" style="display: none"></div>
        <div id="EditlDialog" title="Edit Appointment"></div>
        <div id="dvLoading" style="display: none; text-align: center; vertical-align: middle">
            <img src="../Images/ajax-loader2.gif" alt="Processing" />
        </div>@*
        <div id="ViewlDialog" title="View Appointment">
        </div>*@
        <div id="custmermap" title="Appointment address"></div>  
        <div id="divTask" style="width: 350px; display: none">
            <div class="content-box">
                <div class="content-box-header">
                    <h3>
                        <span id="lblTasktitle" runat="server"></span>
                    </h3>
                </div>
                <div class="clear">
                </div>
                <div class="content-box-content">
                    @Html.Raw(ViewBag.todaysTask)
                </div>
            </div>
        </div>
        <div id="divappt" style="width: 700px; display: none;">
            <div class="content-box">
                <div class="content-box-header">
                    <h3>
                        <span id="lbltitle" runat="server"></span>
                    </h3>
                </div>
                <div class="clear">
                </div>
                <div class="content-box-content">
                    <table id="tblflyappt" cellpadding="4" cellspacing="1" width="100%" align="center"
                        class="border_style">
                        <tbody>
                            <tr class="tr_bgcolor">
                                <td style="width: 3%; text-align: center;">
                                    <b>#</b>
                                </td>
                                <td style="width: 20%; text-align: center;">
                                    <b>Client name</b>
                                </td>
                                <td style="width: 10%; text-align: center;">
                                    <b>Appt. time</b>
                                </td>
                                <td style="width: 8%; text-align: center;">
                                    <b>Duration</b>
                                </td>
                                <td style="width: 15%; text-align: center;">
                                    <b>Court location name</b>
                                </td>
                                <td style="text-align: center;">
                                    <b>Address</b>
                                </td>
                                <td style="width: 13%; text-align: center;">
                                    <b>Phone</b>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="white_color">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="divcustmtransaction" title="Client transaction">
        </div>        
    }
    @* Add Appointment*@
    
    @* End Appointment*@
    @* Edit Appointment*@
    <script type="text/javascript">
        function combobox115_Open(sender) {
            combobox5.OpenOnFocus = true;
        }
        function combobox115_Focus(sender) {
            combobox5.OpenOnFocus = false;

        }
    </script>
    @* End Edit App*@
</body>
<script type="text/javascript">
    var linkObj;
    function addAppt(applistdate, timperiod)
    {
        Displaydialog('AddApptlDialog', '../Schedule/AddNewAppointment?apptdate=' + applistdate + '&id=' + timperiod + '&frompage=week', 'auto', 930, 'dvLoading', null, null)
        return false;
    }
    function EditAppt(aptid,cphone)
    {
        $('#AddApptlDialog').html('');
        var viewUrl = '../Schedule/EditAppointment?apptEid=' + aptid + '&frompage=Week' + '&cphone=' + cphone;
        Displaydialog('EditlDialog', viewUrl, 'auto', 930, 'dvLoading', null, null)
        return false;
    }
    //$('#AddApptlDialog').dialog({
    //    autoOpen: false,
    //    width: 930,
    //    resizable: false,
    //    resizable: false,
    //    modal: true
    //});
    //$(".schedulemenu").click(function () {
        //var viewUrl = 
        //Displaydialog('AddApptlDialog', '../Schedule/AddNewAppointment?apptdate=" + applistdate + "&id=" + timperiod + "" + "&frompage=week" + "', 'auto', 930, 'dvLoading', null, null)
    //    $('#EditlDialog').html('');
    //    linkObj = $(this);
    //    var dialogDiv = $('#AddApptlDialog');
    //    $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
    //    var viewUrl = linkObj.attr('href');
    //    $.get(viewUrl, function (data) {
    //        dialogDiv.html(data);
    //        $('#dvLoading').dialog('destroy');
    //        dialogDiv.dialog('open');
    //    });
    //    return false;
    //});
    $(".AddApptclose").live("click", function (e) {
        e.preventDefault();
        $('#AddApptlDialog').dialog('close');
    });
    //$('#EditlDialog').dialog({
    //    autoOpen: false,
    //    width: 930,
    //    resizable: false,
    //    resizable: false,
    //    modal: true
    //});

    //$(".EditApptclass").click(function () {
    //    $('#AddApptlDialog').html('');
       
    //    linkObj = $(this);
    //    var dialogDiv = $('#EditlDialog');
    //    $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
    //    var viewUrl = linkObj.attr('href');
    //    $.get(viewUrl, function (data) {
    //        dialogDiv.html(data);
    //        $('#dvLoading').dialog('destroy');
    //        dialogDiv.dialog('open');
    //    });
    //    return false;
    //});
    $(".EditApptclose").live("click", function (e) {
        e.preventDefault();
        $('#EditlDialog').dialog('close');
    });
    //$('#ViewlDialog').dialog({
    //    autoOpen: false,
    //    width: 1200,
    //    height: 460,
    //    resizable: false,
    //    modal: true
    //});
    //$(".ViewDialog").click(function () {
       
    //    linkObj = $(this);
    //    var dialogDiv = $('#ViewlDialog');
    //    $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
    //    var viewUrl = linkObj.attr('href');
    //    $.get(viewUrl, function (data) {
    //        dialogDiv.html(data);
    //        $('#dvLoading').dialog('destroy');
    //        dialogDiv.dialog('open');
    //    });
    //    return false;
    //});
    //$(".ViewApptclose").live("click", function (e) {
    //    e.preventDefault();
    //    $('#ViewlDialog').dialog('close');
    //});
    $('#dialog-confirm').dialog({
        autoOpen: false,
        height: 170,
        resizable: false,
        width: 350,
        show: { effect: 'drop', direction: "up" },
        modal: true,
        buttons: {
            "Yes": function () {
                $("#delapptForm").submit();                
            },
            "No": function () {
                $(this).dialog("close");
            }
        }        
    });
    $(".DelApptDialog").click(function () {
       
        linkObj = $(this);
        var dialogDiv = $('#dialog-confirm');
        var viewUrl = linkObj.attr('href');
        $.get(viewUrl, function (data) {
            dialogDiv.html(data);
            dialogDiv.dialog('open');
        });        
        return false;
    });
    //});
    function updateSuccess(data) {
        document.body.style.cursor = 'default';
        if (data.Success == true) {
            var apptdates = data.Object.monthname;           
            window.location.href = '../Schedule/WeeklyAppts?weekstart=' + apptdates;
            $('#AddApptlDialog').dialog('close');
        }
        else {
            if (data.ErrorMessage == "1") {
                //                 alert(data.ErrorMessage);
                //                 alert("1");
                alert('Appointment already exists for the given time to the client');
                $('#AddApptlDialog').dialog('open');
            }
            else if (data.ErrorMessage == "2") {
                //                 alert(data.ErrorMessage);
                //             alert("2");
                alert('Appointment already exists for the given time.');
                $('#AddApptlDialog').dialog('open');
            }
            else if (data.ErrorMessage == "Please select valid cpt code") {
                //                 alert(data.ErrorMessage);
                //             alert("2");
                alert('Please select valid cpt code.');
                $('#AddApptlDialog').dialog('open');
                document.getElementById('txtcptcode').focus();
            }
            @*else if (data.ErrorMessage == 'false') {
                alert('Session is expired. You will be redirected to session expired page');
                window.location = '@Url.Action("SessionExpire", "Home")';
            }*@
            else if (data.ErrorMessage == 'Client has already appointment for the same time') {
                alert(data.ErrorMessage);
            }
            else {
                if (data != "_Logon_") {
                    var obj = confirm(data.ErrorMessage);
                    if (obj == true) {
                        document.getElementById("hdnValidInd").value = "Y";
                        $("#updateCarForm").submit();
                        $('#AddApptlDialog').dialog('close');
                    }
                    else {
                        $('#AddApptlDialog').dialog('open');
                    }
                }
            }
}
}
    function EditApptSuccess(data) {
        document.body.style.cursor = 'default';
    if (data.Success == true) {
        var apptdates = data.Object.StartDate;
       // alert(apptdates);
        window.location = '../Schedule/WeeklyAppts?weekstart=' + apptdates;
        $('#EditlDialog').dialog('close');
    }
    else {
        if (data.ErrorMessage == "1") {
            //                 alert(data.ErrorMessage);
            //                 alert("1");
            alert('Appointment already exists for the given time to the client');
            $('#EditlDialog').dialog('open');
        }
        else if (data.ErrorMessage == "2") {
            //                 alert(data.ErrorMessage);
            //                 alert("2");
            alert('Appointment already exists for the given time.');
            $('#EditlDialog').dialog('open');
        }
        else if (data.ErrorMessage == "Please select valid cpt code") {
            //                 alert(data.ErrorMessage);
            //             alert("2");
            alert('Please select valid cpt code.');
            $('#EditlDialog').dialog('open');
            document.getElementById('txtCptcode').focus();
        }
       @* else if (data.ErrorMessage == 'false') {
            alert('Session is expired. You will be redirected to session expired page');
            window.location = '@Url.Action("SessionExpire", "Home")';
        }*@
        else if (data.ErrorMessage == "\r\nThere is a conflict on selected date time.\r\n Do you still want to create appointment?") {
            //                    alert("1");
            var obj = confirm(data.ErrorMessage);
            if (obj == true) {
                document.getElementById("Editfutreapnt_Ind").value = "Y";
                $("#EditapptForm").submit();
                $('#EditlDialog').dialog('close');
            }
            else {
                $('#EditlDialog').dialog('close');
            }
        }
        else if (data.ErrorMessage == "Do you want to update future appointments?") {
            //                                     alert("1");
            var obj = confirm(data.ErrorMessage);
            if (obj == true) {
                document.getElementById("Editfutreapnt_Ind").value = "Y";
                $("#EditapptForm").submit();
                $('#EditlDialog').dialog('close');
            }
            else {
                document.getElementById("Editfutreapnt_Ind").value = "N";
                $("#EditapptForm").submit();
                $('#EditlDialog').dialog('close');

            }
        }
        else if (data.ErrorMessage == "Appointment already exists for the Same client.")
        { alert(data.ErrorMessage); }
        else {
            if (data != "_Logon_") {
                var obj = confirm(data.ErrorMessage);
                if (obj == true) {
                    //                        document.getElementById("EditFuInd").value = "Y";
                    document.getElementById("Editfutreapnt_Ind").value = "Null";
                    $("#EditapptForm").submit();
                    $('#EditlDialog').dialog('close');
                }
                else {
                    //                        document.getElementById("EditFuInd").value = "N";
                    //                        $('#EditlDialog').dialog('open');
                    //                        document.getElementById("EditFuInd").value = "N";
                    //                        $("#EditapptForm").submit();
                    $('#EditlDialog').dialog('close');
                }
            }
        }
}
}
    function delSuccess(data) {
    if (data.Success == true) {
        var apptdates = data.Object.getWMdate;
        window.location = '../Schedule/WeeklyAppts?weekstart=' + apptdates;        
    }
    //else if (data.ErrorMessage == 'expire') {
    //    window.location.href = '../Home/SessionExpire';
    //}
    else {
        if (data != "_Logon_") {
            $('#dialog-confirm').dialog('close');
            var obj = confirm(data.ErrorMessage);
            if (obj == true) {
                document.getElementById("futureInd").value = "Y";
                $("#delapptForm").submit();
            }
            else {
                $('#dialog-confirm').dialog('close');
                if (confirm('Do you want to Delete this Appointment?')) {
                    document.getElementById("futureInd").value = "C";
                    $("#delapptForm").submit();
                }
                else {
                    $('#dialog-confirm').dialog('close');
                }
            }
        }
    }
}
</script>
<script type="text/javascript">
    //$('#divcustmtransaction').dialog({
    //    autoOpen: false,
    //    width: 900,
    //    resizable: false,
    //    modal: true,
    //    position: ['middle', 40],
    //    open: function (event, ui) { $('body').css('overflow', 'hidden'); $('.ui-widget-overlay').css('width', '100%'); $("#txtPayAmount").focus(); },
    //    close: function (event, ui) { $('body').css('overflow', 'auto'); }

    //});
    function fncustmtransactions(obj, obj1) {
        //var dialogDiv = $('#divcustmtransaction');
        var id = obj;
        //  alert(document.getElementById("ComboBoxPr").value);
        var roleid = '@Session["roleid"]';
             if (roleid == "1") {
                 var proid = '@ViewBag.proid';
         }
         else {
             proid = null;
         }
         var schetype = "week";
         //$('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
         var viewUrl = '../Schedule/CustomerTransactions?id=' + id + '&proid=' + proid + '&schetype=' + schetype + '&appid=' + obj1;
         Displaydialog('divcustmtransaction', viewUrl, 'auto', 900, 'dvLoading', null, null)
         //$.get(viewUrl, function (data) { dialogDiv.html(data); dialogDiv.dialog('open'); $('#dvLoading').dialog('destroy'); });
         //$.get(viewUrl, function (data) {
         //    dialogDiv.html(data);
         //    $('#dvLoading').dialog('destroy');
         //    dialogDiv.dialog('open');
         //});

         return false;
     }
     $(".transclose").live("click", function (e) {
         e.preventDefault();
         $(this).closest("#divcustmtransaction").dialog("close");

     });

     $(document).ready(function () {
         $(".close").live("click", function (e) {
             e.preventDefault();
             $("#custmermap").dialog("close");

         });
         var TopIndex = '@Session["TopIndex"]';
         $("#Menu0").removeClass();
         $("#Menu1").addClass("active");
         $("#Menu2").removeClass();
         $("#Menu3").removeClass();
         });
</script>
<script type="text/javascript">
    function getprintview() {
        var techid ='';//= document.getElementById('Ddltech').value;
        //if (techid == "All") {
        //    techid = null;
        //}
        //var parm = document.getElementById("Ddltech");
        var selected_text = null;// parm.options[parm.selectedIndex].text;;
        //  alert(selected_text);
        //  var e = document.getElementById("<%=Ddltech.ClientID%>");
        // var selectedtext = e.options[e.selectedIndex].text;
     //   if (selected_text == "All") {
          //  selected_text = null;
       // }
        var apptdate = null;
        var ApptType = "Week";
        window.location.href = "../Schedule/Printableview?beginDate=" + '@ViewBag.BeginDate' + "&endDate=" + '@ViewBag.EndDate' + "&ApptType=" + ApptType + "&techid=" + techid + "&apptdate=" + apptdate + "&technm=" + selected_text;
             @* window.location.href = "@Url.Action("Printableview", new {apptdate = ""null, beginDate = ViewBag.BeginDate, endDate = ViewBag.EndDate, ApptType = "Week" })";*@
        }
</script>
</html>
