@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   @* <meta name="viewport" content="width=device-width" />*@
    <title>MobileSitevisitinghistoryView</title>
</head>
<body>
         <div class="content-box">
        <div class="content-box-content">
        <table class="border_style" cellspacing="1" cellpadding="6" width="100%" border="0">
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>AllCellInfo :</strong></td>
                <td>
                    
                    <label>@ViewBag.AllCellInfo</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>CallState :</strong></td>
                <td>
                    
                    <label>@ViewBag.CallState</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>CellLocation :</strong></td>
                <td>
                    
                    <label>@ViewBag.CellLocation</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>DataActivity :</strong></td>
                <td>
                    
                    <label>@ViewBag.DataActivity</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>DataState :</strong></td>
                <td>
                    
                    <label>@ViewBag.DataState</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>DeviceId :</strong></td>
                <td>
                    
                    <label>@ViewBag.DeviceId</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>DeviceSoftwareVersion :</strong></td>
                <td>
                    
                    <label>@ViewBag.DeviceSoftwareVersion</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>GroupIdLevel1 :</strong></td>
                <td>
                    
                    <label>@ViewBag.GroupIdLevel1</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>Handle :</strong></td>
                <td>
                    
                    <label>@ViewBag.Handle</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>HasIccCard :</strong></td>
                <td>
                    
                    <label>@ViewBag.HasIccCard</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>IsNetworkRoaming :</strong></td>
                <td>
                    
                    <label>@ViewBag.IsNetworkRoaming</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>NeighboringCellInfo :</strong></td>
                <td>
                    
                    <label>@ViewBag.NeighboringCellInfo</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>NetworkCountryIso :</strong></td>
                <td>
                    
                    <label>@ViewBag.NetworkCountryIso</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>NetworkOperator :</strong></td>
                <td>
                    
                    <label>@ViewBag.NetworkOperator</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>NetworkOperatorName :</strong></td>
                <td>
                    
                    <label>@ViewBag.NetworkOperatorName</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>NetworkType :</strong></td>
                <td>
                    
                    <label>@ViewBag.NetworkType</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>PhoneType :</strong></td>
                <td>
                    
                    <label>@ViewBag.PhoneType</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>SimCountryIso :</strong></td>
                <td>
                    
                    <label>@ViewBag.SimCountryIso</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>SimOperator :</strong></td>
                <td>
                    
                    <label>@ViewBag.SimOperator</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>SimOperatorName :</strong></td>
                <td>
                    
                    <label>@ViewBag.SimOperatorName</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>SimSerialNumber :</strong></td>
                <td>
                    
                    <label>@ViewBag.SimSerialNumber</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>SimState :</strong></td>
                <td>
                    
                    <label>@ViewBag.SimState</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>SubscriberId :</strong></td>
                <td>
                    
                    <label>@ViewBag.SubscriberId</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>VoiceMailAlphaTag :</strong></td>
                <td>
                    
                    <label>@ViewBag.VoiceMailAlphaTag</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>VoiceMailNumber :</strong></td>
                <td>
                    
                    <label>@ViewBag.VoiceMailNumber</label>
                    </td>
            </tr>
            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>Deviceownername :</strong></td>
                <td>
                    
                    <label>@ViewBag.deviceownername</label>
                    </td>
            </tr>
                        <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>DeviceadderessMaxline :</strong></td>
                <td>
                    
                    <label>@ViewBag.deviceadderessMaxline</label>
                    </tr>
                                    <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>Deviceaddress :</strong></td>
                <td>
                    
                    <label>@ViewBag.deviceaddress</label>
                    </tr>
                                    <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>DevicePhone :</strong></td>
                <td>
                    
                    <label>@ViewBag.devicePhone</label>
                    </tr>
                                                <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>Createdon :</strong></td>
                <td>
                    
                    <label>@ViewBag.createdon</label>
                    </tr>
                                                            <tr class="white_color">
                <td style="text-align:right; width:20%;">
                    <strong>Mobile type :</strong></td>
                <td>
                    
                    <label>@ViewBag.Mobile_type</label>
                    </tr>
        </table>
         </div>
        </div>
    <table  runat="server" width="100%">
                                    <tr class="background_color">
                                        <td align="right" style="padding-top:10px;">
                                                <input type="button" name="btnCancel" class="close button" value="Cancel"  />
                                           
                                            
                                        </td>
                                    </tr>
                                </table>
</body>
</html>
