@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
   @Scripts.Render("~/ThScripts/ElectricianHelpscripts")
    @Styles.Render("~/Content/themes/base/TherpistStyles")

@*      <style type="text/css">
                  tr.gridHead th:nth-child(1) { width: 100px; }
          tr.gridHead th:nth-child(2) { width: 100px; }
          tr.gridHead th:nth-child(3) { width: 300px; }
          tr.gridHead th:nth-child(4) { width: 70px; }
          tr.gridHead th:nth-child(5) { width: 60px; }
              .dvLoading .ui-dialog-titlebar{display:none;}
        
    </style>*@
    <script type="text/javascript">
        $(document).ready(function () {


            var fromdate = $('#hdnFromdate').val();
            if (fromdate != '') {
                $('#txt_FromDate').val(fromdate);
                document.getElementById('tddaterange').style.display = '';
            }
            else {
                $('#txt_FromDate').val("");
                document.getElementById('tddaterange').style.display = 'none';

            }

            var todate = $('#hdnTodate').val();
            if (todate != '') {
                $('#txt_ToDate').val(todate);
                document.getElementById('tddaterange').style.display = '';
            }
            else {
                $('#txt_ToDate').val("");
                document.getElementById('tddaterange').style.display = 'none';

            }

            var drange = $('#hdndaterange').val();
            if (drange != '') {
                $('#dt_filter').val(drange);

            }
            else {
                $('#dt_filter').val("0");
            }
            var Ip = $('#hdnipadd').val();
            if (Ip != '') {
                $('#txtipaddress').val(Ip);
            }

        });
        $(document).ready(function () {
            var TopIndex = '@Session["TopIndex"]';
             $("#Menu0").removeClass();
             $("#Menu1").removeClass();
             $("#Menu2").removeClass();
             $("#Menu3").addClass("active");
         });
    </script>
                <script type="text/javascript">

                             function cancel() {
            window.location.href = "@Url.Action("Tools", "AdminHome", new { sectionid = "333" })"; 
        }

    </script>
        <script type="text/javascript">

            $(document).ready(function () {
                var frm = $("#formname");
                $('#dt_filter').change(function () {
                    if (document.getElementById('dt_filter').value == 'Custom') {
                        document.getElementById('tddaterange').style.display = '';
                        $('#txt_FromDate').val("");
                        $('#txt_ToDate').val("");
                    }
                    else {
                        document.getElementById('tddaterange').style.display = 'none';
                        $('#txt_FromDate').val("");
                        $('#txt_ToDate').val("");
                    }
                    return false;
                });

                //$("#txt_FromDate").on('change keyup paste mouseup', function () {
                //    //  alert("1");
                //    if ($(this).val().length == 10) {
                //        //alert("2");
                //        if (CheckValidDate(document.getElementById('txt_FromDate')) == 0) { return false; }
                //        var St = document.getElementById('txt_FromDate').value; St = new Date(St);
                //        // alert(St);
                //        var targetDate = new Date(St);
                //        targetDate.setDate(targetDate.getDate() + 365);
                //        //   alert(targetDate);
                //        var todaydate = new Date();
                //        todaydate.setDate(todaydate.getDate());
                //        var dd = todaydate.getDate();
                //        var mm = todaydate.getMonth() + 1; //January is 0!
                //        var yyyy = todaydate.getFullYear();
                //        var today = mm + '/' + dd + '/' + yyyy;
                //        var dd1 = targetDate.getDate();
                //        var mm1 = targetDate.getMonth() + 1;
                //        var yyyy1 = targetDate.getFullYear();
                //        var target1 = mm1 + '/' + dd1 + '/' + yyyy1;
                //        //  alert(target1);
                //        if (targetDate > todaydate) { document.getElementById('txt_ToDate').value = today; return false; }
                //        else { document.getElementById('txt_ToDate').value = target1; return false; }
                //    }
                //});
            });
</script>
<script type="text/javascript">

    //$(function () {
    //    $("#txt_FromDate,#txt_ToDate").datepicker({
    //        dateFormat: 'mm/dd/yy',
    //        changeMonth: true,
    //        changeYear: true,
    //        //                showCurrentAtPos: 1,
    //        showWeeks: true,
    //        inline: true,
    //        numberOfMonths: [1, 1],
    //        yearRange: "1950:2020",
    //        showOn: "button",
    //        buttonImage: "../Images/calender.gif",
    //        buttonImageOnly: true

    //    });
       
    //});
    </script>
    <style type="text/css">
        .ui-datepicker-trigger
        {
            margin-left: 5px;
            vertical-align: middle;
        }
    </style>
    <script language="javascript" type="text/javascript">
        function ValidSearch() {

            //            if (document.getElementById('dt_filter').selectedIndex == 0) {
            //                alert("Select date");
            //                return false;
            //            }
            if (document.getElementById('dt_filter').value == 'Custom') {

                if (document.getElementById('txt_FromDate').value != '' && document.getElementById('txt_FromDate').value != "mm/dd/yyyy") {
                    if (CheckValidDate(document.getElementById('txt_FromDate')) == 0) {
                        return false;
                    }
                }
                if (document.getElementById('txt_ToDate').value != '' && document.getElementById('txt_ToDate').value != "mm/dd/yyyy") {
                    if (CheckValidDate(document.getElementById('txt_ToDate')) == 0) {
                        return false;
                    }
                }
                var CDate = new Date()
                var CFormatDate = CDate.getUTCMonth() + 1 + "/" + CDate.getDate() + "/" + CDate.getFullYear();
                var FromDate = document.getElementById('txt_FromDate').value;
                if (document.getElementById('txt_FromDate').value == '' || document.getElementById('txt_FromDate').value == "mm/dd/yyyy") {
                    alert('Select from date');
                    document.getElementById('txt_FromDate').focus();
                    return false;
                }
                if (document.getElementById('txt_ToDate').value == '' || document.getElementById('txt_ToDate').value == "mm/dd/yyyy") {
                    alert('Select to date');
                    document.getElementById('txt_ToDate').focus();
                    return false;
                }
                var St = document.getElementById('txt_FromDate').value;
                St = new Date(St);
                var En = document.getElementById('txt_ToDate').value
                En = new Date(En);
                if (St > En) {
                    alert("From date should not be greater than to date")
                    return false;
                }

            }
            //document.forms.item(0).submit();
            //localhost:49219/Technicalarea/Sitevisitinghistory?hdnsearch=&hdnFromdate=&hdnTodate=&hdndaterange=30&hdnipadd=&ddlsite=13&txtipaddress=&dt_filter=30&txt_FromDate=&txt_ToDate=&hdnpagesize=10&ddlrecords=10
            if (document.getElementById('dt_filter').value != 'Custom' && document.getElementById('txtipaddress').value == '') {

                window.location.href = '@Url.Action("Sitevisitinghistory", "Technicalarea")?ddlrecords=' + document.getElementById('ddlrecords').value + '&ddlsite=' + document.getElementById('ddlsite').value + '&dt_filter=' + document.getElementById('dt_filter').value;
              }
              else if (document.getElementById('txtipaddress').value != '' && document.getElementById('dt_filter').value != 'Custom') {//  + '&hdnipadd=' + document.getElementById('hdnipadd').value +
                  window.location.href = '@Url.Action("Sitevisitinghistory", "Technicalarea")?ddlrecords=' + document.getElementById('ddlrecords').value + '&ddlsite=' + document.getElementById('ddlsite').value + '&dt_filter=' + document.getElementById('dt_filter').value + '&txtipaddress=' + document.getElementById('txtipaddress').value;

            }
            else if (document.getElementById('txtipaddress').value != '' && document.getElementById('dt_filter').value == 'Custom') {//+ '&hdnipadd=' + document.getElementById('hdnipadd').value
                window.location.href = '@Url.Action("Sitevisitinghistory", "Technicalarea")?ddlrecords=' + document.getElementById('ddlrecords').value + '&ddlsite=' + document.getElementById('ddlsite').value + '&dt_filter=' + document.getElementById('dt_filter').value + '&txtipaddress=' + document.getElementById('txtipaddress').value + '&txt_ToDate=' + document.getElementById('txt_ToDate').value + '&txt_FromDate=' + document.getElementById('txt_FromDate').value;

            }

            else if (document.getElementById('dt_filter').value == 'Custom') {// '&hdnpagesize=' + document.getElementById('hdnpagesize').value +

                window.location.href = '@Url.Action("Sitevisitinghistory", "Technicalarea")?ddlrecords=' + document.getElementById('ddlrecords').value + '&ddlsite=' + document.getElementById('ddlsite').value + '&dt_filter=' + document.getElementById('dt_filter').value + '&txt_ToDate=' + document.getElementById('txt_ToDate').value + '&txt_FromDate=' + document.getElementById('txt_FromDate').value;

            } else { document.forms.item(0).submit(); }
        }
						
    </script>


    
</head>
<body>
    @using (Html.BeginForm("Sitevisitinghistory", "Technicalarea", FormMethod.Get, null))
    {
        Html.RenderAction("Topsection", "Tools");
        <br />
       
        <input id="hdnsearch" name="hdnsearch" type="hidden" value="@ViewBag.search"/>
        
        <input id="hdnFromdate" name="hdnFromdate" type="hidden" value="@ViewBag.Fromdate"/>
        <input id="hdnTodate" name="hdnTodate" type="hidden" value="@ViewBag.Todate"/>
        <input id="hdndaterange" name="hdndaterange" type="hidden" value="@ViewBag.Daterange"/>
        <input id="hdnipadd" name="hdnipadd" type="hidden" value="@ViewBag.ipaddress"/>

    <div id="main-content">
        @Html.Partial("_NavigationTool")
      <table class="border_style" cellspacing="1" cellpadding="6" width="100%" align="center" border="0">
            <tbody>
                <tr class="white_color">
                            <td style="text-align:center">
            <strong> Site&nbsp;:&nbsp;</strong> 
                                                                                                        @Html.DropDownList("ddlsite", new List<SelectListItem>

                                                              {
                                                               new SelectListItem{ Text="Mower Helper", Value = "20" },
                                                               new SelectListItem{ Text="Mower Helper- Mobile", Value = "21" }
                                                              },
                                                               new { style = "font-family:arial;font-size:13px;height:20px;width:180px;" })
        </td>
                <td height="30px" align="right">
                       <strong> IP Address&nbsp;:&nbsp;</strong> 
                            @Html.TextBox("txtipaddress", null, new { @class = "textfield", style = "width:170px", autocomplete = "off" })
                    </td>
                     <td align="right">
                                                              <strong>Date range&nbsp;:&nbsp; </strong>
                                                                                    @Html.DropDownList("dt_filter", new List<SelectListItem>

                                                              {
                                                               new SelectListItem{ Text="--Select dates--", Value = "0" },
                                                               new SelectListItem{ Text="Today", Value = "Today" },
                                                               new SelectListItem{ Text="Last 7 days", Value = "7" },
                                                               new SelectListItem{ Text="Last 30 days", Value = "30" }, 
                                                               new SelectListItem{ Text="Custom", Value = "Custom" }, 
                                                              },
                                                               new { style = "font-family:arial;font-size:13px;height:20px;width:120px;" })
                    </td>

                    <td width="30%"  align="left">
                             <table >
                    <tr>
                        @Html.Partial("_CustomDate")
                 
                    </tr>
                    </table>
               @*     <table width="100%" id="tddaterange" runat="server" style="display:none">
                    <tr>
                        @Html.Partial("_CustomDate",null,new ViewDataDictionary { { "id", "1" } })
                    <td width="100%" align="left">
                    <strong> From : </strong> &nbsp;&nbsp;&nbsp;  
                                                              <input type="text" name="txt_FromDate" id="txt_FromDate" class="textfield" maxlength="10" style="width: 75px;" />
                                                             &nbsp;&nbsp; <strong> To : </strong> &nbsp;&nbsp;&nbsp; 
                                                             <input type="text" name="txt_ToDate" id="txt_ToDate" class="textfield" maxlength="10" style="width: 75px;" />
                                                                                 </td>
                    </tr>
                    </table>*@
                        </td>
                                            <td align="left">
                                                <a id="btnSearch" href="#" onclick="return ValidSearch();" title="Search"><img alt="" id="" src="~/Images/search_button_green.png" style="width:30px;" /></a>
                       @*<input type="submit" name="btnSearch" value="Search" id="btnSearch" onclick="return ValidSearch();" class="button" />*@&nbsp;
                       <input value="Cancel" type="button" class="button" style="width: 60px;vertical-align:top;" id="btnclose1" onclick="return cancel();"/>
                    </td>
                   </tr>
               </tbody>
        </table>
        <br />
        @if (ViewBag.ddlsite == "20")
        {
            Html.RenderAction("SitevisitinghistoryGrid", "Technicalarea");
        }
        else
        {
            Html.RenderAction("MobileSitevisitinghistory", "Technicalarea");
        }
               
            </div>                               
                                              Html.RenderAction("Bottomsections", "Tools");



    }
               
    <script src="~/Scripts/DatepickerNew.js" type="text/javascript"></script>
</body>
</html>

