@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
         @Styles.Render("~/Content/themes/base/TherpistStyles")
    @Scripts.Render("~/ThScripts/ThAjaxscripts")
    @Scripts.Render("~/SCRIPTS/scriptCognetwork")
       @* <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />*@
    @*<script src="~/SCRIPTS/scriptCognetwork.js" type="text/javascript"></script>*@
    @* <script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>*@
     @* <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>*@
   @* <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>*@
   @* <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>*@
    <script type="text/javascript">
        function clearalerts() {
            ValidateAlertClear('tblErrPwd', 'lblErrOldpwd', 'tdErrOldpwd', 'tdOld', 'White');
            ValidateAlertClear('tblErrPwd', 'lblErrNew', 'tdErrNew', 'tdNew', '#FFFFFF');
            ValidateAlertClear('tblErrPwd', 'lblErrCon', 'tdErrCon', 'tdConfirm', 'White');
        }
        function validatePass() {
            if (MyChars(document.getElementById("txtOldpwd")) == "BlankError") {
                clearalerts();
                ValidateAlert('tblErrPwd', 'lblErrOldpwd', 'tdErrOldpwd', 'tdOld', 'Please enter old password');
                document.getElementById("txtOldpwd").focus();
                return false;
            }
            else {
                ValidateAlertClear('tblErrPwd', 'lblErrOldpwd', 'tdErrOldpwd', 'tdOld', 'White');
            }
            if (MyChars(document.getElementById("txtOldpwd")) == "SpaceError") {
                clearalerts();
                ValidateAlert('tblErrPwd', 'lblErrOldpwd', 'tdErrOldpwd', 'tdOld', 'Please enter old password without spaces first');
                document.getElementById("txtOldpwd").focus();
                return false;
            }
            else {
                ValidateAlertClear('tblErrPwd', 'lblErrOldpwd', 'tdErrOldpwd', 'tdOld', 'White');
            }
            if (MyChars(document.getElementById("txtpwd")) == "BlankError") {
                clearalerts();
                ValidateAlert('tblErrPwd', 'lblErrNew', 'tdErrNew', 'tdNew', 'Please enter new password');
                document.getElementById("txtpwd").focus();
                return false;
            }
            else {
                ValidateAlertClear('tblErrPwd', 'lblErrNew', 'tdErrNew', 'tdNew', '#FFFFFF')
            }
            if (MyChars(document.getElementById("txtpwd")) == "SpaceError") {
                clearalerts();
                ValidateAlert('tblErrPwd', 'lblErrNew', 'tdErrNew', 'tdNew', 'Please enter new password without spaces first');
                document.getElementById("txtpwd").focus();
                return false;
            }
            else {
                ValidateAlertClear('tblErrPwd', 'lblErrNew', 'tdErrNew', 'tdNew', '#FFFFFF')
            }

            if (MyChars(document.getElementById("txtConfirmPassword")) == "BlankError") {
                clearalerts();
                ValidateAlert('tblErrPwd', 'lblErrCon', 'tdErrCon', 'tdConfirm', 'Please enter confirm password');
                document.getElementById("txtConfirmPassword").focus();
                return false;
            }
            else {
                ValidateAlertClear('tblErrPwd', 'lblErrCon', 'tdErrCon', 'tdConfirm', 'White');
            }
            if (MyChars(document.getElementById("txtConfirmPassword")) == "SpaceError") {
                clearalerts();
                ValidateAlert('tblErrPwd', 'lblErrCon', 'tdErrCon', 'tdConfirm', 'Please enter confirm password without spaces');
                document.getElementById("txtConfirmPassword").focus();
                return false;
            }
            else {
                ValidateAlertClear('tblErrPwd', 'lblErrCon', 'tdErrCon', 'tdConfirm', 'White');
            }


            if (document.getElementById("txtConfirmPassword").value != document.getElementById("txtpwd").value) {
                clearalerts();
                ValidateAlert('tblErrPwd', 'lblErrCon', 'tdErrCon', 'tdConfirm', 'Please enter confirm password entry correctly');
                document.getElementById("txtConfirmPassword").focus();
                return false;
            }
            else {
                ValidateAlertClear('tblErrPwd', 'lblErrCon', 'tdErrCon', 'tdConfirm', 'White');
            }

        }
    </script>
</head>
<body>
  @*  @using (Html.BeginForm("PasswordManagement", "Common", FormMethod.Post))
    {*@
       @using (Ajax.BeginForm("PasswordManagement", "Common", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "updateSuccess",
            OnComplete = "SessionExpireFail"

        }, new { @id = "updatepwd" }))
   {
           @Html.AntiForgeryToken()
        Html.RenderAction("Topsection", "Tools");
        <div id="main-content">
             <table width="100%" cellpadding="0" cellspacing="0">
                   @if (Session["roleid"].ToString() == "4" || Session["roleid"].ToString() == "39" )
                     {
                            <tr id="trtabs" runat="server">
                                <td width="100%" class="navigation">

                                   
                                  @*  <div class="admin-tab">
                                        <a class="inadmin-link" id="acontent"  href="../Billing/TransactionDisplay"><span>Customer Transactions</span>
                                        </a>
                                    </div>*@
                                 @*   <div class="admin-tab">
                                        <a class="inadmin-link" id="avideo" href="VideoAudioFiles" ><span>Video/Audio Files</span>
                                        </a>
                                    </div>*@
                                     <div class="admin-tab">
                                        <a class="inadmin-link" id="adocument1" href="../OfficeExpenses/ExpenseLedger" ><span>My Business Expenses</span>
                                        </a>
                                    </div>
                                   @* <div class="admin-tab">
                                        <a class="inadmin-link" id="adocument" href="../Notes/ProfileNotes"><span>Notes</span>
                                        </a>
                                    </div>*@
                                    <div class="admin-tab">
                                        <a class="admin-link" id="adocument2" href="PasswordManagement" ><span>Password Management</span>
                                        </a>
                                    </div>
                                    <div class="admin-tab">
                                        <a class="inadmin-link" id="adocument3" href="../Admin/FT_servicesTransaction" ><span>Mower Helper Transactions</span>
                                        </a>
                                    </div>
                                                                         @if (ViewBag.Showtask == "Y")
                                     {
                                    <div class="admin-tab">
                                        <a class="inadmin-link" id="adocument4" href="../Task/TaskList" ><span>Tasks</span>
                                        </a>
                                    </div>
                                                                         }
                                     <div class="admin-tab" style="display:none;">
                                        <a class="inadmin-link" id="adocument5" href="@Url.Action("Index","Technicians")" ><span>Technicians</span>
                                        </a>
                                    </div>
                                   <div class="admin-tab">
                                    <a class="inadmin-link" href="../Admin/FTservices_addnewpayment" id="acontent"><span>Payment method</span>
                                    </a>
                                </div>
                                    <div class="admin-tab">                                        
                                        <a class="inadmin-link" href="../Messages/MessageFromHelp" id="amsgcontent"><span>Messages</span></a>
                                    </div>
                                    @*<div class="admin-tab">                                        
                                        <a class="inadmin-link" href="../Article/ArticleJqGrid" id="aArticles"><span>Articles</span></a>
                                    </div>*@
                                     @if(ViewBag.Showforums=="Y"){
                                      <div class="admin-tab">
                                    <a class="inadmin-link" href="../Forums/ForumsHome" id="acontent5"><span>Forums</span>
                                    </a>
                                </div>
                                    }
                                </td>
                            </tr>
                   }
                   @if (Session["roleid"].ToString() == "31" || Session["roleid"].ToString() == "38" )
                   {
                       <tr id="trtabs" runat="server">
                                <td width="100%" class="navigation">
                                    <div class="admin-tab">
                                        <a class="inadmin-link" id="aprovider1" href="../VerificationUser/Licenseexpirelist" ><span>License expire list</span>
                                        </a>
                                    </div>
                                    <div class="admin-tab">
                                        <a class="admin-link" id="acontent1"  href="../Common/PasswordManagement"><span>Password management</span>
                                        </a>
                                    </div>                                
                                </td>
                            </tr>
                   }
                            <tr class="background_color">
                                <td id="tdtabs" class="tab-background"   width="100%">
            <div class="content-box">
                <div class="content-box-header">
                    <table width="100%" cellpadding="0" cellspacing="0" style="float: left;">
                        <tr>
                            <td width="100%" align="left">
                                <h3>
                                    Password management</h3>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="content-box-content">
                    <table class="border_style" id="tblchangepass" cellspacing="1" cellpadding="6" width="100%"
                        align="center" border="0">
                        <tr class="white_color">
                            <th colspan="2" align="center" style="height: 20px;">
                                <strong>Reset password</strong>
                            </th>
                        </tr>
                        <tr class="nav_blue_color" id="Tr1">
                            <th align="right">
                                <font color="red">*</font><strong>Old password&nbsp;:&nbsp;</strong>
                            </th>
                            <td width="50%" id="tdOld">
                            @Html.Password("txtOldpwd", null, new { @style = "width:200px;", @class = "textfield" })
                                @*<asp:textbox id="txtOldpwd" width="200px" cssclass="textfield" textmode="Password"></asp:textbox>*@
                            </td>
                        </tr>
                        <tr class="white_color" id="troldpwd">
                            <th align="right">
                                <font color="red">*</font><strong>New password&nbsp;:&nbsp;</strong>
                            </th>
                            <td width="50%" id="tdNew">
                             @Html.Password("txtpwd", null, new { @style = "width:200px;", @class = "textfield" })
                               @* <asp:textbox id="txtpwd" width="200px" cssclass="textfield" textmode="Password"></asp:textbox>*@
                            </td>
                        </tr>
                        <tr class="nav_blue_color">
                            <th align="right">
                                <font color="red">*</font><strong>Confirm password&nbsp;:&nbsp;</strong>
                            </th>
                            <td id="tdConfirm">
                                @Html.Password("txtConfirmPassword", null, new { @style = "width:200px;", @class = "textfield" })
                               @* <asp:textbox id="txtConfirmPassword" width="200px" cssclass="textfield" textmode="Password"></asp:textbox>*@
                            </td>
                        </tr>
                       @* <tr class="white_color">
                            <td align="center" colspan="2">
                                <input id="ChkEmail" name="ChkEmail" type="checkbox" value="Yes" />
                                Check here&nbsp;if you would like your access credentials emailed to&nbsp;&nbsp;<u><span
                                    id="lblemail" >@ViewBag.Email</span></u>
                            </td>
                        </tr>*@
                    </table>
                    <table cellspacing="0" cellpadding="0" width="100%" border="0" id="tblErrPwd" style="display: none;">
                        <tr class="white_color" align="center">
                            <td id="tdErrOldpwd" height="30px" style="display: none;">
                                <span id="lblErrOldpwd" style="font-weight: bold; color: Black;"></span>
                            </td>
                        </tr>
                        <tr class="white_color" align="center">
                            <td id="tdErrNew" height="30px" style="display: none;">
                                <span id="lblErrNew" style="font-weight: bold; color: Black;"></span>
                            </td>
                        </tr>
                        <tr class="white_color" align="center">
                            <td id="tdErrCon" height="30px" style="display: none;">
                                <span id="lblErrCon" style="font-weight: bold; color: Black;"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div> 
                                     <br />
        <table id="tblchangepass1" width="98%">
            <tr>
                <td align="right" colspan="2">
                    <input type="submit" id="imgbtnSaveFile" value="Submit" class="button" onclick="return validatePass();" />
                    &nbsp;
                      @if (Session["roleid"].ToString() == "31" || Session["roleid"].ToString() == "38" )
                   {
                          @Html.ActionLink("Cancel", "Licenseexpirelist", "VerificationUser", null, new { @class = "button", @style = "width:34px;height:14px;" })
                    
                      }
                      else
                      {
                           @Html.ActionLink("Cancel", "ExpenseLedger", "OfficeExpenses", null, new { @class = "button", @style = "width:34px;height:14px;" })
                      }

                    @*<input type="button" class="close button" name="Cancel" value="Cancel" />*@
                </td>
            </tr>
        </table>
                                    </td>
                                </tr>
                 </table>

        </div>
       
       

                   Html.RenderAction("Bottomsections", "Tools");
   }
    <script type="text/javascript">
        function updateSuccess(data) {

            if (data != '' & data.Success == true) {
                alert('Password Changed Sucessfully.');
                var roleid = '@Session["roleid"]';
                if (roleid == "4") {
                    window.location = "../OfficeExpenses/ExpenseLedger";
                }
                else if (roleid == "38" || roleid=="31")
                {
                    window.location = "../VerificationUser/Licenseexpirelist";
                }
               
            }
            else {
                if (data != "_Logon_") {

                    //alert(data.ErrorMessage);
                    //if (data.ErrorMessage == "Y") {
                    //    document.location = "../Home/SessionExpire";
                    //}
                    // alert("1");
                    ValidateAlert('tblErrPwd', 'lblErrOldpwd', 'tdErrOldpwd', 'tdOld', 'Invalid Old Password Entry.');
                }
            }
        }
    </script>
      <script type="text/javascript">
          $(document).ready(function () {
              var TopIndex = '@Session["TopIndex"]';
              $("#Menu0").removeClass();
              $("#Menu1").removeClass();
              $("#Menu2").removeClass();
              $("#Menu3").removeClass();
              $("#Menu4").addClass("active");
          });
    </script>
</body>
</html>
