@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
    <style type="text/css">
        .ui-datepicker-trigger{ margin-left: 5px; vertical-align: middle; }
             .dvLoading .ui-dialog-titlebar{display:none;}
    </style>
          @Styles.Render("~/Content/themes/base/jqueryCSS")
       @Scripts.Render("~/Scripts/Thscriptscript")
     <link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" type="text/css" />
               <script type="text/javascript">

              var linkObj;
              $(function () {

                  //$('#viewcomments').dialog({
                  //    autoOpen: false,
                  //    width: 1000,
                  //    //                      height: 400,
                  //    resizable: false,
                  //    modal: true
                  //});

                  //$(".viewfaqcomments").click(function () {
                  //    linkObj = $(this);
                  //    var dialogDiv = $('#viewcomments');
                  //    $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                  //    var viewUrl = linkObj.attr('href');
                  //    $.get(viewUrl, function (data) {
                  //        dialogDiv.html(data);
                  //        $('#dvLoading').dialog('close');
                  //        dialogDiv.dialog('open');
                  //    });
                  //    return false;
                  //});
   });
   </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var TopIndex = '@Session["TopIndex"]';
            $("#Menu0").removeClass();
            $("#Menu1").removeClass();
            $("#Menu2").removeClass();
            $("#Menu3").addClass("active");
        });
    </script>
    <script type="text/javascript">
        $(function () {
            var qtext = document.getElementById('hdnqtext').value;
            if (qtext != null && qtext != '') {
                $('#txtQuestion').val(qtext);
            }
            JqAutocomplete('@Url.Action("AdminFAQList", "AdminFaqs")', 'txtQuestion', 'hdnQuestion');

        });
    </script>
    <script type="text/javascript">
       
        $(document).ready(function () {
            var frm = $("#formname");
            $('#dt_filter').change(function () {
                if (document.getElementById('dt_filter').value == 'Custom') {
                    document.getElementById('tddaterange').style.display = '';
                    $('#txt_FromDate').val("");
                    $('#txt_ToDate').val("");
                }
                else {
                    document.getElementById('tddaterange').style.display = 'none';
                    $('#txt_FromDate').val("");
                    $('#txt_ToDate').val("");
                }
                return false;
            });
        });
</script>
<script type="text/javascript">
      $(document).ready(function () {
          $(".cancel1").live("click", function (e) {
              var dialogDiv = $('#viewcomments');
              dialogDiv.dialog('close');
              return false;
          });
      });
      function redirection() {
          window.location.href = "../AdminFaqs/Help";
      }
          </script>
<script language="javascript" type="text/javascript">
    function ValidSearch() {

        if (document.getElementById('dt_filter').selectedIndex == 0) {
            alert("Select date");
            return false;
        }
        if (document.getElementById('dt_filter').value == 'Custom') {

            if (document.getElementById('txt_FromDate').value != '' && document.getElementById('txt_FromDate').value != "mm/dd/yyyy") {
                if (CheckValidDate(document.getElementById('txt_FromDate')) == 0) {
                    return false;
                }
            }
            if (document.getElementById('txt_ToDate').value != '' && document.getElementById('txt_ToDate').value != "mm/dd/yyyy") {
                if (CheckValidDate(document.getElementById('txt_ToDate')) == 0) {
                    return false;
                }
            }
            var CDate = new Date()
            var CFormatDate = CDate.getUTCMonth() + 1 + "/" + CDate.getDate() + "/" + CDate.getFullYear();
            var FromDate = document.getElementById('txt_FromDate').value;
            if (document.getElementById('txt_FromDate').value == '' || document.getElementById('txt_FromDate').value == "mm/dd/yyyy") {
                alert('Select from date');
                document.getElementById('txt_FromDate').focus();
                return false;
            }
            if (document.getElementById('txt_ToDate').value == '' || document.getElementById('txt_ToDate').value == "mm/dd/yyyy") {
                alert('Select to date');
                document.getElementById('txt_ToDate').focus();
                return false;
            }
            var St = document.getElementById('txt_FromDate').value;
            St = new Date(St);
            var En = document.getElementById('txt_ToDate').value
            En = new Date(En);
            if (St > En) {
                alert("From date should not be greater than to date")
                return false;
            }

        }
        document.forms.item(0).submit();
    }
						
    </script>
    <script type="text/javascript">    
        //$(function () {
        //    $("#txt_ToDate,#txtEndDateforDaily,#txtEndDateforWeek,#txt_FromDate").datepicker({
        //        dateFormat: 'mm/dd/yy',
        //        changeMonth: true,
        //        changeYear: true,
        //        //                showCurrentAtPos: 1,
        //        showWeeks: true,
        //        inline: true,
        //        numberOfMonths: [1, 1],
        //        yearRange: "1950:2020",
        //        showOn: "button",
        //        buttonImage: "../Images/calender.gif",
        //        buttonImageOnly: true

        //    });
           
        //});
    </script>
    <script type="text/javascript">

        function ddlchange(id, Question_id, Rating_id) {
            if (id == "Archive") {
                if (confirm("Do you want to archive this note ?")) {

                    //                    $.getJSON("ChangeStatus", { Generalnoteid: noteid, notetype: notetype, Status: Status, ispatient: ispatient, id: id });

                    window.location = '../AdminFaqs/ChangeStatus?Question_id=' + Question_id + "&Rating_id=" + Rating_id;
                    $('.ddlactionclass').val(0);
                }

                else {
                    $('.ddlactionclass').val(0);
                }
            }

        }
        function redirectclick() {
            window.location.href = "../AdminFaqs/FAQComments";
        }
</script>
  <script type="text/javascript">
      $(document).ready(function () {
        
          $("#txt_FromDate").on('change keyup paste mouseup', function () {
              //  alert("1");
              if ($(this).val().length == 10) {
                  //alert("2");
                  if (CheckValidDate(document.getElementById('txt_FromDate')) == 0) { return false; }
                  var St = document.getElementById('txt_FromDate').value; St = new Date(St);
                  // alert(St);
                  var targetDate = new Date(St);
                  targetDate.setDate(targetDate.getDate() + 365);
                  //   alert(targetDate);
                  var todaydate = new Date();
                  todaydate.setDate(todaydate.getDate());
                  var dd = todaydate.getDate();
                  var mm = todaydate.getMonth() + 1; //January is 0!
                  var yyyy = todaydate.getFullYear();
                  var today = mm + '/' + dd + '/' + yyyy;
                  var dd1 = targetDate.getDate();
                  var mm1 = targetDate.getMonth() + 1;
                  var yyyy1 = targetDate.getFullYear();
                  var target1 = mm1 + '/' + dd1 + '/' + yyyy1;
                  //  alert(target1);
                  if (targetDate > todaydate) { document.getElementById('txt_ToDate').value = today; return false; }
                  else { document.getElementById('txt_ToDate').value = target1; return false; }
              }
          });


          var fromdate = $('#hdnFromdate').val();
          if (fromdate != '') {
              $('#txt_FromDate').val(fromdate);
              document.getElementById('tddaterange').style.display = '';
          }
          else {
              $('#txt_FromDate').val("");
              document.getElementById('tddaterange').style.display = 'none';

          }

          var todate = $('#hdnTodate').val();
          if (todate != '') {
              $('#txt_ToDate').val(todate);
              document.getElementById('tddaterange').style.display = '';
          }
          else {
              $('#txt_ToDate').val("");
              document.getElementById('tddaterange').style.display = 'none';

          }

          var drange = $('#hdndaterange').val();
          if (drange != '') {
              $('#dt_filter').val(drange);

          }
          else {
              $('#dt_filter').val("0");


          }

      });


    </script>
</head>
<body>
    @using (Html.BeginForm("FAQComments", "AdminFaqs", FormMethod.Post, null))
    {
     <div>
           @{Html.RenderAction("Topsection", "Tools");}</div>
         <input id="hdnFromdate" name="hdnFromdate" type="hidden" value="@ViewBag.Fromdate"/>
        <input id="hdnTodate" name="hdnTodate" type="hidden" value="@ViewBag.Todate"/>
        <input id="hdndaterange" name="hdndaterange" type="hidden" value="@ViewBag.Daterange"/>
        <input type="hidden" name="hdnquestion_id" id="hdnquestion_id" />
        <input type="hidden" id="hdnQuestion" name="hdnQuestion" />
        <input type="hidden" id="hdnqtext" name="hdnqtext" value="@ViewBag.question1" />
            <div id="main-content">
        @Html.Partial("_NavigationTool")
            <table id="tblsearch" runat="server" width="100%" align="center">
      <tr class="background_color">
                                  <td width="36%" align="left">
                                <ul style="list-style: none!important; padding-right: 2px; padding-top: 5px;" class="content-box-tabs">
                                    <li><strong>Question&nbsp;:</strong>&nbsp;
                                       <input type="text" name="txtQuestion" id="txtQuestion" class="textfield" onkeypress="return fnsetfocus(event,'btnSearch')" style="width: 200px;" />
                                    </li>
                                </ul>
                            </td>
                            <td width="64%">
                            <table runat="server" style="padding-top:10px; padding-bottom:10px;">
                        <tr class="background_color">
                        <td width="10%" align="left" style="padding-left:30px;">
                                                <strong>Date range&nbsp;:&nbsp; </strong>
                                                                                    @Html.DropDownList("dt_filter", new List<SelectListItem>

                                                              {
                                                               new SelectListItem{ Text="--Select dates--", Value = "0" },
                                                               new SelectListItem{ Text="Today", Value = "Today" },
                                                               new SelectListItem{ Text="Last 7 days", Value = "7" },
                                                               new SelectListItem{ Text="Last 30 days", Value = "30" }, 
                                                               new SelectListItem{ Text="Custom", Value = "Custom" }, 
                                                              },
                                                               new { style = "font-family:arial;font-size:13px;height:20px;width:120px;" })
                        </td>
                        <td width="18%" id="tddaterange" runat="server" style="display:none" align="left">
                    <strong>From : </strong>  
                                                              <input type="text" name="txt_FromDate" id="txt_FromDate" class="textfield Datefield" maxlength="10" style="width: 75px;" />
                                                             &nbsp; <strong> To : </strong> &nbsp;&nbsp;
                                                             <input type="text" name="txt_ToDate" id="txt_ToDate" class="textfield Datefield" maxlength="10" style="width: 75px;" />
                        </td>
                       
                           <td width="5%" height="20px">
                  
                    @*<input type="submit" name="btnSearch" value="Search" id="btnSearch" onclick="return ValidSearch();" class="button" />*@
                               <a id="btnSearch" href="#" onclick="return ValidSearch();" title="Search"><img alt="" id="" src="~/Images/search_button_green.png" style="width:30px;" /></a>
                </td>
                <td width="5%" height="20px">
             @*<input name="btnClear" value="Clear" id="btnClear"  class="button" style="width:40px;" onclick="return redirectclick();" />*@
                    <a id="btnClear" href="#" onclick="return redirectclick();" title="Clear"><img alt="" id="" src="~/Images/refreshimages.png" style="width:30px;" /></a>
                                      
                </td>
                <td width="6%" style="text-align:center">
     <input name="btncancel" value="Cancel" id="btncancel" class="button" onclick="return redirection();" style="width:40%"  />
         
                </td>
                        </tr>
                        </table>
                            </td>
                                  </tr>
      </table>
            
              <div class="content-box">
        <div class="content-box-header">
         <table width="100%" cellpadding="0" cellspacing="0" style="float: left;">
                <tr>
                    <td width="74%" align="left">
                        <h3>
                            &nbsp;&nbsp;&nbsp;FAQ comments</h3>
                    </td>
                    <td width="18%" align="right">
                        <ul style="list-style: none!important; padding-right: 5px;" class="content-box-tabs">
                            <uc4:TotalRecordsPerPage ID="TotalRecordsPerPage1" runat="server"></uc4:TotalRecordsPerPage>
                        </ul>
                    </td>
                    <td width="4%" align="center">
                        <ul style="list-style: none!important; padding-right: 5px;" class="content-box-tabs">
                            <asp:ImageButton ID='ImagePDF' runat="server" ImageUrl='../../Images/thumbnailCADZAOWV.png'
                                AlternateText='Export to PDF' title='Click here to PDF this data ' Width="40px"
                                ImageAlign="AbsMiddle"></asp:ImageButton>&nbsp;
                        </ul>
                    </td>
                    <td width="4%" align="right">
                        <ul style="list-style: none!important; padding-right: 5px;" class="content-box-tabs">
                            <asp:ImageButton ID="btnExportToExcel" runat="server" Height="16px" ImageUrl="../../images/ExportExcel.png">
                            </asp:ImageButton>
                        </ul>
                    </td>
                </tr>
            </table></div>
           <div class="content-box-content">
        <table cellpadding="0" cellspacing="0" width="100%" align="center" border="0">
            <tr class="bg_none">
                <td style="height: 22px">
                    
      @{
             WebGrid Docgrid = new WebGrid(rowsPerPage: 10);}
                                            @{WebGrid grid = Docgrid.Bind(rowCount: Convert.ToInt32(ViewBag.totalrec), source: Model, autoSortAndPage: false);
                                              if (grid.TotalRowCount != 0)
                                              {
                                                  int count = 0;
                                                  string pager = grid.Pager().ToString();
                                                  string pageno = (Request["page"] ?? "1");
                                                  string newpager = System.Text.RegularExpressions.Regex.Replace(pager, "(\\d+) ", "<span class='selected'>" + pageno + "</span>");
                                                  string gridhtml = grid.GetHtml(tableStyle: "gridTable", headerStyle: "gridHead", rowStyle: "gridRow", alternatingRowStyle: "gridAltRow",
                                                  columns: grid.Columns(
                                                  grid.Column("R_No", "#", style: "width: 700px;", canSort: false),
                                                   grid.Column("CreatedOn", "Commented on", style: "width: 700px;", canSort: true),
                                                   grid.Column("Comment", "Comment", style: "width: 700px;", canSort: false),
                                                    grid.Column("Ratevalue", "Rating", style: "width: 700px;", canSort: false),
                                                  grid.Column("Question", "Question", canSort: false, format: @<text>
                                                  @{
                                                  
                                                      <a id="afaqcomments" class="viewfaqcomments" href="#" onclick="return Displaydialog('viewcomments','@Url.Action("ViewFaqComments", "AdminFaqs", new { Question_ID = item.Question_id })','auto',1000,'dvLoading',null,null);">@item.Question</a>
        //@Html.ActionLink(question, "Payer_View", "Profiles", new { Question_ID = Question_ID }, new { @class = "viewfaqcomments" })
                                                      }
                                                  
                                                  </text>
                                                  
),
                                                  grid.Column("Postedby", "Posted by", canSort: false),
                                                   grid.Column("Action", canSort: false, style: "action", format: @<text>
                                                                      @{
                                                                          
                                                                         
                                                                               @Html.DropDownList("DDLAction", new List<SelectListItem>

                                                              {
                                                               new SelectListItem{ Text="--Select options--", Value = "0" },
                                                               new SelectListItem{ Text="Archive", Value = "Archive" }
                                                              },
                                                                                                      new { @class = "ddlactionclass", onchange = "return ddlchange(this.value, '" + item.Question_id + "', '" + item.Rating_id + "')", style = "font-family:arial;font-size:13px;height:20px;width:160px;" }) 
                                                                          

                                                                         }
                                                                           
                                                                           
                                                 
                                                 
                                                 
                                                 </text>)
                                                  )).ToString();
                                                  gridhtml = System.Text.RegularExpressions.Regex.Replace(gridhtml, "<tfoot>([^<]*|<[^/]*|</[^t]*)*</tfoot>", "");
                                                @(new HtmlString(gridhtml))
                                                <br />
                                                <div class="gridFooter" style="text-align:center">@(new HtmlString(newpager))</div>    
                                                <br />



                                              }
                                              else
                                              {
                                                <table cellspacing="0" id="tblnorecords" runat="server" cellpadding="0" width="100%" border="0" align="center">
     <tr class="white_color" runat="server">
                <td align="center" height="25px" valign="middle" width="100%">
                  <label id="" style="font-weight:bold; font-size:13px;">No comments found.</label>
                   </td>
        </tr>
     </table>
                                              }
                                              }  


                   
                </td>
            </tr>
          
        </table></div>
          </div>
          </div>
          <div id="dvLoading" style="display:none; text-align:center; vertical-align:middle">
     <img src="../Images/ajax-loader2.gif" alt="Processing"  />
    </div>
        <div id="viewcomments" title="View question"></div>
        <div>   @{Html.RenderAction("Bottomsections", "Tools");}</div>
    }
</body>
<script src="~/Scripts/DatepickerNew.js"></script>
</html>
