@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
        @Scripts.Render("~/ThScripts/ThJquery")
    @Styles.Render("~/Content/themes/base/TherpistStyles")
</head>
<body>
         <div>
            @{Html.RenderAction("Topsection", "Tools");}
        </div> 
        <div>
        @Html.Partial("_NavigationTool")
      
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr class="background_color">
                    <td style="width: 100%">
                        @Html.Raw(ViewBag.Profiles)
                    </td>
                </tr>
            </table>
           </div>
        <div>@{Html.RenderAction("Bottomsections", "Tools");}</div>
    </body>
    <script type="text/javascript">
        $(document).ready(function () {
            var TopIndex = '@Session["TopIndex"]';
               $("#Menu0").removeClass();
               $("#Menu1").removeClass();
               $("#Menu2").removeClass();
               $("#Menu3").addClass("active");
           });
    </script>
</html>
