@model MowerHelper.Models.Classes.StateCity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
    <script src="~/Scripts/Expire.js" type="text/javascript"></script>
    <script src="~/Scripts/DatepickerNew.js" type="text/javascript"></script>
</head>
<body>
             @*@using (Html.BeginForm("EditExpenseLedger", "OfficeExpenses", null, FormMethod.Post, new { @enctype = "multipart/form-data" }))
             {
                 @Html.AntiForgeryToken()
                 *@
     @Html.AntiForgeryToken()
                 <input type="hidden" id="Edit_HdnExp_Ledger_ID" name="Edit_HdnExp_Ledger_ID" value="@ViewBag.Exp_Ledger_ID" />
                 <input type="hidden" id="hdnroleid" name="hdnroleid" value="@ViewBag.roleid" />
                 <input type="hidden" id="hdnprovid" name="hdnprovid" value="@ViewBag.providerid" />
                 <input type ="hidden" id="hdnpraid" name="hdnpraid" value="@ViewBag.Practice_ID" />

    <input type ="hidden" id="hdncategory" name="hdncategory" value="@ViewBag.txtCategory" />
    <input type ="hidden" id="hdndtfilter" name="hdndtfilter" value="@ViewBag.dt_filter" />
    <input type ="hidden" id="hdnddlrecords" name="hdnddlrecords" value="@ViewBag.ddlrecords" />
    <input type ="hidden" id="hdnfromdate" name="hdnfromdate" value="@ViewBag.txt_FromDate" />
    <input type ="hidden" id="hdntodate" name="hdntodate" value="@ViewBag.txt_ToDate" />
    <input type ="hidden" id="hdnsortdr" name="hdnsortdr" value="@ViewBag.sortdir" />
    <input type ="hidden" id="hdnsrdr" name="hdnsrdr" value="@ViewBag.sort" />
    <input type ="hidden" id="hdnpage" name="hdnpage" value="@ViewBag.page" />

                                @Html.Hidden("strimage", (string)ViewBag.strimage)
          @Html.Hidden("ExistedLogo", (string)ViewBag.ExistedLogo)
            @Html.Hidden("ExistedExtn", (string)ViewBag.ExistedExtn)
  
    
   
<div class="content-box">
 <div class="content-box-content">
<table class="border_style" cellspacing="1" cellpadding="4" width="100%" align="center"
                    border="0">
     <tr class="nav_blue_color" id="trpranm">
                        <td align="right" width="25%">
                           <font color="red"><b>&nbsp;*</b></font><strong>Mower helper name :&nbsp; </strong>
                        </td>
                        <td width="75%" align="left" >
                          <strong>@ViewBag.PracticeName</strong>
                    
                        </td>
                    </tr>
                    <tr class="white_color">
                        <td align="right" width="25%">
                           <font color="red"><b>&nbsp;*</b></font><strong>Date :&nbsp; </strong>
                        </td>
                        <td width="75%" align="left" id="Edit_tdDate" runat="server">
                           @Html.TextBox("Edit_txtDate", (string)ViewBag.Exp_Date, new { @class = "textfield Datefield", MaxLength = "10", style = "width:80px", autocomplete = "off" })
                            &nbsp;&nbsp;
                             <span id="Edit_lblErrDate" style="font-weight: bold; color: Black"></span>
                        </td>
                    </tr>
                    <tr class="nav_blue_color" height="20">
                        <td align="right" width="25%">
                            <font color="red"><b>&nbsp;*</b></font><strong>Category :&nbsp; </strong>
                        </td>
                        <td width="75%" align="left" id="Edit_tdCategory" runat="server">

                                                                            @* @if (Model.StateList != null)
                                                                             {
                                                     @Html.DropDownList("Edit_ddlCategory", Model.StateList, "-- Select Category --", new { @style = "width:248px;height:25px;font:13px;" })
                                                                             }*@
                             @Html.DropDownList("Edit_ddlCategory", new SelectList(ViewBag.Categorylist,"Exp_Category_ID","Exp_Category"), "-- Select Category --", new { @style = "width:248px;height:25px;font:13px;" })
                                                 <a class="AddCatClass"  id="lnkmotive" href="#" style="font-weight:normal;">Add new category</a>
                            &nbsp&nbsp;
                            <span id="Edit_lblErrCat" style="font-weight: bold; color: Black"></span>
                        </td>
                    </tr>
                    <tr height="20" id="tritems" runat="server" class="white_color" style="display:none">
                        <td align="right" width="25%">
                            <strong>Items :&nbsp; </strong>
                        </td>
                        <td width="75%" align="left">
                            @Html.TextBox("Edit_txtItem", (string)ViewBag.Item, new { @class = "textfield", MaxLength = "50", style = "width:300px", autocomplete = "off" })
                        </td>
                    </tr>
                    <tr height="20" id="trquantity" runat="server" class="nav_blue_color" style="display:none">
                        <td align="right" width="25%">
                            <strong>Quantity :&nbsp; </strong>
                        </td>
                        <td width="75%" align="left" id="Edit_tdQuan" runat="server">
                                @Html.TextBox("Edit_txtQuantity", (string)ViewBag.Quantity, new { @class = "textfield", MaxLength = "50", style = "width:200px", onkeypress = "return AlphaNumbers(event);", autocomplete = "off" })
                                &nbsp;&nbsp;
                                <span id="Edit_lblErrQuan" style="font-weight: bold; color: Black"></span>
                        </td>
                    </tr>
                    <tr height="20" id="trcost" runat="server" class="white_color">
                        <td align="right" width="25%" style="height: 22px">
                            <font color="red"><b>&nbsp;*</b></font><strong>Total cost($) :&nbsp;</strong>
                        </td>
                        <td style="height: 22px" width="75%" align="left" id="Edit_tdcost" runat="server">
                       @Html.TextBox("Edit_txtCost", (string)ViewBag.TotalCost, new { @class = "textfield", MaxLength = "7", style = "width:200px", @onkeypress = "return checkValidNumeric(Edit_txtCost,8,2,event)", autocomplete = "off" })
                          <span id="Edit_lblErrCost" style="font-weight: bold; color: Black"></span>
                         &nbsp;&nbsp;
                        
                        </td>
                    </tr>
                    <tr height="20" id="trcheckno" runat="server" class="nav_blue_color">
                        <td align="right" width="25%">
                         <strong>Check number :&nbsp; </strong>
                        </td>
                        <td width="75%" align="left" id="Edit_tdChk" runat="server">
                    @Html.TextBox("Edit_txtCheckNumber", (string)ViewBag.CheckNumber, new { @class = "textfield", MaxLength = "10", style = "width:200px", onkeypress = "return AlphaNumbers(event);", autocomplete = "off" })
                                 <span id="Edit_lblErrChk" style="font-weight: bold; color: Black"></span>
                        </td>
                    </tr>
                    <tr height="20" id="trvendor" runat="server" class="white_color">
                        <td align="right" width="25%">
                           <strong>Vendor :&nbsp; </strong>
                        </td>
                        <td width="75%" align="left" id="Edit_tdVen" runat="server">
                            @Html.TextBox("Edit_txtVendor", (string)ViewBag.Vendor, new { @class = "textfield", MaxLength = "50", style = "width:300px", autocomplete = "off" })
                           
                            &nbsp;&nbsp;
                            <span id="Edit_lblErrVen" style="font-weight: bold; color: Black"></span>
                        </td>
                    </tr>
                    <tr height="20" id="trtax" runat="server" class="nav_blue_color">
                        <td align="right" width="25%">
<strong>Tax deductible :&nbsp; </strong>
                        </td>
                        <td width="75%" align="left">
                                                                          @{
                                                                             bool str0 = false;
                                                                             bool str1 = false;
                                                                             bool str2 = false;
                                                                             }
                                                                           @if (ViewBag.Deductible != null)
                                                                           {
                                                                               if (ViewBag.Deductible.ToString() == "0")
                                                                               {
                                                                                   str0 = true;
                                                                                   str1 = false;
                                                                                   str2 = false;
                                                                               }
                                                                               else if (ViewBag.Deductible.ToString() == "1")
                                                                               {
                                                                                   str0 = false;
                                                                                   str1 = true;
                                                                                   str2 = false;
                                                                               }
                                                                               else if (ViewBag.Deductible.ToString() == "2")
                                                                               {
                                                                                   str0 = false;
                                                                                   str1 = false;
                                                                                   str2 = true;
                                                                               }
                                                                           }
                                                                            @Html.RadioButton("Edit_rbtnDeductible0", "0", str0, new { @GroupName = "grpoffice", onclick = "return rbtncheck0();" }) Yes&nbsp;
                                                                            @Html.RadioButton("Edit_rbtnDeductible1", "1", str1, new { @GroupName = "grpoffice", onclick = "return rbtncheck1();" }) No&nbsp;
                                                                            @Html.RadioButton("Edit_rbtnDeductible2", "2", str2, new { @GroupName = "grpoffice", onclick = "return rbtncheck2();" }) Not sure

                        </td>
                    </tr>
                    <tr height="20" id="trnotes" runat="server" class="white_color">
                        <td align="right" width="25%">
                            <strong>Notes :&nbsp; </strong>
                        </td>
                        <td width="75%" align="left" id="Edit_tdNotes" runat="server">
                        @Html.TextArea("Edit_txtNotes", (string)HttpUtility.HtmlDecode(ViewBag.Notes), 3, 3, new { @class = "textfield", style = "width:442px;height:80px;" })
                                <br />
                            (Maximum length 1000 characters)&nbsp;&nbsp;
                            <span id="Edit_lblErrNotes" style="font-weight: bold; color: Black"></span>
                        </td>
                    </tr>
    <tr class="nav_blue_color">
                     <td align="Right" ID="tdimagemain">
                                                                                <table ID="Table1"  align="right">
                                                                                    <tr class="nav_blue_color">
                                                                                     @if (ViewBag.image == "Y")
                                                                                     {
                                                                                        <td ID="tdimage" >
                                                                                            <img alt="" id="providerimage" height="100"  width="80" src="@ViewBag.providerimage"  />
                                                                                            <br />
                                                                                            <span ID="imagename"  Visible="false"></span><br />
                                                                                            <a id="removeLogo" style="cursor:pointer;"  onclick="return RemoveImage();">Remove image</a>
                                                                                        </td>
                                                                                     }
                                                                                        <td align="Right">
                                                            <b>Picture :&nbsp;</b>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                            <td width="65%" id="tdformatmain">
                                                                                <input  id="flLogo" type="file" name="flLogo" onchange="return ClearImage();" />
                                                                                <a ID="lnkClear" style="display:none;cursor:pointer;" onclick="return RemoveMozila();"  >Clear image</a>
                                                                                  @if (ViewBag.fileupload1 != null)
                                                    {
                                                        <img src="~/Images/help2.png" id="imgli"  onmouseout="hideddrivetip();" onmouseover="ddrivetip('@ViewBag.fileupload1' ,280);" />
                                                    }
                                                                                <br />
                                                                                <span id="lblErr_image" style="font-weight: bold; color: Black"></span>
                                                                            </td>
                                                                        </tr>
                </table>
                                                                <table border="0" cellpadding="0" cellspacing="0" width="78%">
                                                    <tr class="background_color">
                                                        <td align="right" style="padding-top: 5px; padding-bottom: 5px; padding-right: 10px;">

                                             <input type="submit" id="Edit_submit" value="Save" title="Save" class="button" onclick="return EditExpenses();" />
                                                          &nbsp;
                                              <input type="button" class="close button" name="Cancel" value="Cancel" />
                                                        </td>
                                                    </tr>
                                                </table>
                </div>
                </div>
                @*<div id="NewCatdiv" title="Add new category"></div>*@
           @*  }*@
    <script  type="text/javascript">
        function rbtncheck0() {
            document.getElementById('Edit_rbtnDeductible0').checked = true;
            document.getElementById('Edit_rbtnDeductible1').checked = false;
            document.getElementById('Edit_rbtnDeductible2').checked = false;

        }
        function rbtncheck1() {
            document.getElementById('Edit_rbtnDeductible0').checked = false;
            document.getElementById('Edit_rbtnDeductible1').checked = true;
            document.getElementById('Edit_rbtnDeductible2').checked = false;
        }
        function rbtncheck2() {
            document.getElementById('Edit_rbtnDeductible0').checked = false;
            document.getElementById('Edit_rbtnDeductible1').checked = false;
            document.getElementById('Edit_rbtnDeductible2').checked = true;
        }
        </script>
    <script type="text/javascript">

        $(function () {
            var roleid = $("#hdnroleid").val();
            if (roleid == "1") {
                document.getElementById('trpranm').style.display = '';
            }
            else {
                document.getElementById('trpranm').style.display = 'none';
            }
            //$("#Edit_txtDate").datepicker({
            //    dateFormat: 'mm/dd/yy',
            //    changeMonth: true,
            //    changeYear: true,
            //    //                showCurrentAtPos: 1,
            //    showWeeks: true,
            //    inline: true,
            //    numberOfMonths: [1, 1],
            //    yearRange: "1950:2020",
            //    showOn: "button",
            //    buttonImage: "../Images/calender.gif",
            //    buttonImageOnly: true

            //});
          
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".Addcatclose").live("click", function (e) {
                var dialogDiv = $('#NewCatdiv');
                dialogDiv.dialog('close');
            });

            var setcat = "@ViewBag.Exp_Category_ID";
                     $("#Edit_ddlCategory").val(setcat);
                 });

    </script>
 @*   <script type="text/javascript">

        var linkObj;
        $('#NewCatdiv').dialog({
            autoOpen: false,
            width: 900,
            resizable: false,
            resizable: false,
            height: 150,
            modal: true
        });

        $(".AddCatClass").click(function () {
            linkObj = $(this);
            var dialogDiv = $('#NewCatdiv');
            $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
            var viewUrl = linkObj.attr('href');
            $.get(viewUrl, function (data) {
                dialogDiv.html(data);
                $('#dvLoading').dialog('close');
                dialogDiv.dialog('open');
            });
            return false;
        });
     </script>*@
</body>
<script type="text/javascript">
    function AddmotSuccess(data) {
        // alert(data);
        if (data.Success == true) {
            var newid = data.Object;
            var newmot = document.getElementById('txtcategory').value;
            $('#Edit_ddlCategory').
     append($("<option></option>").
      attr("value", newid).
     text(newmot));

            $('#NewCatdiv').dialog('close');
            $('#Edit_ddlCategory').val(newid);
            // alert(newid);
        }
        //else if (data.ErrorMessage == 'expire') {
        //    window.location.href = '../Home/SessionExpire';
        //}
        else {
            if (data != "_Logon_") {
                document.getElementById("lblErrMot").style.display = '';
                document.getElementById("lblErrMot").innerHTML = data.ErrorMessage;
                document.getElementById("tdMot").bgColor = 'orange';
                document.getElementById('txtcategory').focus();
                //  alert(data.ErrorMessage);
                $('#NewCatdiv').dialog('open');
                // return;
            }
        }
    }
    </script>

    <script type="text/javascript">
        //function InlineAlert(lblErrId, tdErrid, txtErrMsg) {
        //    document.getElementById(lblErrId).style.display = '';
        //    document.getElementById(lblErrId).innerHTML = txtErrMsg;
        //    document.getElementById(tdErrid).bgColor = 'orange';
        //}
        //function ClearInlineAlert(lblErrId, tdErrid, tdbgcolor) {
        //    document.getElementById(lblErrId).style.display = 'none';
        //    document.getElementById(tdErrid).bgColor = tdbgcolor;
        //}
        function validMot() {
            var strcatname = trim(document.getElementById('txtcategory').value);
            document.getElementById('txtcategory').value = strcatname;
            if (document.getElementById('txtcategory').value == '') {
                InlineAlert('lblErrMot', 'tdMot', 'Please enter Category');
                document.getElementById('txtcategory').focus();
                return false;
            }
            else {
                ClearInlineAlert('lblErrMot', 'tdMot', '#FFFFFF');
            }
            //       return false;
        }
    </script>

    <script type="text/javascript">
        function Editclearalerts() {
            ClearInlineAlert('Edit_lblErrDate', 'Edit_tdDate', '#FFFFFF');
            ClearInlineAlert('Edit_lblErrCat', 'Edit_tdCategory', 'White');
            // ClearInlineAlert('Edit_lblErrQuan', 'Edit_tdQuan', 'White');
            ClearInlineAlert('Edit_lblErrCost', 'Edit_tdcost', '#FFFFFF');
            ClearInlineAlert('Edit_lblErrChk', 'Edit_tdChk', 'White');
            ClearInlineAlert('Edit_lblErrVen', 'Edit_tdVen', '#FFFFFF');
            ClearInlineAlert('Edit_lblErrNotes', 'Edit_tdNotes', '#FFFFFF');
            ClearInlineAlert('lblErr_image', 'tdformatmain', '#FFFFFF');
        }


    function EditExpenses(count, RoleID) {
        //alert(document.getElementById('Edit_txtDate').value);
        if (document.getElementById('Edit_txtDate').value == '' || document.getElementById('Edit_txtDate').value == 'mm/dd/yyyy') {
            // alert("22");
            Editclearalerts();
            InlineAlert('Edit_lblErrDate', 'Edit_tdDate', 'Please enter date.');
            document.getElementById('Edit_txtDate').focus();
            return false;
        }
        else {
            //  alert("2");
            ClearInlineAlert('Edit_lblErrDate', 'Edit_tdDate', '#FFFFFF');
        }
        if (document.getElementById('Edit_txtDate').value != '' && document.getElementById('Edit_txtDate').value != 'mm/dd/yyyy') {
            Editclearalerts();
            var Dateid = document.getElementById('Edit_txtDate').value;
            var Dat = Dateid.split("/");
            var myDat = new Date(Dat[2], Dat[0] - 1, Dat[1])
            var yearid = Dat[2];
            var Monthid = Dat[0];
            var MyId = Dat[1];
            var CurDt = new Date()
            var DatePat = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;
            var matchArray = Dateid.match(DatePat);
            if (matchArray == null) {
                clearalerts();
                InlineAlert('Edit_lblErrDate', 'Edit_tdDate', 'The date  format!!! should be like mm/dd/yyyy');
                document.getElementById('Edit_txtDate').focus();
                return false;
            }
            else {

                ClearInlineAlert('Edit_lblErrDate', 'Edit_tdDate', '#FFFFFF')
            }
            if (yearid < 1900) {
                Editclearalerts();
                InlineAlert('Edit_lblErrDate', 'Edit_tdDate', 'Please enter a valid 4 digit year between 1900 and 2060');
                document.getElementById('Edit_txtDate').focus();
                return false
            }
            else {
                ClearInlineAlert('Edit_lblErrDate', 'Edit_tdDate', '#FFFFFF')
            }
            if (Monthid > 12 || Monthid == 0) {
                Editclearalerts();
                InlineAlert('Edit_lblErrDate', 'Edit_tdDate', 'Please enter a valid month');
                document.getElementById('Edit_txtDate').focus();
                return false
            }
            else {
                ClearInlineAlert('Edit_lblErrDate', 'Edit_tdDate', '#FFFFFF')
            }
            if (MyId > 31 || MyId == 0) {
                Editclearalerts();
                InlineAlert('Edit_lblErrDate', 'Edit_tdDate', 'Please enter a valid day');
                document.getElementById('Edit_txtDate').focus();
                return false
            }
            else {
                ClearInlineAlert('Edit_lblErrDate', 'Edit_tdDate', '#FFFFFF')
            }
            if (myDat > CurDt) {
                Editclearalerts();
                InlineAlert('Edit_lblErrDate', 'Edit_tdDate', 'Invalid date !!! should be less than current date');
                document.getElementById('Edit_txtDate').focus();
                return false;
            }
            else {
                ClearInlineAlert('Edit_lblErrDate', 'Edit_tdDate', '#FFFFFF')
            }
            if (Monthid == 2 && MyId == 29 && (yearid % 4 != 0 || yearid % 100 == 0 && yearid % 400 != 0)) {
                Editclearalerts();
                InlineAlert('Edit_lblErrDate', 'Edit_tdDate', 'Please enter a valid day');
                document.getElementById('Edit_txtDate').focus();
                return false;
            }
            else {
                ClearInlineAlert('Edit_lblErrDate', 'Edit_tdDate', '#FFFFFF')
            }
            if (((Monthid == 4 || Monthid == 6 || Monthid == 9 || Monthid == 11) && MyId == 31) || (Monthid == 2 && (MyId == 30 || MyId == 31))) {
                Editclearalerts();
                InlineAlert('Edit_lblErrDate', 'Edit_tdDate', 'Please enter a valid day');
                document.getElementById('Edit_txtDate').focus();
                return false;
            }
            else {
                ClearInlineAlert('Edit_lblErrDate', 'Edit_tdDate', '#FFFFFF')
            }
        }

        if (document.getElementById('Edit_ddlCategory').selectedIndex == 0) {
            Editclearalerts();
            InlineAlert('Edit_lblErrCat', 'Edit_tdCategory', 'Please select category');
            document.getElementById('Edit_ddlCategory').focus();
            return false;
        }
        else {
            ClearInlineAlert('Edit_lblErrCat', 'Edit_tdCategory', 'White');
        }
        if (document.getElementById('Edit_txtCost').value == '') {
            Editclearalerts();
            InlineAlert('Edit_lblErrCost', 'Edit_tdcost', 'Please enter total cost');
            document.getElementById('Edit_txtCost').focus();
            return false;
        }
        else {
            ClearInlineAlert('Edit_lblErrCost', 'Edit_tdcost', '#FFFFFF');
        }

        if (document.getElementById('Edit_txtCost').value != "") {
            Editclearalerts();
            if (fnStringFieldValidate(document.getElementById('Edit_txtCost'), ".0123456789") == 0) {
                clearalerts();
                InlineAlert('Edit_lblErrCost', 'Edit_tdcost', 'Invalid total cost!!! total cost must be in numeric only.');
                document.getElementById('Edit_txtCost').focus();
                return false;
            }
            else {
                ClearInlineAlert('Edit_lblErrCost', 'Edit_tdcost', '#FFFFFF')
            }

        }
        if (document.getElementById('Edit_txtCheckNumber').value != "") {
            Editclearalerts();
            var checkn = trim(document.getElementById('Edit_txtCheckNumber').value);
            document.getElementById('Edit_txtCheckNumber').value = checkn;
            if (fnStringFieldValidate(document.getElementById('Edit_txtCheckNumber'), "0123456789") == 0) {
                clearalerts();
                InlineAlert('Edit_lblErrChk', 'Edit_tdChk', 'Invalid check number !!! check number must be in numeric only.');
                document.getElementById('Edit_txtCheckNumber').focus();
                return false;
            }
            else {
                ClearInlineAlert('Edit_lblErrChk', 'Edit_tdChk', 'White');
            }

        }
        var vendorc = trim(document.getElementById('Edit_txtVendor').value);
        document.getElementById('Edit_txtVendor').value = vendorc;
        if (MyChars(document.getElementById('Edit_txtVendor')) == "NumError") {
            Editclearalerts();
            InlineAlert('Edit_lblErrVen', 'Edit_tdVen', 'Please enter vendor name properly');
            document.getElementById('Edit_txtVendor').focus();
            return false;
        }
        else {
            ClearInlineAlert('Edit_lblErrVen', 'Edit_tdVen', '#FFFFFF');
        }
        if (fnCheckSpecialChars(document.getElementById('Edit_txtVendor')) == 0) {
            Editclearalerts();
            InlineAlert('Edit_lblErrVen', 'Edit_tdVen', 'Please enter vendor name without special characters');
            document.getElementById('Edit_txtVendor').focus();
            return false;
        }
        else {
            ClearInlineAlert('Edit_lblErrVen', 'Edit_tdVen', '#FFFFFF');
        }
        var notec = trim(document.getElementById('Edit_txtNotes').value);
        document.getElementById('Edit_txtNotes').value = notec;
        if (document.getElementById('Edit_txtNotes').value.length > 1000) {
            Editclearalerts();
            InlineAlert('Edit_lblErrNotes', 'Edit_tdNotes', 'Please enter at most 1000 characters in the notes field');
            document.getElementById('Edit_txtNotes').focus();
            return (false);
        }
        else {
            ClearInlineAlert('Edit_lblErrNotes', 'Edit_tdNotes', '#FFFFFF');
        }

        //if (document.getElementById('flLogo').value != "") {
        //    Editclearalerts();
        //    var strFilePath = document.getElementById('flLogo').value;
        //    var Files1 = new Array();
        //    var Files = new Array();
        //    Files = strFilePath.split('\\');
        //    var strFileName = Files[parseInt(Files.length) - 1];
        //    var strreverse = revString(strFileName);
        //    var strExtn = revString(Mid(strreverse, 0, 3)).toUpperCase();

        //    if (strExtn.toUpperCase() == "GIF" || strExtn.toUpperCase() == "JPG" || strExtn.toUpperCase() == "BMP" || strExtn.toUpperCase() == "TIF" || strExtn.toUpperCase() == "TIFF" || strExtn.toUpperCase() == "PNG") {
        //        Editclearalerts();
        //    }
        //    else {
        //        Editclearalerts();
        //        InlineAlert('lblErr_image', 'tdformatmain', 'Invalid logo!!! the format of the photo selected is not of type image.');
        //        document.getElementById('flLogo').focus();

        //        return false;
        //    }

        //}


        // Form Data Starts here ....

        var Adddata = new FormData();
        var files = $("#flLogo").get(0).files;
        // Add the uploaded image content to the form data collection
        if (files.length > 0) {
            Adddata.append("flLogo", files[0]);
            var strFilePath = document.getElementById('flLogo').value;
            var Files1 = new Array();
            var Files = new Array();
            Files = strFilePath.split('\\');
            var strFileName = Files[parseInt(Files.length) - 1];
            var strreverse = revString(strFileName);
            var strExtn = revString(Mid(strreverse, 0, 3)).toUpperCase();
            if (strExtn.toUpperCase() == "GIF" || strExtn.toUpperCase() == "JPG" || strExtn.toUpperCase() == "BMP" || strExtn.toUpperCase() == "TIF" || strExtn.toUpperCase() == "TIFF" || strExtn.toUpperCase() == "PNG") {
                //clearalerts();
            }
            else {
                $('#dvLoadingnote').dialog('close');
                //clearalerts();                
                document.getElementById('flLogo').focus();            
                alert("LogoError");
                return false;
            }
        }

        Adddata.append("Edit_txtDate", document.getElementById("Edit_txtDate").value);
        Adddata.append("Edit_ddlCategory", document.getElementById("Edit_ddlCategory").value);
        Adddata.append("Edit_txtCost", document.getElementById("Edit_txtCost").value);
        Adddata.append("Edit_txtCheckNumber", document.getElementById("Edit_txtCheckNumber").value);
        Adddata.append("Edit_txtVendor", document.getElementById("Edit_txtVendor").value);
        Adddata.append("Edit_txtNotes", document.getElementById("Edit_txtNotes").value);
        Adddata.append("Edit_txtItem", document.getElementById("Edit_txtItem").value);
        Adddata.append("Edit_txtQuantity", document.getElementById("Edit_txtQuantity").value);
        Adddata.append("Edit_rbtnDeductible0", document.getElementById("Edit_rbtnDeductible0").checked);
        Adddata.append("Edit_rbtnDeductible1", document.getElementById("Edit_rbtnDeductible1").checked);
        Adddata.append("Edit_rbtnDeductible2", document.getElementById("Edit_rbtnDeductible2").checked);
        Adddata.append("Edit_HdnExp_Ledger_ID", document.getElementById("Edit_HdnExp_Ledger_ID").value);
        Adddata.append("hdnroleid", document.getElementById("hdnroleid").value);
        Adddata.append("hdnprovid", document.getElementById("hdnprovid").value);
        Adddata.append("hdnpraid", document.getElementById("hdnpraid").value);
        Adddata.append("strimage", document.getElementById("strimage").value);
        Adddata.append("ExistedLogo", document.getElementById("ExistedLogo").value);
        Adddata.append("ExistedExtn", document.getElementById("ExistedExtn").value);

        Adddata.append("hdncategory", document.getElementById("hdncategory").value);
        Adddata.append("hdnpage", document.getElementById("hdnpage").value);
        Adddata.append("hdndtfilter", document.getElementById("hdndtfilter").value);
        Adddata.append("hdnddlrecords", document.getElementById("hdnddlrecords").value);
        Adddata.append("hdnfromdate", document.getElementById("hdnfromdate").value);
        Adddata.append("hdntodate", document.getElementById("hdntodate").value);
        Adddata.append("hdnsortdr", document.getElementById("hdnsortdr").value); 
        Adddata.append("hdnsrdr", document.getElementById("hdnsrdr").value);
        
        Adddata.append("RecPerPge", '@ViewBag.RecPerPge');

        var token = $('[name=__RequestVerificationToken]').val();
        var headers = {};
        headers['__RequestVerificationToken'] = token;

        


        $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
        $.ajax({
            headers: headers,
            url: "@Url.Action("EditExpenseLedger", "OfficeExpenses")",
            contentType: false,
            processData: false,
            data: Adddata,
            type: 'POST',           
            success: function (data) {
                if (data.Success == true) {                    
                    //alert(data.Object.page);
                    var txtCategory = data.Object.txtCategory;
                    var dt_filter = data.Object.dt_filter;
                    var txt_FromDate = data.Object.txt_FromDate;
                    var txt_ToDate = data.Object.txt_ToDate;
                    var ddlrecords = data.Object.ddlrecords;
                    var sortdir = data.Object.sortdir;
                    var sort = data.Object.sort;
                    var page = data.Object.page == null ? 1 : data.Object.page;

                    var currentDate =new Date($('#Edit_txtDate').val());
                    var startDate = new Date('@ViewBag.txt_FromDate');                                                  
                    var records = parseInt('@ViewBag.RecPerPge'); 
                   
                    if (page > 1) {
                    if (records == 1) {
                            page = page - 1;                            
                        }
                        else if (startDate <= currentDate || records > 1) {
                            page = page;                           
                        }
                        else {
                            page = page - 1;                          
                        }
                     }
                             
                    $("#gridnew").load("../OfficeExpenses/ExpensesPartial?page=" + page + '&txtCategory=' + escape(txtCategory) + '&dt_filter=' + dt_filter + '&txt_FromDate=' + txt_FromDate + '&txt_ToDate=' + txt_ToDate + '&ddlrecords=' + ddlrecords + '&sortdir=' + sortdir + '&sort=' + sort);
                    $('#Editexpdialog').dialog('close');
                    $('#dvLoading').dialog('destroy');
                }
                else {
                    alert("Sorry try again after sometime");
                    window.location = '@Url.Action("SessionExpire", "Home")';
                }
            },
            error: function () {
                window.location = '@Url.Action("SessionExpire", "Home")';
            }

        });

    }


</script>
</html>
