@using Obout.Mvc;
@using Obout.Mvc.ComboBox;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
    <style type="text/css" ></style>
   @Scripts.Render("~/ThScripts/ElectricianHelpscripts")
    @Styles.Render("~/Content/themes/base/TherpistStyles")

      <style type="text/css">
                  tr.gridHead th:nth-child(1) { width: 50px; }
          tr.gridHead th:nth-child(2) { width: 200px; }
          tr.gridHead th:nth-child(3) { width: 120px; }
          tr.gridHead th:nth-child(4) { width: 200px; }
          tr.gridHead th:nth-child(5) { width: 230px; }
          tr.gridHead th:nth-child(6) { width: 120px; }
          tr.gridHead th:nth-child(7) { width: 120px; }
              .dvLoading .ui-dialog-titlebar{display:none;}
        
    </style>
     <style type="text/css">
        .ui-datepicker-trigger
        {
            margin-left: 5px;
            vertical-align: middle;
        }
    </style>
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".close").live("click", function (e) {
                        var dialogDiv = $('#TemppwdDialog');
                        dialogDiv.dialog('close');
                    });
                    $(".close1").live("click", function (e) {
                        var dialogDiv = $('#EmailDialog');
                        dialogDiv.dialog('close');
                    });
                    $(".close2").live("click", function (e) {
                        var dialogDiv = $('#PayDialog');
                        dialogDiv.dialog('close');
                    });
                });

    </script>
    
@*  <script type="text/javascript">
      function ddlchange() {
          if (document.getElementById('ddlaction').value != "") {
              var value = document.getElementById("ddlaction").value;
              var win = window.open(value, '_blank');

          }
      }

  </script>*@

  <script type="text/javascript">
      $(document).ready(function () {
          var email = $('#hdnemail').val();
          if (email != '') {
              $('#txtEmail').val(email);
          }
          var ProvID = $('#hdnProvID').val();
          if (ProvID != '') {
              ComboBox1.value($('#hdnProvID').val());
          }

          var psize = $('#hdnpagesize').val();
          if (psize != '') {
              $('#ddlrecords').val(psize);
          }
          else {
              $('#ddlrecords').val("10");

          }

      });
    </script>
@*        <style type="text/css">
 .item
    {
        position: relative !important;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        overflow: hidden;
        white-space: nowrap;
    }
        
    .header
    {
        margin-left: 2px;
    }
   
    .c1
    {
        width: 160px;
    }
        
    .c2
    {
        margin-left: 10px;
        width: 90px;
    }
  </style>*@
            <script type="text/javascript">

                $(document).ready(function () {
                    var frm = $("#formname");
                    $('#dt_filter').change(function () {
                        if (document.getElementById('dt_filter').value == 'Custom') {
                            document.getElementById('tddaterange').style.display = '';
                            document.getElementById('tddaterange1').style.display = 'none';
                            $('#txt_FromDate').val("");
                            $('#txt_ToDate').val("");
                        }
                        else {
                            document.getElementById('tddaterange').style.display = 'none';
                            document.getElementById('tddaterange1').style.display = '';
                            $('#txt_FromDate').val("");
                            $('#txt_ToDate').val("");
                        }
                        return false;
                    });

                    //$("#txt_FromDate").on('change keyup paste mouseup', function () {
                    //    //  alert("1");
                    //    if ($(this).val().length == 10) {
                    //        //alert("2");
                    //        if (CheckValidDate(document.getElementById('txt_FromDate')) == 0) { return false; }
                    //        var St = document.getElementById('txt_FromDate').value; St = new Date(St);
                    //        // alert(St);
                    //        var targetDate = new Date(St);
                    //        targetDate.setDate(targetDate.getDate() + 365);
                    //        //   alert(targetDate);
                    //        var todaydate = new Date();
                    //        todaydate.setDate(todaydate.getDate());
                    //        var dd = todaydate.getDate();
                    //        var mm = todaydate.getMonth() + 1; //January is 0!
                    //        var yyyy = todaydate.getFullYear();
                    //        var today = mm + '/' + dd + '/' + yyyy;
                    //        var dd1 = targetDate.getDate();
                    //        var mm1 = targetDate.getMonth() + 1;
                    //        var yyyy1 = targetDate.getFullYear();
                    //        var target1 = mm1 + '/' + dd1 + '/' + yyyy1;
                    //        //  alert(target1);
                    //        if (targetDate > todaydate) { document.getElementById('txt_ToDate').value = today; return false; }
                    //        else { document.getElementById('txt_ToDate').value = target1; return false; }
                    //    }
                    //});
                });
</script>
     <script language="javascript" type="text/javascript">
         function ValidSearch() {

             if (document.getElementById('dt_filter').selectedIndex == 0) {
                 alert("Select date");
                 return false;
             }
             if (document.getElementById('dt_filter').value == 'Custom') {

                 if (document.getElementById('txt_FromDate').value != '' && document.getElementById('txt_FromDate').value != "mm/dd/yyyy") {
                     if (CheckValidDate(document.getElementById('txt_FromDate')) == 0) {
                         return false;
                     }
                 }
                 if (document.getElementById('txt_ToDate').value != '' && document.getElementById('txt_ToDate').value != "mm/dd/yyyy") {
                     if (CheckValidDate(document.getElementById('txt_ToDate')) == 0) {
                         return false;
                     }
                 }
                 var CDate = new Date()
                 var CFormatDate = CDate.getUTCMonth() + 1 + "/" + CDate.getDate() + "/" + CDate.getFullYear();
                 var FromDate = document.getElementById('txt_FromDate').value;
                 if (document.getElementById('txt_FromDate').value == '' || document.getElementById('txt_FromDate').value == "mm/dd/yyyy") {
                     alert('Select from date');
                     document.getElementById('txt_FromDate').focus();
                     return false;
                 }
                 if (document.getElementById('txt_ToDate').value == '' || document.getElementById('txt_ToDate').value == "mm/dd/yyyy") {
                     alert('Select to date');
                     document.getElementById('txt_ToDate').focus();
                     return false;
                 }
                 var St = document.getElementById('txt_FromDate').value;
                 St = new Date(St);
                 var En = document.getElementById('txt_ToDate').value
                 En = new Date(En);
                 if (St > En) {
                     alert("From date should not be greater than to date")
                     return false;
                 }

             }
             //document.forms.item(0).submit();
             if (document.getElementById('txtEmail').value == "" && document.getElementById('ComboBox1_SelectedIndex').value == "-1" && document.getElementById('dt_filter').value != "Custom") {
                 window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value + '&year=' + document.getElementById('year').value;
               }
               else if (document.getElementById('txtEmail').value != "" && document.getElementById('ComboBox1_SelectedIndex').value != "-1" && document.getElementById('dt_filter').value == "Custom") {

                   window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value
                   + '&txtEmail=' + document.getElementById('txtEmail').value
                   + '&year=' + document.getElementById('year').value
                  + '&ComboBox1_SelectedIndex=' + document.getElementById('ComboBox1_SelectedIndex').value
                  + '&ComboBox1_SelectedText=' + document.getElementById('ComboBox1_SelectedText').value
                  + "&txt_FromDate=" + $("#txt_FromDate").val() + '&txt_ToDate=' + document.getElementById('txt_ToDate').value
                  + '&ComboBox1=' + document.getElementById('ComboBox1').value;

              }
              else if (document.getElementById('ComboBox1_SelectedIndex').value != "-1" && document.getElementById('dt_filter').value == "Custom") {

                  window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value
                   + '&year=' + document.getElementById('year').value
                  + '&ComboBox1_SelectedIndex=' + document.getElementById('ComboBox1_SelectedIndex').value
                  + '&ComboBox1_SelectedText=' + document.getElementById('ComboBox1_SelectedText').value
                  + "&txt_FromDate=" + $("#txt_FromDate").val() + '&txt_ToDate=' + document.getElementById('txt_ToDate').value
                  + '&ComboBox1=' + document.getElementById('ComboBox1').value;

              }
              else if (document.getElementById('txtEmail').value != "" && document.getElementById('ComboBox1_SelectedIndex').value != "-1" && document.getElementById('dt_filter').value != "Custom") {

                  window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value
                    + '&txtEmail=' + document.getElementById('txtEmail').value
                    + '&year=' + document.getElementById('year').value
                   + '&ComboBox1_SelectedIndex=' + document.getElementById('ComboBox1_SelectedIndex').value
                   + '&ComboBox1_SelectedText=' + document.getElementById('ComboBox1_SelectedText').value
                   + '&ComboBox1=' + document.getElementById('ComboBox1').value;

              }
              else if (document.getElementById('ComboBox1_SelectedIndex').value != "-1") {

                  window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value
                   + '&year=' + document.getElementById('year').value
                  + '&ComboBox1_SelectedIndex=' + document.getElementById('ComboBox1_SelectedIndex').value
                  + '&ComboBox1_SelectedText=' + document.getElementById('ComboBox1_SelectedText').value
                  + '&ComboBox1=' + document.getElementById('ComboBox1').value;

              }
              else if (document.getElementById('txtEmail').value != "") {

                  window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value
                   + '&txtEmail=' + document.getElementById('txtEmail').value
                   + '&year=' + document.getElementById('year').value;

              }
              else { document.forms.item(0).submit(); }
            @* else if (document.getElementById('txtEmail').value != "") {
                 window.location.href = '@Url.Action("Index", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value
              + '&txtEmail=' + document.getElementById('txtEmail').value
              + '&year=' + document.getElementById('year').value;
              }
              else if (document.getElementById('txtEmail').value == "" && document.getElementById('ComboBox1_SelectedIndex').value == "-1" && document.getElementById('dt_filter').value != "Custom") {
                  window.location.href = '@Url.Action("Index", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value + '&year=' + document.getElementById('year').value;
             }
             else { document.forms.item(0).submit(); }*@
         }

    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var fromdate = $('#hdnFromdate').val();
            if (fromdate != '') {
                $('#txt_FromDate').val(fromdate);
                document.getElementById('tddaterange').style.display = '';
                document.getElementById('tddaterange1').style.display = 'none';
            }
            else {
                $('#txt_FromDate').val("");
                document.getElementById('tddaterange').style.display = 'none';
                document.getElementById('tddaterange1').style.display = '';
            }

            var todate = $('#hdnTodate').val();
            if (todate != '') {
                $('#txt_ToDate').val(todate);
                document.getElementById('tddaterange').style.display = '';
                document.getElementById('tddaterange1').style.display = 'none';
            }
            else {
                $('#txt_ToDate').val("");
                document.getElementById('tddaterange').style.display = 'none';
                document.getElementById('tddaterange1').style.display = '';

            }

            var drange = $('#hdndaterange').val();
            if (drange != '') {
                $('#dt_filter').val(drange);

            }
            else {
                $('#dt_filter').val("30");


            }

        });
        //$(function () {
        //      $("#txt_ToDate,#txt_FromDate").datepicker({
        //        dateFormat: 'mm/dd/yy',
        //        changeMonth: true,
        //        changeYear: true,
        //        //                showCurrentAtPos: 1,
        //        showWeeks: true,
        //        inline: true,
        //        numberOfMonths: [1, 1],
        //        yearRange: "1950:2020",
        //        showOn: "button",
        //        buttonImage: "../Images/calender.gif",
        //        buttonImageOnly: true

        //    });
        //});
    </script>
      <script type="text/javascript">
          function cancelclick() {
              window.location.href = "@Url.Action("Tools", "AdminHome")";
        }
    </script>
</head>
<body>
    @using (Html.BeginForm("NewSignups", "signups", FormMethod.Get, null))
    {
        Html.RenderAction("Topsection", "Tools");
        <br />
        <input id="hdnpagesize" name="hdnpagesize" type="hidden" value="@ViewBag.pagesize"/>
        <input id="hdnemail" name="hdnemail" type="hidden" value="@ViewBag.email"/>
        <input id="hdnProvID" name="hdnProvID" type="hidden" value="@ViewBag.ProvID"/>
         <input id="hdnFromdate" name="hdnFromdate" type="hidden" value="@ViewBag.Fromdate"/>
        <input id="hdnTodate" name="hdnTodate" type="hidden" value="@ViewBag.Todate"/>
        <input id="hdndaterange" name="hdndaterange" type="hidden" value="@ViewBag.Daterange"/>
    <div id="main-content">
        @Html.Partial("_NavigationTool")
        
                        <div class="content-box" style="width:100%;">
            <div class="content-box-header">

        <table width="100%" cellpadding="0" cellspacing="0" style="float: left;">
            <tr>

                <td width="12%" align="left">
                    <h3>
                        Registered on</h3>
                </td>
               <td style="text-align:left">
                                                        @Html.DropDownList("year", null, new { @class = "textfield", @style = "width:100px",onchange = "this.form.submit();" })
               </td>
            </tr>
        </table>
     </div>
     <div class="content-box-content">
                            <table class="border_style" cellspacing="1" cellpadding="4" width="100%" align="center" border="0" runat="server">
                                <tr>
                                    <td style="text-align:center">
                                        <strong>January</strong>
                                    </td>
                                                                        <td style="text-align:center">
                                        <strong>February</strong>
                                    </td>
                                                                        <td style="text-align:center">
                                        <strong>March</strong>
                                    </td>
                                                                        <td style="text-align:center">
                                        <strong>April</strong>
                                    </td>
                                                                       <td style="text-align:center">
                                        <strong>May</strong>
                                    </td>
                                                                        <td style="text-align:center">
                                        <strong>June</strong>
                                    </td>
                                                                        <td style="text-align:center">
                                        <strong>July</strong>
                                    </td>
                                                                        <td style="text-align:center">
                                        <strong>August</strong>
                                    </td>
                                                                        <td style="text-align:center">
                                        <strong>September</strong>
                                    </td>
                                                                        <td style="text-align:center">
                                        <strong>October</strong>
                                    </td>
                                                                        <td style="text-align:center">
                                        <strong>November</strong>
                                    </td>
                                          <td style="text-align:center">
                                        <strong>December</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">
                                        @if (ViewBag.January != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.January, "NewSignups", "signups", new { Month_ID = "01", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.January
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        @if (ViewBag.February != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.February, "NewSignups", "signups", new { Month_ID = "02", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.February
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        @if (ViewBag.March != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.March, "NewSignups", "signups", new { Month_ID = "03", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.March
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        @if (ViewBag.April != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.April, "NewSignups", "signups", new { Month_ID = "04", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.April
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        @if (ViewBag.May != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.May, "NewSignups", "signups", new { Month_ID = "05", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.May
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        @if (ViewBag.June != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.June, "NewSignups", "signups", new { Month_ID = "06", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.June
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        @if (ViewBag.July != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.July, "NewSignups", "signups", new { Month_ID = "07", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.July
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        @if (ViewBag.August != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.August, "NewSignups", "signups", new { Month_ID = "08", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.August
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        @if (ViewBag.September != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.September, "NewSignups", "signups", new { Month_ID = "09", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.September
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        @if (ViewBag.October != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.October, "NewSignups", "signups", new { Month_ID = "10", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.October
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        @if (ViewBag.November != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.November, "NewSignups", "signups", new { Month_ID = "11", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.November
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        @if (ViewBag.December != "(0)")
                                        {
                                            @Html.ActionLink((string)ViewBag.December, "NewSignups", "signups", new { Month_ID = "12", year = @ViewBag.yeardropdown }, new { @class = "Errordetailslink", @style = "color:#0066CC;cursor:pointer;" })
                                        }
                                        else
                                        {
                                            @ViewBag.December
                                        }
                                    </td>
                                </tr>
                            </table>
  </div>
    </div>
        <br />
        <br />
    <table width="100%" cellpadding="0" cellspacing="0" style="padding-bottom:15px;">
    <tr class="background_color" style="padding-bottom:10px; height:50px;">
    <td style="padding-left:20px;" width="20%">
                                                                @Html.Obout(new ComboBox("ComboBox1")
                                                           {
                                                               Width = 300,
                                                               MenuWidth = 300,
                                                               Height = 200,
                                                               EnableLoadOnDemand = true,
                                                               OnLoadingItems = "Providers/LoadingItems1",
                                                               EmptyText = "-- Select Mower Helper --",
                                                               HeaderTemplate = new Obout.Mvc.OboutMvcTemplate<ComboBoxHeaderTemplateContainerInfo>(
                                                                   @:<div class="header c1" >Mower Helper name</div>
),

                                                               ItemTemplate = new Obout.Mvc.OboutMvcTemplate<ComboBoxItem>(

                                            @:<div class="item c1" >@(((MowerHelper.Models.BLL.Patients.PatientRegistration)item.DataItem).ProviderName)</div>
)
                                                           })
    </td>
    <td width="22%" align="left">
    &nbsp;&nbsp;<strong>Email : </strong>&nbsp;
    <input type="text" name="txtEmail"  id="txtEmail" class="textfield" style="width:200px;"/>
    </td>
      <td width="20%" align="left" style="padding-left:10px;">
                                                <strong>Date range&nbsp;:&nbsp; </strong>
                                                                                    @Html.DropDownList("dt_filter", new List<SelectListItem>

                                                              {
                                                               new SelectListItem{ Text="--Select dates--", Value = "0" },
                                                               new SelectListItem{ Text="Today", Value = "Today" },
                                                               new SelectListItem{ Text="Last 7 days", Value = "7" },
                                                               new SelectListItem{ Text="Last 30 days", Value = "30" }, 
                                                               new SelectListItem{ Text="Custom", Value = "Custom" }, 
                                                               new SelectListItem{ Text="All", Value = "All" }, 
                                                              },
                                                               new { style = "font-family:arial;font-size:13px;height:20px;width:120px;" })
                        </td>
         @Html.Partial("_CustomDate")
                     @*   <td width="25%" id="tddaterange" runat="server" style="display:none" align="left">
                    <strong> From : </strong> &nbsp;&nbsp;&nbsp;  
                                                              <input type="text" name="txt_FromDate" id="txt_FromDate" class="textfield" maxlength="10" style="width: 75px;" />
                                                             &nbsp;&nbsp; <strong> To : </strong> &nbsp;&nbsp;&nbsp; 
                                                             <input type="text" name="txt_ToDate" id="txt_ToDate" class="textfield" maxlength="10" style="width: 75px;" />
                        </td>*@
            <td width="25%" id="tddaterange1" runat="server" style="display:none; " align="left"></td>
                        <td width="10%" align="right">
                        &nbsp;@*<input type="submit" name="btnSearch" value="Search" id="btnSearch" onclick="return ValidSearch();" class="button" />*@
                            <a id="btnSearch" href="#" onclick="return ValidSearch();" title="Search"><img alt="" id="" src="~/Images/search_button_green.png" style="width:30px;" /></a>
                        </td>
    </tr>
        <tr class="background_color">
                   
                        </tr>
    </table>
        <div class="content-box">
            <div class="content-box-header">


        <table width="100%" cellpadding="0" cellspacing="0" style="float: left;">
            <tr>

                <td width="80%" align="left">
                    <h3>
                        Mower Helpers</h3>
                </td>
                  <td width="20%" align="center">
                               <ul style="list-style: none!important; padding-right: 5px; padding-top: 5px;" class="content-box-tabs">
                                    <li><strong>Rows per page :&nbsp;</strong>
                                        @Html.DropDownList("ddlrecords", new List<SelectListItem>
                                                           {
                                                                new SelectListItem{ Text="5", Value = "5" },
                                                               new SelectListItem{ Text="10", Value = "10" },
                                                               new SelectListItem{ Text="15", Value = "15" },
                                                               new SelectListItem{ Text="20", Value = "20" }, 
                                                               new SelectListItem{ Text="25", Value = "25" }, 
                                                               new SelectListItem{ Text="30", Value = "30" }, 
                                                               new SelectListItem{ Text="35", Value = "35" },
                                                               new SelectListItem{ Text="40", Value = "40" },
                                                               new SelectListItem{ Text="45", Value = "45" },
                                                               new SelectListItem{ Text="50", Value = "50" }, 
                                                              },
                                                             new { style = "font-family:arial;font-size:13px;height:20px;width:48px;" })
                                    </li>
                                </ul>
                            </td>
               @* <td width="20%" align="center">
                                <ul style="list-style: none!important; padding-right: 5px; padding-top: 5px;" class="content-box-tabs">
                                    <li><strong>Rows per page :&nbsp;</strong>
                                     @{Html.RenderAction("Rowsperpage", "Profiles", new { @id = "1" });}
                                    </li>
                                </ul>
                            </td>*@
               
            </tr>
        </table>
                 <script>$("#ddlrecords").change(function () {
    if (document.getElementById('txtEmail').value == "" && document.getElementById('ComboBox1_SelectedIndex').value == "-1" && document.getElementById('dt_filter').value != "Custom") {
        window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value + '&year=' + document.getElementById('year').value;
   }
   else if (document.getElementById('txtEmail').value != "" && document.getElementById('ComboBox1_SelectedIndex').value != "-1" && document.getElementById('dt_filter').value == "Custom") {

       window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value
                   + '&txtEmail=' + document.getElementById('txtEmail').value
                   + '&year=' + document.getElementById('year').value
                  + '&ComboBox1_SelectedIndex=' + document.getElementById('ComboBox1_SelectedIndex').value
                  + '&ComboBox1_SelectedText=' + document.getElementById('ComboBox1_SelectedText').value
                  + "&txt_FromDate=" + $("#txt_FromDate").val() + '&txt_ToDate=' + document.getElementById('txt_ToDate').value
                  + '&ComboBox1=' + document.getElementById('ComboBox1').value;

              }
              else if (document.getElementById('ComboBox1_SelectedIndex').value != "-1" && document.getElementById('dt_filter').value == "Custom") {

                  window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value
                   + '&year=' + document.getElementById('year').value
                  + '&ComboBox1_SelectedIndex=' + document.getElementById('ComboBox1_SelectedIndex').value
                  + '&ComboBox1_SelectedText=' + document.getElementById('ComboBox1_SelectedText').value
                  + "&txt_FromDate=" + $("#txt_FromDate").val() + '&txt_ToDate=' + document.getElementById('txt_ToDate').value
                  + '&ComboBox1=' + document.getElementById('ComboBox1').value;

              }
              else if (document.getElementById('txtEmail').value != "" && document.getElementById('ComboBox1_SelectedIndex').value != "-1" && document.getElementById('dt_filter').value != "Custom") {

                  window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value
                    + '&txtEmail=' + document.getElementById('txtEmail').value
                    + '&year=' + document.getElementById('year').value
                   + '&ComboBox1_SelectedIndex=' + document.getElementById('ComboBox1_SelectedIndex').value
                   + '&ComboBox1_SelectedText=' + document.getElementById('ComboBox1_SelectedText').value
                   + '&ComboBox1=' + document.getElementById('ComboBox1').value;

              }
              else if (document.getElementById('ComboBox1_SelectedIndex').value != "-1") {

                  window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value
                   + '&year=' + document.getElementById('year').value
                  + '&ComboBox1_SelectedIndex=' + document.getElementById('ComboBox1_SelectedIndex').value
                  + '&ComboBox1_SelectedText=' + document.getElementById('ComboBox1_SelectedText').value
                  + '&ComboBox1=' + document.getElementById('ComboBox1').value;

              }
              else if (document.getElementById('txtEmail').value != "") {

                  window.location.href = '@Url.Action("NewSignups", "signups")?ddlrecords=' + document.getElementById('ddlrecords').value + '&dt_filter=' + document.getElementById('dt_filter').value
                   + '&txtEmail=' + document.getElementById('txtEmail').value
                   + '&year=' + document.getElementById('year').value;

              }
              else { document.forms.item(0).submit(); }
});</script>
     </div>
     <div class="content-box-content">
                                                                       @{ WebGrid provgrid = new WebGrid(rowsPerPage: Convert.ToInt32(ViewBag.pagesize ?? "10"));}
                                            @{WebGrid grid = provgrid.Bind(rowCount: Convert.ToInt32(ViewBag.totrec), source: Model, autoSortAndPage: false);
                                              if (grid.TotalRowCount != 0)
                                              {
                                                  //int count = 0;
                                                  string pager = grid.Pager().ToString();
                                                  string pageno = (Request["page"] == null ? "1" : Request["page"]);
                                                  string newpager = System.Text.RegularExpressions.Regex.Replace(pager, "(\\d+) ", "<span class='selected'>" + pageno + "</span>");
                                                  string gridhtml = grid.GetHtml(tableStyle: "gridTable", headerStyle: "gridHead", rowStyle: "gridRow", alternatingRowStyle: "gridAltRow",

                                                  columns: grid.Columns(

                                                  grid.Column("SlNo", "#", canSort: false),

                                                  grid.Column("ProviderName", "Mower helper name", canSort: true, format:@<text>@Html.ActionLink((string)item.Providername, "ViewIdentifyingInfo", "Directory", new { Prov_ID = item.Provider_ID, Practice_ID = item.Practice_ID }, new { style = "font-weight:bold;color:#0066CC;cursor:pointer;" })</text>),
                                                  grid.Column("CellPhone", "Cell Phone", canSort: false),
                                                  grid.Column("provideremail", "Email", canSort: false),
                                                  grid.Column("Address", "Address", canSort: false, format:@<text>
                                            @{
                                            }
                                            <span>@item.Address</span>
                                            </text>),
                                                  grid.Column("RegisteredDate", "Registered Date", canSort: false, format:@<text>@{string RegistereddOn = (string)item.RegisteredDate; if (RegistereddOn != null & RegistereddOn != "")
                                                                                                                                   {
                                                                                                                                       string[] regdt = RegistereddOn.Split(' ');@Html.Label(regdt[0])}}</text>),
                                                    grid.Column("Registeredin", "Registered in", canSort: false,format:@<text>
                                            @{
                                                string reg = item.Registeredin;
                                                string regin = null;
                                                if(reg=="W"){
                                                    regin = "Web";
                                                }
                                                else{
                                                    regin = "Mobile";
                                                }
                                               
                                            }
                                             <span>@regin</span>
                                            </text>))).ToString();


                                                  gridhtml = System.Text.RegularExpressions.Regex.Replace(gridhtml, "<tfoot>([^<]*|<[^/]*|</[^t]*)*</tfoot>", "");
                            @(new HtmlString(gridhtml))
                            
                            <br />

                            <div class="gridFooter" style="padding-left: 500px;">@(new HtmlString(newpager))</div>  
                            <br />
                                              }
                                              else
                                              {
                            <table id="divoutmsg" width="100%">
                                <tr>
                                    <td align="center" valign="middle" height="25px">
                                        <span id="lblOutMsg" style="font-size: 13px; font-weight: bold;" class="errormsg">
                                            No Mower Helpers found. </span>
                                    </td>
                                </tr>
                            </table>
                                              }
                        }
  </div>
 
    
    </div>

    </div>
        <table style="width:100%;">
       <tr style="width:100%;">
                      <td style="text-align:right; width:100%; padding-right:10px; padding-top:10px;">
                          <input type="button" class="button" id="btncancel" name="btncancel" value="Cancel" onclick="return cancelclick();" />
                      </td>
                  </tr>
</table>
            <div id="TemppwdDialog" title="Email temporary password">
      </div>
                    <div id="EmailDialog" title="Email user credentials">
      </div>
        <div id="PayDialog" title="Payment type">
      </div>
                <div id="dvLoading" style="display:none; text-align:center; vertical-align:middle">
     <img src="../Images/ajax-loader2.gif" alt="Processing"  />
    </div>

        <script type="text/javascript">
            var linkObj;
            $(function () {
                //$('#TemppwdDialog').dialog({
                //    autoOpen: false,
                //    width: 900,
                //    //                    height: 500,
                //    resizable: false,
                //    modal: true,
                //    close: function () { $('.ddlactionclass').val("0"); }

                //});


                //$('#EmailDialog').dialog({
                //    autoOpen: false,
                //    width: 900,
                //    //                    height: 500,
                //    resizable: false,
                //    modal: true,
                //    close: function () { $('.ddlactionclass').val("0"); }

                //});
                //$('#PayDialog').dialog({
                //    autoOpen: false,
                //    width: 900,
                //    //                    height: 500,
                //    resizable: false,
                //    modal: true,
                //    close: function () { $('.ddlactionclass').val("0"); }

                //});

            });
    </script>
                                              if (grid.Rows.Count <= 9)
                                              {
                                                  if (grid.Rows.Count <= 4)
                                                  {
            <table id="tblbottom" runat="server">
        <tr>
   <td style="padding-top: 370px;"></td>
  </tr></table>
                                                  }
                                                  else
                                                  {
      <table id="tblbottom1" runat="server">
        <tr>
   <td style="padding-top: 200px;"></td>
  </tr></table>
                                                  }
                                              }
                                              Html.RenderAction("Bottomsections", "Tools");


    }
    <script type="text/javascript">
        function ddlchange(dId, Provider_ID, Practice_ID, status, Login_ID, Login_ID, ProviderName) {
            if (status == "A" & dId == "1") {
                if (confirm("Do you want to change the status of provider ?")) {
                    window.location = '../Providers/Providerinactive?Provider_ID=' + Provider_ID;

                    return false;
                }

                else {
                    $('.ddlactionclass').val("0");
                }
            }
            if (status != "A" & dId == "1") {
                if (confirm("Do you want to change the status of provider ?")) {
                    window.location = '../Providers/Provideractive?Provider_ID=' + Provider_ID;

                    return false;
                }

                else {
                    $('.ddlactionclass').val("0");
                }
            }
            if (dId == "2") {
                if (confirm("Do you want to delete the provider ?")) {
                    window.location = '../Providers/ProviderDelete?Provider_ID=' + Provider_ID;

                    return false;
                }

                else {
                    $('.ddlactionclass').val("0");
                }
            }
            if (dId == "12") {
                window.location = '../Providers/Providerloginhistory?Login_ID=' + Login_ID;

            }
            if (dId == "13") {

                //var dialogDiv = $('#PayDialog');
                //$('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                //var viewUrl = '../Providers/Temporarypassword?Login_ID=' + Login_ID + '&Provider_ID=' + Provider_ID + '&ProviderName=' + ProviderName + '&Practice_ID=' + Practice_ID;
                var viewUrl = '../Providers/ProviderPayType?providerLoginId=' + Login_ID;
                Displaydialog('PayDialog', viewUrl, 'auto', 900, 'dvLoading', null, null);
                $('.ddlactionclass').val("0");
                //$.get(viewUrl, function (data) {
                //    dialogDiv.html(data);
                //    $('#dvLoading').dialog('close');
                //    dialogDiv.dialog('open');
                //});
                //window.location = '../Providers/ProviderPayType' ;

            }
            if (dId == "11") {
                //                window.location = '../Providers/Providerloginhistory?Login_ID=' + Login_ID;
                //var dialogDiv = $('#TemppwdDialog');
                //$('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                var viewUrl = '../Providers/Temporarypassword?Login_ID=' + Login_ID + '&Provider_ID=' + Provider_ID + '&ProviderName=' + ProviderName + '&Practice_ID=' + Practice_ID;
                Displaydialog('TemppwdDialog', viewUrl, 'auto', 900, 'dvLoading', null, null);
                $('.ddlactionclass').val("0");
                //$.get(viewUrl, function (data) {
                //    dialogDiv.html(data);
                //    $('#dvLoading').dialog('close');
                //    dialogDiv.dialog('open');
                //});

            }

            if (dId == "5") {
                //                window.location = '../Providers/Providerloginhistory?Login_ID=' + Login_ID;
                //var dialogDiv = $('#EmailDialog');
                //$('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
                var viewUrl = '../Providers/Emailusercredentials?Login_ID=' + Login_ID + '&Provider_ID=' + Provider_ID + '&ProviderName=' + ProviderName + '&Practice_ID=' + Practice_ID;
                Displaydialog('EmailDialog', viewUrl, 'auto', 900, 'dvLoading', null, null);
                $('.ddlactionclass').val("0");
                //$.get(viewUrl, function (data) {
                //    dialogDiv.html(data);
                //    $('#dvLoading').dialog('close');
                //    dialogDiv.dialog('open');
                //});

            }


        }

    </script>
           <script type="text/javascript">
               $(document).ready(function () {
                   var roleid = '@Session["roleid"]';
                   if (roleid == "1") {
                       $("#Menu0").removeClass();
                       $("#Menu1").removeClass();
                       $("#Menu2").removeClass();
                       $("#Menu3").addClass("active");
                   }
               });
    </script>      
    <script src="~/Scripts/DatepickerNew.js" type="text/javascript"></script>
</body>
</html>