@{
    ViewBag.Title = "ElectricianArticle";
    Layout = "~/Views/Shared/_ArticlesMaster.cshtml";
}

 @Scripts.Render("~/Scripts/Thscriptscript")
 @Styles.Render("~/Content/themes/base/PublicjqueryCSS")
   @Scripts.Render("~/ThScripts/Thjquerycripts")
            <script type="text/javascript">
                $(document).ready(function () {
                    var recordId = $('#hdnsearch').val();
                    $('#txtSearch').val(recordId);

                });
                $(document).ready(function () {
                    var recordId = $('#hdncategory').val();
                    $('#Category').val(recordId);

                });
                $(document).ready(function () {
                    var recordId = $('#hdnrbomost').val();
                    $('#rbomost').select.valueOf(recordId);

                });
     </script>
<script type="text/javascript">
    $(document).ready(function () {
        var pageno = "@ViewBag.Pagenation";
        if (pageno != 1) {
            $('#apage' + pageno).removeClass('pagination1');
            $('#apage' + pageno).addClass('button');
        }
        else {
            $('#apage' + pageno).addClass('button');
        }
      
    });
    $(document).ready(function () {
        $(".sendfaqclose").live("click", function (e) {
            var dialogDiv = $('#sendemaildialog');
            dialogDiv.dialog('close');
            return false;
        });


    });
</script>
<script type="text/javascript">
    function cancelclick() {
        window.location.href = "@Url.Action("Articles","LearnExplore")";
    }

</script>
@using (Html.BeginForm("ElectricianArticle", "LearnExplore"))
{
     @Html.AntiForgeryToken()
         <h1 style="padding-bottom: 15px;   color: #292929; font: italic 20px georgia; margin: 0;">
        Learn &amp; Explore</h1>
<input id="hdnrbomost" type="hidden" value="@ViewBag.rbomost"/>

    <div class="article-library">
        <ul>
            <li><a id="imgarticle" href="@Url.Action("Articles","LearnExplore")"  class="current" >ARTICLE LIBRARY</a></li>
            <li><a id="A1" name="IMgvideo" href="@Url.Action("ArticlesIndex","LearnExplore")">ARTICLE INDEX</a>
            </li>
            <li><a id="IMgvideo" name="IMgvideo" href="@Url.Action("Videos", "LearnExplore")">VIDEO LIBRARY</a></li>
        
        </ul>
        <div class="affairs" style="padding:20px 0px 200px 0px;">
                <table cellpadding="0" width="100%" align="center" border="0">
              <tr height="20px">
                    <td colspan="2" align="right" style="font-family: Arial; font-size: 12pt; font-weight: bold; color:#044a7d;cursor: pointer;">
   <a href="#" onclick="return Displaydialog('sendemaildialog','@Url.Action("SendArticle", new { arid = ViewBag.arid })','auto',900,'dvLoading',null,null);" class="sendemail" title="Click here to Send Email">Send this link to a friend</a>
  </td>
                </tr>
        <tr >
            <td align="left" style="font-family: Arial; font-size: 10pt; font-weight: normal;
                text-align: justify;">
   
              <table>
             <tr>  
                                        
             <td >
            <span>@ViewBag.Title</span>
                        </td>
             </tr>
                  <tr> 
                      <td>     
                          <h5> 
                      <span>@ViewBag.datestrng</span></h5>    </td>
                  </tr>
                  
                  <tr style="padding-top:10px; padding-bottom:25px;">
                     
                      <td style="padding-top: 10px; padding-bottom: 25px;">
                        
                              <span id="Span3" style="font-family: arial; font-size: 9pt; font-weight: normal;">
                                 @Html.Raw(ViewBag.InnerHtml)
                              </span>
                                              

                      </td>
                  </tr>
                  <tr>
                      <td>
                           <br />
                                                                               <p> <span id="Authordesc" runat="server" style="line-height: 20px">
                                                                                   @ViewBag.AuthorFulldesc
                                                                                </span></p>
                      </td>
                  </tr>
                     @if (ViewBag.relatedlinkcount > 0)
                     {
                  
                             <tr id="trref" runat="server">
                    <td style="font-family: Arial; font-size: 12pt; color: #044a7d" class="bluemenu1">
                        Related Videos
                    </td>
                </tr>
                <tr id="trref1" runat="server">
                    <td>
                        <hr />
                    </td>
                </tr>
             
                <tr id="trref2" runat="server">
                    <td style="font-family: Arial; font-size: 9pt;" id="tdlinks" runat="server">
                        <table>
                                <tr>
                                <td>
                                    
                                    
                                        @foreach (var item1 in ViewBag.relatedlinks)
                                        {
                                            int filepath = item1["Publicvideo_ID"];
                                            string str = item1["Title"];
                                            string text = str.ToString();
                                            //string fileext = System.IO.Path.GetExtension(item1["Publicvideo_ID"]);
                                          //  string path = item1["ImagepathSuffix"] + "AdminTutorialVideo" + fileext;
                                           
                                      
                                          <table>
                                        <tr>
                                        <td>                                           
                                     @Html.ActionLink(str, "Video", new { @videoid = filepath}, new { @class = "openDialog", @data_dialog_id = "aboutlDialog" })                  
                                   
                                        </td>
                                        </tr>                                                                                
                                        </table>    
                                        }
                                      
                                </td>
                            </tr>
                        </table>
                       
                    </td>
                </tr>
             
                     }
                <tr>
                
                    <td colspan="2" height="30px">
                     </td>
                </tr>
                               
                              @if (ViewBag.relatedartcount > 0)
                              {

                               
                                  <tr id="trrelfaq1" >
                                  
                    <td style="font-family: Arial; font-size: 12pt; color: #044a7d" >
                        Related Articles
                    </td>
              
                </tr>
                <tr id="trrelfaq2">
                    <td>
                        <hr />
                    </td>
                </tr>
                             
                                 
                <tr id="trrelfaq3">
                    <td style="font-family: Arial; font-size: 9pt;" id="td2" runat="server">
                    @foreach (var item2 in ViewBag.relatedart)
                    {
                        string str = null;
                        //str = (string)item2["Question"];
                        int qno = (int)item2["Article_id"];
                        string title = (string)item2["Title"];
                  
             <table>
             <tr>  
             <td>
               </td>                               
             <td style="font-family: Arial; font-size: 11pt; color:#044a7d;text-decoration:none;">
         
                                 
                     @Html.ActionLink(title, "ElectricianArticle", new { @arid = item2["Article_id"] })
            
             </td>
             </tr><br />
             </table>
                    }

                    </td>
                        
                </tr> 
                              }
                <tr>
                   <td colspan="2" height="30px">
                    </td>
                </tr>
                  <tr>
                      <td style="padding-left:500px;">
                          <input type="button" class="button" id="btncancel" name="btncancel" value="Cancel" onclick="return cancelclick();" />
                      </td>
                  </tr>
             </table>
        
            </td>
        </tr>
        
    </table>
            
          
        </div>
     
    </div>
    <div id="sendemaildialog" title="Send this link to a friend">
    </div>
       <script type="text/javascript">

           var linkObj;
           $(function () {

               //$('#sendemaildialog').dialog({
               //    autoOpen: false,
               //    width: 900,
               //    resizable: false,
               //    modal: true

               //});

               //$(".sendemail").click(function () {
               //    //change the title of the dialog
               //    linkObj = $(this);
               //    var dialogDiv = $('#sendemaildialog');
               //    $('#dvLoading').dialog({ modal: true, dialogClass: 'dvLoading', draggable: false, resizable: false });
               //    var viewUrl = linkObj.attr('href');
               //    $.get(viewUrl, function (data) {
               //        dialogDiv.html(data);
               //        $('#dvLoading').dialog('close');
               //        dialogDiv.dialog('open');

               //    });
               //    return false;
               //});

           });
</script>
}