@{
    Layout = null;
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PracticeAdjList</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>*@
 @{string heading1;
             if (Request["g3sort"] == "Transaction_Date" && Request["g3sortdir"] == "ASC")
             {
                 heading1 = "Date  ▲";
             }
             else if (Request["g3sort"] == "Transaction_Date" && Request["g3sortdir"] == "DESC")
             {
                 heading1 = "Date  ▼";
             }
             else
             {
                 heading1 = "Date  ▼";
             }
             
         }
          @{string Summarypagesize = (ViewBag.Summarypagesize == null ? "10" : ViewBag.Summarypagesize);
            WebGrid SummaryAdjgrid = new WebGrid(rowsPerPage: Convert.ToInt32(Summarypagesize), fieldNamePrefix: "g3", pageFieldName: "p3");}
                                            @{WebGrid grid = SummaryAdjgrid.Bind(rowCount: ViewBag.totrec, source: Model, autoSortAndPage: false);
                                              if (grid.TotalRowCount != 0)
                                              {
                                                  int count = 0;
                                                  string pager = grid.Pager().ToString();
                                                  string pageno = (Request["g3p3"] == null ? "1" : Request["g3p3"]);
                                                  string newpager = System.Text.RegularExpressions.Regex.Replace(pager, "(\\d+) ", "<span class='selected'>" + pageno + "</span>");
                                                  string gridhtml = grid.GetHtml(tableStyle: "gridTable", headerStyle: "gridHead", rowStyle: "gridRow", alternatingRowStyle: "gridAltRow",
                                                  columns: grid.Columns(grid.Column("Transaction_Date", heading1, style: "Date"), grid.Column("PaidByName", "Paid by", style: "Date", canSort: false), grid.Column("TransactionType", "Adjustment type", style: "Date", canSort: false), grid.Column("Notes", "Notes", style: "Date", canSort: false), grid.Column("Transaction_Amount", "Transaction amount", style: "Date", canSort: false, format:@<text>@*@Html.ActionLink((string)item.Transaction_Amount, "AdminviewTransaction", new { tranid = (int)item.Transaction_ID }, new { @class = "ViewAdjdiv" })*@ <a href="#" onclick="return Displaydialog('divView','AdminviewTransaction?tranid='+'@item.Transaction_ID',350,1000,'dvLoading',null,null);" class="ViewAdjdiv">@item.Transaction_Amount</a></text>), grid.Column("", "Delete", style: "cDel", canSort: false, format:@<text>@Html.ActionLink(" ", "DelAdminTran", new { tId = (int)item.Transaction_ID }, new { @style = "background: url('../Images/cross.png') no-repeat ;height: 15px;padding-left:15px;width:8%;", @class = "confirmDialog" })</text>))).ToString();
                                                  gridhtml = System.Text.RegularExpressions.Regex.Replace(gridhtml, "<tfoot>([^<]*|<[^/]*|</[^t]*)*</tfoot>", "");
                                                @(new HtmlString(gridhtml))
                                                  if (newpager != "")
                                                  {
                                                <br />
                                                <div class="gridFooter" style="text-align:center">@(new HtmlString(newpager))</div> 
                                               
                                                <br />
                                                  }
                                              }
                                              else
                                              {
                                                <table id="tdAdjustment" runat="server" width="100%">
                            <tr><td align="center" valign="middle" height="25px"><span id="lblAdjustment" class="errormsg" style="font-size:13px;font-weight:bold;">No Adjustments found</span></td></tr>
                        </table>
                                               
                                              }
                                              }
