@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
        <script src="~/Scripts/Expire.js" type="text/javascript"></script>
      <script src="~/SCRIPTS/scriptCognetwork.js" type="text/javascript"></script>
      <script type="text/javascript">
          function ValidateEmail() {
              var email = trim(document.getElementById('txtEmailAddress').value);
              document.getElementById('txtEmailAddress').value = email;
              if (document.getElementById('txtEmailAddress').value == '') {
                  document.getElementById('lblemail').style.display = '';
                  document.getElementById('lblemail').innerHTML = 'Please enter email address';

                  document.getElementById('tdname').bgColor = "orange";
                  document.getElementById('txtEmailAddress').focus();

                  return false;
              }
              else {
                  document.getElementById('tdname').bgColor = "White";
                  document.getElementById('lblemail').style.display = 'none';

              }

              if (ValidateEmail(document.getElementById('txtEmailAddress')) == 0) {
                  document.getElementById('lblemail').style.display = '';
                  document.getElementById('lblemail').innerHTML = 'Please enter valid email';
                    document.getElementById('tdname').bgColor = "orange";
                  document.getElementById('txtEmailAddress').focus();
                  return false;
              }
              else {
                  document.getElementById('tdname').bgColor = "White";
                  document.getElementById('lblemail').style.display = 'none';
              }
              document.getElementById('Hdnupdmail').value = "N";
              if (document.getElementById('Hdnemail').value != document.getElementById('txtEmailAddress').value) {
                  var strreturn = Glb_ShowAlert('Do you want to update your mailID?', 'Save');
                  if (strreturn == 'True') {
                      document.getElementById('Hdnupdmail').value = "Y";
                  }
              }

          }
    </script>
</head>
<body>
    @using (Html.BeginForm("Emailusercredentials", "Providers", FormMethod.Post, null))
    {
        <input type="hidden" id="Hdnemail" name="Hdnemail" value="@ViewBag.email" />
        <input type="hidden" id="Hdnupdmail" name="Hdnupdmail" value="" />
        <input type="hidden" id="HdnProviderName" name="HdnProviderName" value="@ViewBag.ProviderName" />
          <input type="hidden" id="HdnProvid" name="HdnProvid" value="@ViewBag.Provider_ID" />
        <input type="hidden" id="Hdnpracticeid" name="Hdnpracticeid" value="@ViewBag.Practice_ID" />
        <input type="hidden" id="HdnLoginiD" name="HdnLoginiD" value="@ViewBag.Login_ID" />
<table class="border_style" cellspacing="1" cellpadding="8" width="100%" align="center"
                border="0">
                <tr height="10" class="white_color" runat="server">
                    <td align="right" width="40%">
                        <font color="red">*</font><strong>Provider email address :</strong>
                    </td>
                    <td width="60%" align="left" id="tdname" runat="server">
                         @Html.TextBox("txtEmailAddress", (string)ViewBag.email, new { @class = "textfield", MaxLength = "50", style = "width:270px", autocomplete = "off" })
                         &nbsp;&nbsp;&nbsp;<span id="lblemail" style="display: none;"></span>
                    </td>
                </tr>
            </table>
            
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr class="background_color">
                                                        <td align="right" style="padding-top: 5px; padding-bottom: 5px; padding-right: 10px;">
                                                          <input type="submit" id="btnSave" value="Send" title="Send" class="button" onclick="return ValidateEmail();" />
                                                         &nbsp;

                                              <input type="button" class="close1 button" name="Cancel" value="Cancel" />
                                                        </td>
                                                    </tr>
                                                </table>
    }
</body>

</html>
