@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
 @*   <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
    <script type="text/javascript">
        function clearalerts() {
            ValidateAlertClear('tblmain', 'lbltitle', 'tdtitle', 'tdtitlemain', 'white');
            ValidateAlertClear('tblmain', 'lbldescription', 'tddescription', 'tddescriptionmain', 'white');
            ValidateAlertClear('tblmain', 'lblupload', 'tdupload', 'tduploadmain', 'white');
        }
        function EditValidate(Ext) {
            var str_Title;
            str_Title = trim(document.getElementById('txtTitle').value);
            document.getElementById('txtTitle').value = str_Title;
            if (str_Title == '') {
                clearalerts();
                //Glb_ShowAlert("Please enter title");
                document.getElementById('tblmain').style.display = '';
                document.getElementById('lbltitle').innerHTML = "Please enter title";
                document.getElementById('tdtitle').style.display = '';
                document.getElementById('tdtitle').bgColor = "orange";
                document.getElementById('tdtitlemain').bgColor = "orange";
                document.getElementById('txtTitle').focus();
                return false;
            }
            else {

                ValidateAlertClear('tblmain', 'lbltitle', 'tdtitle', 'tdtitlemain', 'white');
            }
            var ta = document.getElementById('txtDescription');
            if (ta.value.length > 1000) {
                clearalerts();
                document.getElementById('tblmain').style.display = '';
                document.getElementById('lbldescription').innerHTML = "Please enter description less than  1000 characters";
                document.getElementById('tddescription').style.display = '';
                document.getElementById('tddescription').bgColor = "orange";
                document.getElementById('tddescriptionmain').bgColor = "orange";
                document.getElementById('txtDescription').focus();
                return false;
            }
            else {

                ValidateAlertClear('tblmain', 'lbldescription', 'tddescription', 'tddescriptionmain', 'white');
            }
            //var lblvalue = document.getElementById('FileName');
            //if (document.getElementById('FileUpLoad').value == '' && document.getElementById('FileUpLoad').innerHTML == '') {
            //    clearalerts();
            //    //Glb_ShowAlert('Please select a file name');
            //    document.getElementById('tblmain').style.display = '';
            //    document.getElementById('lblupload').innerHTML = "Please select a file name";
            //    document.getElementById('tdupload').style.display = '';
            //    document.getElementById('tdupload').bgColor = "orange";
            //    document.getElementById('tduploadmain').bgColor = "orange";
            //    return false;
            //}
            //else {

            //    ValidateAlertClear('tblmain', 'lblupload', 'tdupload', 'tduploadmain', 'white');
            //}
            if (document.getElementById("FileUpLoad").style.display == '') {
                clearalerts();
                if (document.getElementById('FileUpLoad').value != "") {
                    clearalerts();
                    var str = document.getElementById('FileUpLoad').value;
                    var Strr = str.toUpperCase();
                    //                     if ((Strr.indexOf(".DOC") == -1) && (Strr.indexOf(".DOCX") == -1) && (Strr.indexOf(".TXT") == -1) && (Strr.indexOf(".XLS") == -1) && (Strr.indexOf(".PPS") == -1) && (Strr.indexOf(".PPT") == -1) && (Strr.indexOf(".PDF") == -1) && (Strr.indexOf(".XLSX") == -1) && (Strr.indexOf(".PPTX") == -1) && (Strr.indexOf(".ZIP") == -1) && (Strr.indexOf(".RAR") == -1)) {
                    if ((Strr.indexOf(".DOC") == -1) && (Strr.indexOf(".DOCX") == -1) && (Strr.indexOf(".TXT") == -1) && (Strr.indexOf(".XLS") == -1) && (Strr.indexOf(".PPS") == -1) && (Strr.indexOf(".PPT") == -1) && (Strr.indexOf(".PDF") == -1) && (Strr.indexOf(".XLSX") == -1) && (Strr.indexOf(".PPTX") == -1) && (Strr.indexOf(".ZIP") == -1) && (Strr.indexOf(".RAR") == -1) && (Strr.indexOf(".GIF") == -1) && (Strr.indexOf(".PNG") == -1) && (Strr.indexOf(".JPG") == -1)) {
                        clearalerts();
                        //Glb_ShowAlert("Please select only doc,docx,txt,xls,pps,ppt,pdf,zip,rar files for document file");
                        document.getElementById('tblmain').style.display = '';
                        document.getElementById('lblupload').innerHTML = "Please select only doc, docx, txt, xls, pps, ppt, pdf, zip, rar, gif, jpg, png files for document file";
                        document.getElementById('tdupload').style.display = '';
                        document.getElementById('tdupload').bgColor = "orange";
                        document.getElementById('tduploadmain').bgColor = "orange";
                        return false;
                    }
                    else {

                        ValidateAlertClear('tblmain', 'lblupload', 'tdupload', 'tduploadmain', 'white');
                    }
                }
            }
            //            document.getElementById('divloading').style.display = '';
            //            document.body.style.cursor = 'wait';
        }
        var PopupWin = null;
        function Open(FilePath) {
            if (PopupWin != null) PopupWin.close();
            PopupWin = window.open(FilePath);
            //document.getElementById('hdnInd').value = 1;
            return false;
        }
    </script>
</head>
<body>
    @using (Html.BeginForm("EditProofCertificate", "VerificationUser", null, FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div id="update-message" class="error" style="padding-left: 250px; font-weight: bold;">
        </div>
        <input type="hidden" id="hdndocid" name="hdndocid" value="@ViewBag.docid" />
        <input type="hidden" id="hdnPaTH" name="hdnPaTH" value="@ViewBag.hdnPaTH" />
        <input type="hidden" id="hdnPathSuffix" name="hdnPathSuffix" value="@ViewBag.Path_Suffix" />
        <input type="hidden" id="hdnstrpath" name="hdnstrpath" value="@ViewBag.strpath" />
        <input type="hidden" id="hdnprovid" name="hdnprovid" value="@ViewBag.provid" />
        <input type="hidden" id="hdnpracticeid" name="hdnpracticeid" value="@ViewBag.practiceid" />
        <div class="content-box">
            <div class="content-box-content">
                <table id="tblProvAttributes" border="0" cellspacing="1" cellpadding="6" width="100%"
                    class="border_style" align="center">
                    <tr class="white_color">
                        <td style="font-weight:bold;" align="right" width="40%">
                            <span style="color: Red;">*</span>Title :&nbsp;
                        </td>
                        <td width="60%" align="Left" id="tdtitlemain">
                            @Html.TextBox("txtTitle", (string)ViewBag.txtTitle, new { @class = "textfield", maxlength = "100", style = "width:300px;" })
                        </td>
                    </tr>
                    <tr class="white_color">
                        <td align="right" width="40%">
                            <b>Description :&nbsp;</b>
                        </td>
                        <td width="60%" align="Left" id="tddescriptionmain">
                            @Html.TextArea("txtDescription", (string)ViewBag.txtDescription, 3, 3, new { @class = "textfield", maxlength = "1000", style = "width:500px;height:100px;" })
                            <br />
                            &nbsp;&nbsp;<span>(Maximum length 1000 characters)</span>
                        </td>
                    </tr>
                    <tr class="white_color">
                        <td style="height: 15px" align="right" width="40%">
                       @*     <a id="FileName" href="Download/@ViewBag.docid" style="text-align:justify;">@ViewBag.FileName</a>*@
                            @Html.ActionLink((string)ViewBag.FileName, "CertificateDownload", "VerificationUser", new { @id = (int)ViewBag.docid, @provid = ViewBag.provid, @practiceid = ViewBag.practiceid }, new { @title = "Click here to download the file", style = "font-weight:bold;" }) 
                            &nbsp;&nbsp; &nbsp;&nbsp;<font color="red">*</font><span
                                id="Label2" style="font-weight:bold;">Replace with new file :</span> &nbsp;
                        </td>
                        <td style="height: 15px" width="60%" align="Left" id="tduploadmain">
                             <a ID="hypLnkAttachedFileName"  href="#">@ViewBag.hypLnkAttachedFileName </a>
                            <input type="file" id="FileUpLoad" onselectstart="return false;" style="background-color: White;"
                                onpaste="return false;" onkeypress="return false;" onkeydown="return false;"
                                onkeyup="return false;" runat="server" name="FileUpLoad" /><font id="fonttxt">&nbsp;&nbsp;(Maximum file size
                                                                        : 10mb)</font>
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" id="tblmain"
                    style="display: none;">
                    <tr class="white_color" align="center">
                        <td id="tdtitle" height="30px" style="display: none;">
                            <span id="lbltitle" style="font-weight:bold;color:Black;" ></span>
                        </td>
                    </tr>
                    <tr class="white_color" align="center">
                        <td id="tddescription" height="30px" style="display: none;">
                            <span id="lbldescription" style="font-weight:bold;color:Black;"></span>
                        </td>
                    </tr>
                    <tr class="white_color" align="center">
                        <td id="tdupload" height="30px" style="display: none;">
                            <span id="lblupload" style="font-weight:bold;color:Black;"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <table id="tblbuttons" width="100%">
                <tr>
                    <td width="100%" align="right" style="padding-right: 10px; padding-bottom: 5px;">
                        <input type="submit" id="imgbtnSaveFile" value="Save" class="button" onclick="return EditValidate('');" />
                        <input type="button" class="close4 button" name="Cancel" value="Cancel" />
                    </td>
                </tr>
            </table>
        </div>
        
        
    }
</body>
</html>
