@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  @*  <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
    @Scripts.Render("~/ThScripts/ThAjaxscripts")
     @Scripts.Render("~/SCRIPTS/scriptCognetwork")
    @Styles.Render("~/Content/themes/base/jqueryCSS")
      @Styles.Render("~/Content/flytooltip")


      <style type="text/css">
          
    
          
        .ui-datepicker-trigger
        {
            margin-left: 5px;
            vertical-align: middle;
          
        }
        
    </style>   
      <script type="text/javascript">
          $(document).ready
                (
                function () {

                    var fromdate = $('#hdnFromdate').val();
                    if (fromdate != '') {
                        $('#txt_FromDate').val(fromdate);
                        document.getElementById('tddaterange').style.display = '';
                    }
                    else {
                        $('#txt_FromDate').val("");
                        document.getElementById('tddaterange').style.display = 'none';

                    }

                    var todate = $('#hdnTodate').val();
                    if (todate != '') {
                        $('#txt_ToDate').val(todate);
                        document.getElementById('tddaterange').style.display = '';
                    }
                    else {
                        $('#txt_ToDate').val("");
                        document.getElementById('tddaterange').style.display = 'none';

                    }

                    var drange = $('#hdnDaterange').val();
                    if (drange == 5) {
                        document.getElementById('tddaterange').style.display = '';
                        $('#dt_filter').val(drange);
                    }
                    else if (drange != '') {
                        $('#dt_filter').val(drange);

                    }
                });
    </script>
      <script type="text/javascript">

          $(document).ready(function () {
              var frm = $("#formname");
              $('#dt_filter').change(function () {
                  //            alert("2")
                  if (document.getElementById('dt_filter').value == '5') {
                      document.getElementById('tddaterange').style.display = '';
                      $('#txt_FromDate').val("");
                      $('#txt_ToDate').val("");

                  }
                  else {
                      document.getElementById('tddaterange').style.display = 'none';
                      document.getElementById('tddaterange').style.display = 'none';
                      $('#txt_FromDate').val("");
                      $('#txt_ToDate').val("");
                  }
                  return false;
              });
          });
</script>
      <script type="text/javascript">

          $(function () {
              $("#txt_FromDate,#txtEndDateforDaily,#txtEndDateforWeek").datepicker
             ({
                 showOn: "button",
                 buttonImage: "../Images/calender.gif",
                 buttonImageOnly: true
             });
          });


          $(function () {
              //             alert("4")
              $("#txt_ToDate,#txtEndDateforDaily,#txtEndDateforWeek").datepicker
                ({
                    showOn: "button",
                    buttonImage: "../Images/calender.gif",
                    buttonImageOnly: true
                });
          });
       </script>
      <script language="javascript" type="text/javascript">
          function ValidSearch() {

              if (document.getElementById('dt_filter').selectedIndex == 0) {
                  alert("Select date");
                  return false;
              }
              if (document.getElementById('dt_filter').value == '5') {

                  if (document.getElementById('txt_FromDate').value != '' && document.getElementById('txt_FromDate').value != " ") {
                      if (CheckValidDate(document.getElementById('txt_FromDate')) == 0) {
                          return false;
                      }
                  }
                  if (document.getElementById('txt_ToDate').value != '' && document.getElementById('txt_ToDate').value != " ") {
                      if (CheckValidDate(document.getElementById('txt_ToDate')) == 0) {
                          return false;
                      }
                  }
                  var CDate = new Date()
                  var CFormatDate = CDate.getUTCMonth() + 1 + "/" + CDate.getDate() + "/" + CDate.getFullYear();
                  var FromDate = document.getElementById('txt_FromDate').value;
                  if (document.getElementById('txt_FromDate').value == '' || document.getElementById('txt_FromDate').value == " ") {
                      alert('Select from date');
                      document.getElementById('txt_FromDate').focus();
                      return false;
                  }
                  if (document.getElementById('txt_ToDate').value == '' || document.getElementById('txt_ToDate').value == " ") {
                      alert('Select to date');
                      document.getElementById('txt_ToDate').focus();
                      return false;
                  }
                  var St = document.getElementById('txt_FromDate').value;
                  St = new Date(St);
                  var En = document.getElementById('txt_ToDate').value
                  En = new Date(En);
                  if (St > En) {
                      alert("From date should not be greater than to date")
                      return false;
                  }

              }
              var dt_filter = trim(document.getElementById('dt_filter').value);
              var txt_FromDate = trim(document.getElementById('txt_FromDate').value);
              var txt_ToDate = trim(document.getElementById('txt_ToDate').value);
              window.location.href = '@Url.Action("Licenseexpirelist", "VerificationUser")?dt_filter=' + dt_filter + '&txt_FromDate=' + txt_FromDate + '&txt_ToDate=' + txt_ToDate; 
          }
						
    </script>
    
                <script type="text/javascript">
                    function cancel() {
                        var roleid = '@Session["roleid"]';
                        if(roleid=="38"){
                            window.location.href = "@Url.Action("Userprofile", "VerificationUser")"; 
                        }
                        else if(roleid=="31")
                        {
                            window.location.href = "@Url.Action("ProviderProfile", "VerificationUser")"; 
                        }
           
        }
    </script>
</head>
<body>
 @*   @using (Html.BeginForm("Licenseexpirelist", "VerificationUser", FormMethod.Get, null))*@
            @using (Ajax.BeginForm("Licenseexpirelist", "VerificationUser", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "updateSuccess"

        }))
    {
        Html.RenderAction("Topsection", "Tools");
        
        <input type="hidden" id="hdndatesearch" name="hdndatesearch" value="@ViewBag.daterange" />
          <input type="hidden" id="hdnFromdate"  value="@ViewBag.Fromdate"/>
        <input id="hdnTodate" type="hidden" value="@ViewBag.Todate"/>
        <input id="hdnDaterange" name="hdnDaterange" type="hidden" value="@ViewBag.Daterange"/>            
               <div id="main-content">
                   <table width="100%" cellpadding="0" cellspacing="0">
                            <tr id="trtabs" runat="server">
                                <td width="100%" class="navigation">
                                    <div class="admin-tab">
                                        <a class="admin-link" id="aprovider" href="../VerificationUser/Licenseexpirelist" ><span>License expire list</span>
                                        </a>
                                    </div>
                                    <div class="admin-tab">
                                        <a class="inadmin-link" id="acontent"  href="../Common/PasswordManagement"><span>Password management</span>
                                        </a>
                                    </div>                                
                                </td>
                            </tr>
                            <tr class="background_color">
                                <td id="tdtabs" class="tab-background"   width="100%">
               <div class="content-box">
                                                                                           <div class="content-box-header" runat="server" style="height: 25px">
                                            <table width="100%" cellpadding="0" cellspacing="0" style="float: left;">
                                                <tr>
                                                    <td width="90%" align="left">
                                                        <h3>
                                                            License Expire List</h3>
                                                    </td>
                                                    
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="content-box-content">
        <table width="98%" cellpadding="0" cellspacing="0" style="padding-top:10px; padding-bottom:10px;">
           <tr class="background_color">
                <td width="20%" align="right" style="padding-left:30px">
                         
                        
      
                           
                </td>
                <td width="20%" align="left" style="padding-left:10px;">
                        

                </td> 

             <td>
                        <strong>Date range : </strong>&nbsp;
                            @Html.DropDownList("dt_filter", new List<SelectListItem>
                       
                                                                              {
                                                               new SelectListItem{ Text="--Select dates--", Value = "0" },
                                                                  new SelectListItem{ Text="Last 7 days", Value = "1" },
                                                                  new SelectListItem{ Text="Last 30 days", Value = "2" },
                                                               new SelectListItem{ Text="Today", Value = "Today" },
                                                                new SelectListItem{ Text="Next 7 days", Value = "7" },
                                                                new SelectListItem{ Text="Next 30 days", Value = "30" },
   
                                                                new SelectListItem{ Text="Custom", Value = "5" },
                                                                
                                                               
                                                              },
                                                            new { style = "font-family:arial;font-size:13px;height:20px;width:125px;" })
                </td>
                      <td width="35%" id="tddaterange" runat="server"  style= " padding-right:5px; padding-top: 0px; display:none">
                       
                    <strong> &nbsp;&nbsp;&nbsp;&nbsp; From : </strong> 
                
                
                     @Html.TextBox("txt_FromDate", null, new { @class = "textfield", @style = "width:82px" })&nbsp;&nbsp;   &nbsp;&nbsp;
                    
                      &nbsp;&nbsp; <strong> To : </strong> 
                        @Html.TextBox("txt_ToDate", null, new { @class = "textfield", @style = "width:82px" })&nbsp;&nbsp;   &nbsp;&nbsp;
                
                        </td>
                
            <td align="left" style=" padding-top: 0px; padding-right:30px; width:7%;">
             <input type="button" class="button" id="btnsearch" value="Search" onclick="return ValidSearch();" />

            </td>
            </tr>
        </table>
        </div>

        <br />
        @if (ViewBag.Daterange != "0")
        {
            Html.RenderAction("Liclist", "VerificationUser");
            <table id="Table7" runat="server" width="100%" style="padding-right:30px; padding-bottom:10px;">
                                    <tr class="background_color">
                                        <td align="right">
                                       
                                           <input type="submit" value="Send email" title="Save" class="button" />
                                             <input value="Cancel" type="button" class="button" style="width: 60px;" id="btnclose" onclick="return cancel();"/>
                                        </td>
                                    </tr>
                                </table>

        }
                </div> 
                                    </td></tr></table>
        </div>  
                if (ViewBag.Daterange == "0")
                {
                                      <table id="tblbottom2" runat="server">
        <tr>
   <td style="padding-top: 440px;"></td>
  </tr></table>
                }


                    Html.RenderAction("Bottomsections", "Tools");

    }
</body>
<script type="text/javascript">

    function updateSuccess(data) {
        if (data != '' & data.Success == true) {
            $('#updateDialog').dialog('close');
            window.location.href = "../VerificationUser/Licenseexpirelist";
        }
        else if (data.ErrorMessage == 'expire') {
            window.location.href = '../Home/SessionExpire';
        }
        else {
            $('#updateDialog').dialog('close');
            if (data != '_Logon_') {
                alert(data.ErrorMessage);
            }
        }
    }
    </script>
</html>
