@model MowerHelper.Models.Classes.StateCity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   @* <meta name="viewport" content="width=device-width" />*@
    <script src="~/Scripts/Expire.js" type="text/javascript"></script>
    <script src="~/Scripts/DatepickerNew.js" type="text/javascript"></script>
       <title>Mower Helper-Find an Mower Helper</title>

   <script language="javascript" type="text/javascript">
       $(document).ready(function () {
           document.getElementById('rdStatus_1').checked = true;
       });
     
       function rbtncheck() {
          
           document.getElementById('rdStatus_0').checked = true;
           document.getElementById('rdStatus_1').checked = false;


       }
       function rbtncheck1() {
           document.getElementById('rdStatus_1').checked = true;
           document.getElementById('rdStatus_0').checked = false;
       }

        </script>
   <script type="text/javascript">

       $(function () {
           //$("#txtDate,#txtEndDateforDaily,#txtEndDateforWeek").datepicker({
           //    dateFormat: 'mm/dd/yy',
           //    changeMonth: true,
           //    changeYear: true,
           //    //                showCurrentAtPos: 1,
           //    showWeeks: true,
           //    inline: true,
           //    numberOfMonths: [1, 1],
           //    yearRange: "1950:2020",
           //    showOn: "button",
           //    buttonImage: "../Images/calender.gif",
           //    buttonImageOnly: true

           //});
                   
               });
       </script>
   <script type="text/javascript">

            function clearalerts() {
                ClearInlineAlert('lbltaskname', 'tdTitle', 'white')
                ClearInlineAlert('lblErrDate', 'tdDate', '#FFFFFF')
                ClearInlineAlert('lblnote', 'tdnote', 'white')
            }
            function validatetask() {
                if (trim(document.getElementById('txt_title').value) == '') {
                    clearalerts()
                    var strcptcode = document.getElementById('txt_title').value;
                    strcptcode = strcptcode.replace(/^\s+/, '');
                    document.getElementById('txt_title').value = strcptcode;
                    InlineAlert('lbltaskname', 'tdTitle', 'Please enter title!');
                    document.getElementById('txt_title').focus();
                    return false;
                }
                else {
                    ClearInlineAlert('lbltaskname', 'tdTitle', 'white')
                }

                if (document.getElementById('txt_title').value.length > 150) {
                    clearalerts()
                    InlineAlert('lbltaskname', 'tdTitle', 'Please enter 150 chars only!');
                    document.getElementById('txt_title').focus();
                    return false;
                }
                else {
                    ClearInlineAlert('lbltaskname', 'tdTitle', 'white')
                }
                if (document.getElementById('txtDate').value != '' && document.getElementById('txtDate').value != 'mm/dd/yyyy') {
                    clearalerts()
                    if (document.getElementById('txtDate').value != '' && document.getElementById('txtDate').value != 'mm/dd/yyyy') {
                        clearalerts()
                        var Dateid = document.getElementById('txtDate').value;
                        var Dat = Dateid.split("/");
                        var myDat = new Date(Dat[2], Dat[0] - 1, Dat[1])
                        var yearid = Dat[2];
                        var Monthid = Dat[0];
                        var MyId = Dat[1];
                        var CurDt = new Date()
                        var DatePat = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;
                        var matchArray = Dateid.match(DatePat);
                        if (matchArray == null) {

                            InlineAlert('lblErrDate', 'tdDate', 'The date  format!!! should be like mm/dd/yyyy');
                            document.getElementById('txtDate').focus();
                            return false;
                        }
                        else {

                            ClearInlineAlert('lblErrDate', 'tdDate', '#FFFFFF')
                        }
                        if (yearid < 1900) {
                            clearalerts()
                            InlineAlert('lblErrDate', 'tdDate', 'Please enter a valid 4 digit year between 1900 and 2060');
                            document.getElementById('txtDate').focus();
                            return false
                        }
                        else {
                            ClearInlineAlert('lblErrDate', 'tdDate', '#FFFFFF')
                        }
                        if (Monthid > 12 || Monthid == 0) {
                            clearalerts()
                            InlineAlert('lblErrDate', 'tdDate', 'Please enter a valid month');
                            document.getElementById('txtDate').focus();
                            return false
                        }
                        else {
                            ClearInlineAlert('lblErrDate', 'tdDate', '#FFFFFF')
                        }
                        if (MyId > 31 || MyId == 0) {
                            clearalerts()
                            InlineAlert('lblErrDate', 'tdDate', 'Please enter a valid day');
                            document.getElementById('txtDate').focus();
                            return false
                        }
                        else {
                            ClearInlineAlert('lblErrDate', 'tdDate', '#FFFFFF')
                        }
                       
                        if (Monthid == 2 && MyId == 29 && (yearid % 4 != 0 || yearid % 100 == 0 && yearid % 400 != 0)) {
                            clearalerts()
                            InlineAlert('lblErrDate', 'tdDate', 'Please enter a valid day');
                            document.getElementById('txtDate').focus();
                            return false;
                        }
                        else {
                            ClearInlineAlert('lblErrDate', 'tdDate', '#FFFFFF')
                        }
                        if (((Monthid == 4 || Monthid == 6 || Monthid == 9 || Monthid == 11) && MyId == 31) || (Monthid == 2 && (MyId == 30 || MyId == 31))) {
                            clearalerts()
                            InlineAlert('lblErrDate', 'tdDate', 'Please enter a valid day');
                            document.getElementById('txtDate').focus();
                            return false;
                        }
                        else {
                            ClearInlineAlert('lblErrDate', 'tdDate', '#FFFFFF')
                        }
                    }
                }
                if (document.getElementById('txtnotes').value != '') {
                    var strwebsite = trim(document.getElementById('txtnotes').value);
                    document.getElementById('txtnotes').value = strwebsite;
                }
                if (document.getElementById('txtnotes').value.length > 1000) {
                    clearalerts()
                    InlineAlert('lblnote', 'tdnote', 'Notes can be up to 1000 characters.');
                    document.getElementById('txtnotes').focus();
                    return false;
                }
                else {
                    ClearInlineAlert('lblnote', 'tdnote', 'white')
                }
            }
</script>

</head>
<body>




@using (Html.BeginForm("Addnewtask", "Task", FormMethod.Post, null))
{
       <input type="hidden" id="hdnchktype" name="hdnchktype" value="" />
     <div class="content-box" >
    <div class="content-box-content">
         <table align="center" border="0" class="border_style" cellpadding="7" cellspacing="1" id="tblErrPwd"
                                        width="100%">

                          

                                        <tr class="white_color">
                                            <td align="right" id="tdErrOldpwd" width="10%">
                                                <font color="Red"><b>&nbsp;*</b></font><strong>Title &nbsp;:&nbsp;</strong>
                                                 
                                            </td>
                                             <td align="left" id= "tdTitle" width="30%">
                                                         @Html.TextBox("txt_title", null, new { @class = "textfield", MaxLength = "150", style = "width:450px", autocomplete = "off" })
                                                           
                                                           &nbsp;&nbsp;<span id="lbltaskname" style="font-weight: bold; color: Black;"></span>
                                                           <br />
                                                           (Maximum length 150 characters)
                                                         </td>
                                            </tr>


                                         <tr class="white_color" id="trDOB">
                                                        <td align="right">
                                                            <font color="blue"><b>&nbsp;</b></font><strong>Due date&nbsp;:&nbsp;</strong>
                                                        </td>
                                                        <td align="left" width="70%" id="tdDate">
                                                         @Html.TextBox("txtDate", null, new { @class = "textfield Datefield", @style = "width:82px" }) &nbsp;&nbsp;
                                                         
                                                         <span id="lblErrDate" style="font-weight: bold; color: Black;"></span>
                                                        </td>
                                                    </tr>
                                                     <tr class="nav_blue_color">
                                                        <td align="right">
                                                            <strong>Status&nbsp;:&nbsp;</strong>
                                                        </td>
                                                        <td align="left" width="70%">


                                                         @Html.RadioButton("rdStatus_0", "Complete", new { @GroupName = "grpoffice", onclick = "return rbtncheck();" })&nbsp;Complete&nbsp;
                                                         @Html.RadioButton("rdStatus_1", "InComplete", new { @GroupName = "grpoffice", onclick = "return rbtncheck1();" })&nbsp;InComplete &nbsp;&nbsp;
                                                            @if (ViewBag.roleid != "1")
                                                            {
                                                        @Html.CheckBox("chkmsg", true, "Show this task on my schedule")  
                                                                                                         
                                                        <strong>Show this task on my schedule</strong>
                                                            }
                                                       &nbsp;
                                                       
                                                        </td>
                                                       
                                                        </tr>


                                                          <tr id="Tr5" class="white_color">
                                                        <td align="right">
                                                            &nbsp;&nbsp;&nbsp;<strong>Comments&nbsp;:&nbsp;</strong>
                                                        </td>
                                                        <td align="left" width="70%" id="tdnote">
                                                        @Html.TextArea("txtnotes", null, 3, 3, new { @class = "textfield", @style = "width:350px;height:110px;" })&nbsp;&nbsp
                                                        <span id="lblnote" style="font-weight: bold; color: Black;"></span><br />
                                                            (Maximum length 1000 characters)
                                                        </td>
                                                    </tr>
                                                    </table>
                                                    <table border="0" cellpadding="5" cellspacing="0" width="100%">
                    <tr class="background_color">
                        <td width="66%">
                        </td>
                        <td align="right" width="64%">
                        <input type="submit" title="Save" value="Save"  onclick="return validatetask();" class="button" />
                            &nbsp;
                           <input type="button" class="btnTask button" name="Cancel" value="Cancel" />
                        </td>
                    </tr>
                </table>
                                                 
    </div>
    </div>
}






     
</body>
</html>
