@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
        <title>Mower Helper-Find an Mower Helper</title>
                                   @Styles.Render("~/Content/themes/base/jqueryCSS")
                       @Styles.Render("~/Content/themes/base/autocomplete")
            @Scripts.Render("~/Scripts/Thscriptscript")
        <script type="text/javascript">
            function cancel() {
                window.location.href = "@Url.Action("AdminArea", "AdminHome")";
            }
    </script>
    
    <script type="text/javascript">

        $(document).ready(function () {

            $("#txtName").autocomplete
            ({

                source: 'GetProviderfullnames',
                minLength: 2,
                select: function (event, ui) {
                    $("#txtTitle").val(ui.item.value);
                }
            });
        });
        $(document).ready(function () {
            var TopIndex = '@Session["TopIndex"]';
             $("#Menu0").removeClass();
             $("#Menu1").removeClass();
             $("#Menu2").removeClass();
             $("#Menu3").addClass("active");
         });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var name = $('#hdnname').val();
            if (name != '') {
                $('#txtName').val(name);
            }

            var cat = $('#hdncat').val();
            if (cat != '') {
                $('#ddlcategory').val(cat);
            }

        });
        function ValidSearch() {
            document.forms.item(0).submit();
        }
    </script>


</head>
<body>
        @using (Html.BeginForm("Uploaddetails", "Adminarea", FormMethod.Post, null))
    {
        <div>
            @{Html.RenderAction("Topsection", "Tools");}
        </div>
        @Html.Partial("_NavigationTool")
            <input type="hidden" id="hdnname" name="hdnname" value="@ViewBag.name"/>
            <input type="hidden" id="hdncat" name="hdncat" value="@ViewBag.cat" />
    <table id="Table1"  border="0" style="padding-top:10px;">
                                            <tr>
                                                <td style="padding-left:500px;">
                                                    <strong>Name : </strong>&nbsp;
                         <input type="text" name="txtName"  id="txtName" class="textfield" onkeypress="return fnsetfocus(event,'btnsearch')"/>
                </td>
                                                <td>
                                                    <strong>Category : </strong>&nbsp;
                                                                                     @Html.DropDownList("ddlcategory", new List<SelectListItem>

                                                              {
                                                               new SelectListItem{ Text="Documents", Value = "Doc" },
                                                               new SelectListItem{ Text="Videos", Value = "Video" }
                                                              },
                                                             new { style = "font-family:arial;font-size:13px;height:20px;width:150px;" })
                </td>
                                                            <td align="left" style=" padding-top: 0px; padding-right:30px; width:7%;">
             @*<input type="submit" class="button" id="btnsearch" value="Search" onclick="return ValidSearch();" />*@
             <a id="btnsearch" href="#" onclick="return ValidSearch();" title="Search"><img alt="" id="" src="~/Images/search_button_green.png" style="width:30px;" /></a>
            </td>
                                            </tr>
                                        </table>
        
            <div id="main-content">
                    @{Html.RenderAction("Provideruploaddetails", "Adminarea");}

            </div>

<table  runat="server" width="98%">
                                    <tr class="background_color">
                                        <td style="text-align:right;padding-top:10px">
                                               <input value="Cancel" type="button" class="button" style="width: 60px;" id="btnclose1" onclick="return cancel();"/>
                                           
                                            
                                        </td>
                                    </tr>
                                </table>
            
            
    }
                                
</body>
</html>
